<template>
  <div :class="['vi-avatar-rail', railClass]">
    <div :class="['vi-avatar-widget', showAvatar]" @click="executeMethod()">
      <Avatar :size="size" :username="username" :rounded="false" :src="avatar"></Avatar>
    </div>
  </div>
</template>

<script>
  import Avatar from "vue-avatar";

  export default {
    name: "AvatarWidget",
    props: ["username", "avatar", "size", "uid", "railClass", "method"],
    components: {
      Avatar
    },
    methods: {
      executeMethod() {
        if (this.method) {
          this.method();
        }
      }
    },
    computed: {
      showAvatar: (ctx) => {
        return ctx.username && ctx.username.length ? 'show' : "";
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-avatar-rail
    display: flex
    justify-content: center

    &.vi-login-avatar
      position: absolute
      top: 0
      left: -3px

    .vi-avatar-widget
      opacity: 0
      +transition(all, 200ms)
      &.show
        opacity: 1

</style>
