<template>
  <div :id="gaugeId" :ref="gaugeId"></div>
</template>

<script>
  import Gauge from "svg-gauge";
  import AppTools from "../../assets/scripts/CommonTools";
  import {Constants} from "../../assets/scripts/Constants";

  export default {
    name: "TimeLeftGauge",
    props: ["gaugeId", "maxValue", "value", "angStart", "angEnd", "static"],
    data() {
      return {
        green: "#5ee432",
        orange: "#ffb200",
        red: "#ef4655",
        gauge: null
      }
    },
    created() {
      setTimeout(() => {
        this.generatePostTimeLeftGauge();
      }, 10)
    },
    watch: {
      value: function (val) {
        const newDaysValue = this.getDaysDiff();
        this.gauge.setValueAnimated(newDaysValue, 1);
      }
    },
    methods: {
      generatePostTimeLeftGauge() {
        this.gauge = Gauge(document.getElementById(this.gaugeId), {
          max: this.maxValue,
          label: function (value) {
            return Math.round(value);
          },
          value: this.static ? this.value : this.getDaysDiff(),
          dialStartAngle: this.angStart ? this.angStart : 90,
          dialEndAngle: this.angEnd ? this.angEnd : 0,
          color: (value) => {
            if (value > 20) {
              return this.green;
            } else if (value > Constants.POST_LIFE_RED_LINE && value <= 20) {
              return this.orange;
            } else {
              return this.red;
            }
          }
        });
      },

      /**
       * Данная функция вычисляет сколько дней объявление будет еще активно основываясь
       * на данных полученых из определенного объявления
       * @returns integer
       * Влад. 13/03/19
       */
      getDaysDiff() {
        const daysLeft = AppTools.getTimeDiff(this.$moment, this.value);
        return daysLeft !== null && daysLeft > -1 ? daysLeft + 1 : null;
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables.sass"
  .vi-post-time-left
    display: flex
    justify-content: center
    width: 60px
    height: 60px

    svg
      height: 100%

    .gauge > .dial
      stroke: #eee
      stroke-width: 5
      fill: rgba(0, 0, 0, 0)

    .gauge > .value
      stroke: rgb(47, 227, 255)
      stroke-width: 4
      fill: rgba(0, 0, 0, 0)

    .gauge > .value-text
      fill: $very_dark_grey
      font-family: sans-serif
      font-size: 2em

  @media (prefers-color-scheme: dark)
    .vi-post-time-left
     // .gauge > .dial
       // stroke: $dm_input_bgr

</style>
