<template>
  <div class="vi-login-widget">
    <button @click="openLogin()" v-if="user_details && !user_details.account_id">{{astrings.login}}</button>
    <v-popover offset="6" v-if="user_details && user_details.account_id"
               popover-inner-class="tooltip-inner popover-inner vi-logged-in-menu">
      <button @click.prevent="">
        <AvatarWidget :size="38"
                      :username="user_details.account_name"
                      :avatar="user_details.contact_details.avatar"
                      rail-class="vi-login-avatar">
        </AvatarWidget>
      </button>
      <template slot="popover">
        <button v-close-popover @click="goToCabinet()" v-once>{{astrings.cabinet}}</button>
        <button v-close-popover @click="confirmLogout()" v-once>{{astrings.logout}}</button>
      </template>
    </v-popover>
  </div>
</template>

<script>
  import Authentication from "@/assets/firestore/authentication";
  import {mapState, mapMutations} from "vuex";
  import Logout from "@/components/dialogs/ConfirmLogoutDialog";
  import {Constants} from "../../assets/scripts/Constants";
  import CFC from "@/assets/firestore/CommonFirestoreCaller";
  import Navigator from "../../assets/scripts/Navigator";
  import Avatar from "vue-avatar";
  import AvatarWidget from "./AvatarWidget";
  import LoginDialogOpener from "../../assets/mixins/LoginDialogOpener";

  export default {
    name: "LoginWidget",
    mixins: [LoginDialogOpener],
    components: {
      Avatar,
      AvatarWidget
    },
    created() {
      Authentication.auth().onAuthStateChanged(user => {
        if (user) {
          this.onLogIn(user);
        } else {
          this.onLogOut();
        }
      });
    },
    data() {
      return {
        nav: new Navigator(this.$router),
        avatar: null
      }
    },
    methods: {
      ...mapMutations([
        "setVuexUserDetails",
      ]),
      openLogin() {
        this.openLoginDialog();
      },
      confirmLogout() {
        this.$modal.show(Logout, {logout: this.logout}, {
          width: window.outerWidth < Constants.PHONE_WIDTH ? "95%" : "550",
          height: "270",
          clickToClose: false
        });
      },
      goToCabinet() {
        this.nav.goToCabinet();
      },
      logout() {
        Authentication.logout();
      },

      onLogIn(user) {
        this.setLoggedUserData(user.uid);
      },

      onLogOut() {
        this.setVuexUserDetails({});
      },
      /**
       * This function updates user details in Vuex data object
       * Vlad. 16/01/18
       */
      setLoggedUserData(id) {
        CFC.getUserDetails(id).then(details => {
          const dToSet = details ? details : null;
          this.setVuexUserDetails(dToSet);
        });
      }
    },
    computed: {
      ...mapState(["astrings", "user_details"]),
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"

  .vi-login-widget
    align-content: center
    justify-content: flex-end
    +setGridAuto(auto, 20px, "columns")

    button, a
      display: flex
      width: 40px
      height: 42px
      border: none
      padding: 0
      color: $c_dark_brown
      font-size: $regular_font
      align-items: center
      position: relative

  .tooltip-inner.vi-logged-in-menu
    padding: 0

    button, a
      text-decoration: none
      display: flex
      height: 40px
      color: $c_dark_brown
      padding: 0 10px
      width: 100%
      font-size: $regular_font
      align-items: center

      &:hover
        background: $c_link_hover


</style>
