<template>
  <section class="vi-post-status-widget">
    <label :class="getStatusClass">{{getStatusString}}</label>
  </section>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "PostStatusWidget",
    props: ["post"],
    computed: {
      ...mapState(["istrings"]),
      getStatusString: (ctx) => {
        if (ctx.post.rejected) {
          return ctx.istrings.status_rejected;
        } else {
          return ctx.post.approved ? ctx.istrings.status_active : ctx.istrings.status_on_check;
        }
      },
      getStatusClass: (ctx) => {
        if (ctx.post.rejected) {
          return "status-rejected";
        } else {
          return ctx.post.approved ? "status-active" : "status-pending";
        }
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables.sass"
  .vi-post-status-widget
    label
      padding: 5px 10px
      color: white
      display: inline-block


  .status-active
    background-color: $main_green

  .status-pending
    background-color: $dark_orange

  .status-rejected
    background-color: $main_red

</style>
