<template>
  <div class="vi-views-amount-widget">
    <i>
      <EyeIcon fill="#9C6718"></EyeIcon>
    </i>
    <span>{{amount ? amount : 0}}</span>
  </div>
</template>

<script>
  import EyeIcon from "../icons/eye_icon";
    export default {
        name: "ViewsAmountWidget",
        props: ["amount"],
        components: {
            EyeIcon
        }
    }
</script>

<style lang="sass">
  @import "../../assets/styles/variables.sass"
  .vi-views-amount-widget
    height: 35px
    box-sizing: border-box
    border-radius: 50%
    position: relative
    display: flex
    align-items: center
    justify-content: center

    i
      width: 30px
      height: 30px
      background-size: contain
      border-radius: 50%



</style>
