<template>
  <div>
    <h2 class="vi-view-section-title vi-cab-mobile-ttl" v-if="is_phone">{{getName}}</h2>
    <ul class="vi-clues-list">
      <li>
        <span class="vi-centralize">
          <i class="vi-post-pending"></i>
        </span>
        <p>{{istrings.clue_on_review}}</p>
      </li>
      <li>
        <span class="vi-centralize">
          <rejected-icon></rejected-icon>
        </span>
        <p>{{istrings.clue_rejected}}</p>
      </li>
      <li>
        <ViewsWidget :amount="100"/>
        <p>{{istrings.clue_views_amount}}</p>
      </li>
      <li>
        <span class="vi-centralize">
          <ChartIcon fill="#9C6718"/>
        </span>
        <p>{{istrings.clue_analytics}}</p>
      </li>
      <li>
        <TimeLeftGauge gauge-id="demo-gauge"
                       :value="50"
                       class="vi-post-time-left"
                       :static="true"
                       :max-value="60">
        </TimeLeftGauge>
        <p>{{istrings.clue_time_left}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import TimeLeftGauge from "../../components/widgets/Gauge";
  import ViewsWidget from "@/components/widgets/ViewsAmountWidget";
  import ChartIcon from "@/components/icons/chart_icon";
  import CabinetViewHeaderMixin from "@/assets/mixins/CabinetHeadNamesMixin";
  import RejectedIcon from "../../components/icons/rejected_icon";

  export default {
    name: "regulations",
    mixins: [CabinetViewHeaderMixin("rules")],
    components: {
      TimeLeftGauge,
      ViewsWidget,
      ChartIcon,
      RejectedIcon
    },
    computed: {
      ...mapState(["astrings", "istrings", "user_details", "is_phone"]),
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables.sass"
  .vi-clues-list
    padding: 20px
    +setGridAuto(auto, 20px, "rows")

    li
      align-items: center
      font-size: $regular_font
      +setGrid(60px 1fr, 10px, null, null, "columns")

  @media (prefers-color-scheme: dark)
    .vi-clues-list li
      /*color: white*/
</style>
