<template>
  <section>
    <h2 class="vi-view-section-title vi-cab-mobile-ttl" v-if="is_phone">{{getName}}</h2>
    <form class="vi-contact-form">
      <vi-input :header="istrings.you_email"
                v-model="form.email"
                type="email"
                validate-options="required|email"
                field-icon="vi-required-i"
                name="email">
      </vi-input>
      <vi-input :header="istrings.question_title"
                v-model="form.title"
                field-icon="vi-required-i"
                name="message_title"
                validate-options="required">
      </vi-input>

      <vi-textarea add-class="vi-contact-msg"
                   :header="istrings.question"
                   v-model="form.message"
                   maxlength="1000"
                   name="message_content"
                   validate-options="required"
                   field-icon="vi-required-i">
      </vi-textarea>
      <div class="vi-contact-footer">
        <button class="vi-submit-btn" @click.prevent="sendQuestion()">{{astrings.send}}</button>
      </div>
    </form>
    <Preloader v-if="sending_letter" :message="istrings.sending_question"></Preloader>
  </section>
</template>

<script>
  import {mapState} from "vuex";
  import platform from "platform";
  import {Firebase} from "@/assets/firestore/firebaseConf";
  import Preloader from "@/components/Preloader";
  import Notifications from '@/assets/scripts/Notifications';
  import CabinetViewHeaderMixin from "@/assets/mixins/CabinetHeadNamesMixin";

  export default {
    name: "contacts",
    mixins: [CabinetViewHeaderMixin("contactUs")],
    components: {Preloader},
    data() {
      return {
        sending_letter: false,
        form: {
          email: null,
          title: null,
          message: null,
          pl_product: platform.product || "Не найдено",
          pl_manufacturer: platform.manufacturer || "Не найдено",
          pl_description: platform.description
        }
      }
    },
    computed: {
      ...mapState(["astrings", "istrings", "user_details", "is_phone"]),
    },
    methods: {
      /**
       * Функция отправляющая вопрос пользователя в техническую поддержку
       * Влад. 27/09/19
       */
      sendQuestion() {
        this.$validator.validate().then((isValid) => {
          if (isValid) {
            this.sending_letter = true;
            const sendQuestion = Firebase.functions().httpsCallable('sendQuestion');
            sendQuestion(this.form).then(() => {
              this.sending_letter = false;
              this.resetFormFields();
              Notifications.showSuccess(this.istrings.thanks, this.istrings.letter_sent_ntf);
            }).catch(error => {
              this.sending_letter = false;
              Notifications.showError(this.istrings.error, this.istrings.msg_send_error);
            });
          } else {
            Notifications.showWarning(this.astrings.attention, this.astrings.notifications.fill_required);
          }
        })

      },

      /**
       * Данная функция очищает все заполненые поля после того как вопрос пользователя
       * был успешно отправлен.
       * Влад. 27/09/19
       */
      resetFormFields() {
        const fieldsToReset = ["email", "title", "message"];
        fieldsToReset.forEach(field => {
          this.form[field] = null;
        })
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-contact-form
    height: 100%
    box-sizing: border-box
    padding: 30px 150px 20px 150px
    +setGrid(null, null, auto auto 1fr auto, 20px, "rows")

  .vi-contact-footer
    display: flex
    justify-content: flex-start

  .vi-contact-msg
    height: 200px

  @media all and (max-width: $tablet_media)
    .vi-contact-form
      padding: 20px 100px

  @media all and (max-width: $smartphone_media)
    .vi-contact-form
      height: calc(100% - 40px)
      padding: 20px

    .vi-contact-msg
      height: 100%

</style>
