<template>
  <div class="vi-my-posts-frame">
    <h2 class="vi-view-section-title vi-cab-mobile-ttl" v-if="is_phone">{{getName}}</h2>
    <div class="vi-scrollable vi-my-posts-list" v-if="postResults">
      <section v-for="(group, i) in postResults" :key="i">
        <div class="vi-posts-group-ttl">
          <span>{{getGroupName(i)}}</span>
          <span>({{group.length}})</span>
        </div>
        <ul>
          <li v-for="post in group" :key="post.id" @click="openPostFullView(post)">
            <h4>{{getProductString(post)}}</h4>
            <section v-if="!is_phone">
              <div class="vi-my-post-cell" v-if="post.stone">
                <h5>{{astrings.post_form.central_stone}}</h5>
                <span>{{getStoneString(astrings.post_form.post_stones, post)}}</span>
              </div>
              <div class="vi-my-post-cell" v-if="i !== con.ITEM_GROUP_WATCH">
                <span v-weight-format="{post: post, field: i === con.ITEM_GROUP_STONE ? 'stone_weight' : 'central_weight'}"></span>
              </div>
              <div class="vi-my-post-cell" v-if="i === con.ITEM_GROUP_WATCH">
                <span>{{post.watch_model ? post.watch_model : "---"}}</span>
              </div>
            </section>
            <span>{{getPrice(post)}}</span>
            <div class="vi-my-post-row-gauges">
              <i class="vi-post-pending" :title="astrings.status_on_check" v-if="!post.approved && !post.rejected"></i>
              <rejected-icon v-if="!post.approved && post.rejected"></rejected-icon>
              <TimeLeftGauge v-if="post.approved"
                             :gauge-id="post.id"
                             :value="post.expires_at_ts"
                             class="vi-post-time-left"
                             :title="astrings.post_time_left"
                             :max-value="postLifeSpan">
              </TimeLeftGauge>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <vi-list-placeholder v-if="!postResults && !show_app_loader"
                         :message="istrings.my_posts_list_empty"
                         icon-class="vi-sad-face-i">
    </vi-list-placeholder>
  </div>
</template>

<script>
  import {mapState, mapMutations} from "vuex";
  import {Firestore} from "@/assets/firestore/firebaseConf";
  import {Constants} from "../../assets/scripts/Constants";
  import Authentication from "@/assets/firestore/authentication";
  import AppTools from "../../assets/scripts/CommonTools";
  import PostFullView from "@/components/dialogs/MyPostFullViewDialog";
  import TimeLeftGauge from "../../components/widgets/Gauge";
  import CabinetViewHeaderMixin from "@/assets/mixins/CabinetHeadNamesMixin";
  import RejectedIcon from "../../components/icons/rejected_icon";

  export default {
    name: "my-posts",
    mixins: [CabinetViewHeaderMixin("myPosts")],
    components: {
      PostFullView,
      TimeLeftGauge,
      RejectedIcon
    },
    data() {
      return {
        postResults: null,
        postLifeSpan: Constants.POST_LIFE_SPAN,
        con: Constants,
        fireListen: null
      }
    },
    created() {
      if (!this.user_details.account_id) {

        Authentication.auth().onAuthStateChanged(user => {
          if (user) {
            this.fetchMyPosts(user.uid);
          } else {
            this.fireListen();
          }
        });
      } else {
        this.fetchMyPosts(this.user_details.account_id);
      }

      this.$bus.off(Constants.BUS_UPD_POST_EXP);
      this.$bus.on(Constants.BUS_UPD_POST_EXP, this.onPostLiveExtended);
    },
    beforeDestroy() {
      this.fireListen();
    },
    computed: {
      ...mapState(["astrings", "istrings", "user_details", "show_app_loader", "is_phone"]),
    },
    methods: {
      ...mapMutations([
        "setVuexAppLoader",
        "setVuexCacheForPersonalDetails"
      ]),
      fetchMyPosts(userId) {
        if (userId) {
          this.setVuexAppLoader(true);
          this.fireListen = Firestore.collection(`${Constants.FIRE_S_POSTS_BY_USER}/${userId}/posts`).orderBy("renewed_at_ts", "desc").onSnapshot((data) => {
            this.setVuexAppLoader(false);
            this.postResults = null;
            if (data.size) {
              const rawData = [];
              data.forEach(function (doc) {
                rawData.push(doc.data());
              });
              this.splitPostToGroups(rawData);
            }
          });
        }
      },
      /**
       * Данная функция реагирует когда пользователь кликает на строку объявления.
       * Функция открывает дайлог с полными данными объявления
       * @param post объект содержащий полные данные объявления.
       * Влад. 14/03/19
       */
      openPostFullView(post) {
        const ww = window.innerWidth;
        const dw = ww > 600 ? "80%" : "95%";
        const dh = ww > 600 ? "90%" : "95%";
        this.$modal.show(PostFullView, {post: post}, {
          width: dw,
          height: dh
        });
      },
      /**
       * Данная функция получает список объявлений пользователя и групирует объявления по
       * категориям, чтобы у пользователя не начался припадок епилепсии когда он увидит
       * хаотичный список объявлений
       * @param allPosts - не упорядоченый список объявлений пользователя
       * Влад. 07/11/19
       */
      splitPostToGroups(allPosts) {
        this.postResults = {};
        allPosts.forEach(post => {
          const postGroup = AppTools.getPostGroup(post);
          if (!this.postResults[postGroup]) {
            this.postResults[postGroup] = [];
          }
          this.postResults[postGroup].push(post);
        });
      },
      /**
       * Данная функция в ручную обновляет индикатор срока действия объявление
       * после того как пользователь нажал на книпку продлить срок действия объявления.
       * Причина: оптимизация, целесообразнее в ручную обновить одно поле вместо того чтобы запрашивать
       * кучу данных ради одного поля.
       * @param payload - объект содержащий нужные данные для данного процесса
       * Влад. 06/01/19
       */
      onPostLiveExtended(payload) {
        const postGroup = AppTools.getPostGroup(payload.post);
        if (postGroup) {
          const index = this.postResults[postGroup].findIndex(groupItem => groupItem.id === payload.post.id);
          if (index !== null && index > -1) {
            this.postResults[postGroup][index].expires_at_ts = payload.newTimestamp;
          }
        }
      },
      getGroupName(groupId) {
        return this.astrings.post_option_groups.find(group => group.key === groupId).name;
      },
      getProductString: (post) => {
        return AppTools.getProductString(post);
      },
      getPrice(post) {
        return AppTools.formatPrice(post.price);
      },
      getStoneString: (stones, post) => {
        if (post.stone) {
          return stones.find(stone => stone.key === post.stone).text;
        }
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-my-posts-frame
    overflow: hidden
    display: flex
    flex-direction: column
    position: relative

    ul
      width: 100%
      box-sizing: border-box
      +setGridAuto(70px, 0, "rows")

    li
      cursor: pointer
      align-items: center
      height: 100%
      padding: 0 20px
      +setGrid(minmax(50px, 130px) 1fr auto 60px, 20px, null, null, "columns")
      &:nth-child(odd)
        background: #FDFBF5
      &:last-child
        border-bottom-right-radius: $main_bord_rad
        border-bottom-left-radius: $main_bord_rad

      h4
        font-size: $regular_font
        font-family: Montserrat-Medium, sans-serif
        font-weight: normal

      section
        justify-content: start
        +setGridAuto(auto, 20px, "columns")

  .vi-my-posts-list
    +setGridAuto(auto, null, "rows")


  .vi-posts-group-ttl
    padding: 0 20px
    height: 50px
    align-items: center
    justify-content: flex-start
    background: white
    color: $c_brown
    background: $light_grey
    font-family: Montserrat-Medium, sans-serif
    +setGridAuto(auto, 5px, "columns")

  .vi-my-post-cell
    +setGridAuto(auto, 7px, "rows")

    span
      font-size: $small_font

    h5
      color: $very_dark_grey

  .vi-my-post-row-gauges
    display: flex
    justify-content: center
    width: 60px

  @media all and (max-width: $smartphone_media)
    .vi-my-posts-frame

      li
        padding: 0 10px 0 20px
        grid-template-columns: 1fr auto auto

    .vi-my-posts-list
      .vi-view-section-title
        margin: 0

</style>
