<template>
  <div class="vi-new-post-content vi-bordered-tile">
    <h2 class="vi-view-section-title vi-cab-mobile-ttl" v-if="is_phone">{{getName}}</h2>
    <div class="vi-view-head-section">
      <button class="vi-submit-btn" @click.prevent="publishPost()" :disabled="form_request_sent">{{astrings.publish}}
      </button>
    </div>
    <div class="vi-form-saver">
      <div class="vi-form-absolute">
        <PostForm pulish-fuction="publishPost()"></PostForm>
      </div>
    </div>
  </div>
</template>

<script>
  import PostForm from "../../components/PostForm";
  import {mapState, mapMutations} from "vuex";
  import {Constants} from "../../assets/scripts/Constants";
  import AppTools from "../../assets/scripts/CommonTools";
  import CabinetViewHeaderMixin from "@/assets/mixins/CabinetHeadNamesMixin";

  export default {
    name: "new-post",
    mixins: [CabinetViewHeaderMixin("createNew")],
    components: {PostForm},
    /**
     * Короче, этот воркераунд сделан изза бермудского треугольника в IOS
     * который заключается в том что когда пользователь заходит на данную страницу то почему то
     * ивенты замерзают/засыпают/глючат, короче хер его знает что происходит, но элемеенты данной страницы
     * не активны. Я долго ебался с этим и даже проводил разные языческие ритуалы вопрошая отвеет у древних
     * духов, но даже они были безмолвны и не дали ответ на то как справиться с данной хуйней. Я грешу на
     * 13 версию IOS, может там какой то баг, но в других системах такая хуета не наблюдается.
     * Нужно вернуться к проверке данной проблемы через какое то время. Возможно она самоликвидируется с каким
     * нибудъ обновлением или с божьим чудом.
     * @param to
     * @param from
     * @param next
     * Влад. 15/03/20
     * TODO Проверить наличие проблемы в новой IOS и если все ништяк, то удалить этот кусок кода
     */
    beforeRouteEnter (to, from, next) {
      if (AppTools.isIos() && from.name && to.name === "cabinet-new-post") {
        next();
        window.location.reload();
      } else {
        next();
      }
    },
    computed: {
      ...mapState(["astrings", "is_phone", "form_request_sent", "refresh_new_post"])
    },
    methods: {
      ...mapMutations(["setVuexRefreshPage"]),
      publishPost() {
        this.$bus.emit(Constants.BUS_SAVE_POST);
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-new-post-content
    overflow: hidden
    position: relative
    align-items: flex-start
    padding: 0 0 10px 0
    +setGrid(null, null, auto 1fr, 15px, "rows")

  .vi-view-head-section
    height: 60px
    display: flex
    align-items: center
    padding: 0 10px
    justify-content: flex-start
    z-index: 1
    +shadowGenerator(0px 2px 3px 0px rgba(0, 0, 0, 0.1))

  .vi-form-saver
    position: relative
    overflow: hidden
    height: 100%
    +setGrid(1fr, null, 1fr, null, "both")

  .vi-form-absolute
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

  @media all and (max-width: $smartphone_media)
    .vi-view-head-section
      margin: 0
    .vi-new-post-content
      grid-template-rows: auto auto 1fr
      grid-row-gap: 0
    .vi-form-absolute .vi-post-form
      padding: 10px 15px 0 15px
</style>
