<template>
  <section class="vi-profile-page">
    <h2 class="vi-view-section-title vi-cab-mobile-ttl" v-if="is_phone">{{getName}}</h2>
    <div class="vi-scrollable">
      <h4 class="">{{istrings.avatar}}</h4>
      <div class="vi-avatar-rail">
        <Avatar :username="getAvatarText"
                :src="getAvatarSrc"
                :size="150"
                :rounded="true"
                class="vi-bordered-tile">
        </Avatar>
        <DropZ :zone-instance="avatarDz"
               class="vi-avatar-dz"
               :thumbnail="avatar"
               :max-files="1"
               :is-avatar="true"
               def-msg="ЗАГРУЗИТЬ АВАТАР">
        </DropZ>
        <DeleteAvatarButton :delete-avatar="deleteAvatar" v-if="deleteAvatarBtnShow"></DeleteAvatarButton>
      </div>

      <div class="vi-profile-inputs">
        <h4 class="">{{istrings.contact_details}}</h4>
        <div class="vi-auto-grid">
          <vi-input :header="astrings.name" v-model="contactDetails.contact_name"></vi-input>
          <vi-picker :header="astrings.city"
                     :pdata="icities"
                     v-model="contactDetails.city"
                     key-name="val"
                     value-name="val">
          </vi-picker>
          <phone-input :header="astrings.phone_number" v-model="contactDetails.phone"></phone-input>
          <phone-input header="WhatsApp" v-model="contactDetails.whatsapp"></phone-input>
          <phone-input header="Telegram" v-model="contactDetails.telegram"></phone-input>
          <phone-input header="Viber" v-model="contactDetails.viber"></phone-input>
          <vi-input :header="astrings.email"
                    v-model="contactDetails.email"
                    type="email"
                    validate-options="email"
                    name="email">
          </vi-input>
          <vi-input header="Skype" v-model="contactDetails.skype"></vi-input>
        </div>
        <article class="vi-alert vi-alert-info">{{istrings.profile_desc}}</article>
      </div>
    </div>
    <footer>
      <button class="vi-submit-btn" @click="saveMyDetails()" :disabled="saveButtonState">{{istrings.save}}</button>
    </footer>
    <preloader v-if="preloading" container-class="vi-lower-z-index"></preloader>
  </section>
</template>

<script>
  import Avatar from 'vue-avatar';
  import {mapState, mapMutations} from "vuex";
  import PhoneInput from "@/components/inputs/phone-input";
  import Notifications from '@/assets/scripts/Notifications';
  import {Constants} from "../../assets/scripts/Constants";
  import {Firestore, Firebase} from "../../assets/firestore/firebaseConf";
  import AppTools from "../../assets/scripts/CommonTools";
  import Preloader from "../../components/Preloader";
  import DropZ from "@/components/ImagesDropZone";
  import DeleteAvatarButton from "../../components/DeleteAvatarButton";
  import CabinetMixin from "@/assets/mixins/CabinetHeadNamesMixin";

  export default {
    name: "profile",
    components: {
      Preloader,
      Avatar,
      PhoneInput,
      DropZ,
      DeleteAvatarButton
    },
    mixins: [CabinetMixin("profile")],
    data() {
      return {
        avatarPath: null,
        contactDetPath: null,
        avatar: {
          file: null
        },
        avatarDz: {
          zone: null
        },
        preloading: false,
        contactDetails: AppTools.clone(Constants.USER_CONTACT_DET)
      }
    },
    created() {
      this.setUserDetailsInView();
    },
    computed: {
      ...mapState(["user_details", "istrings", "astrings", "is_phone", "icities"]),
      getAvatarText: (ctx) => {
        return ctx.user_details.account_name ? ctx.user_details.account_name : "";
      },
      getAvatarSrc: (ctx) => {
        return ctx.contactDetails.avatar ? ctx.contactDetails.avatar : null;
      },
      saveButtonState: (ctx) => {
        return ctx.disableSaveButtonState(ctx);
      },
      deleteAvatarBtnShow: (ctx) => {
        return ctx.contactDetails.avatar && !ctx.avatar.file;
      }
    },
    watch: {
      "user_details": function (data) {
        if (data) {
          this.setUserDetailsInView()
        }
      }
    },
    methods: {
      ...mapMutations(["setVuexContactDetails"]),
      setUserDetailsInView() {
        if (this.user_details.account_id) {
          this.avatarPath = Firebase.storage().ref().child(`avatars/${this.user_details.account_id}/avatar.png`);
          this.contactDetPath = Firestore.doc(`${Constants.FIRE_S_USERS}/${this.user_details.account_id}`);
          if (this.user_details.contact_details) {
            this.contactDetails = AppTools.clone(this.user_details.contact_details);
          }
        }
      },
      /**
       * Функция сохраняющая контактные данные пользователя
       * Влад. 09/05/20
       */
      saveMyDetails() {
        this.$validator.validate().then((isValid) => {
          if (isValid) {
            if (!this.disableSaveButtonState()) {
              this.preloading = true;
              if (this.avatar.file) {
                this.uploadAvatar();
              } else {
                this.saveDetailsInFirebase();
              }
            }
          } else {
            Notifications.showError(this.astrings.attention, this.istrings.incorrect_fields)
          }
        });
      },

      /**
       * Функция закачивающая аватар в Firebase Storage
       * Влад. 09/05/20
       */
      uploadAvatar() {
        this.avatarPath.put(this.avatar.file).then((snap) => {
          if (snap) {
            this.avatarPath.getDownloadURL().then((url) => {
              this.contactDetails.avatar = url;
              this.saveDetailsInFirebase();
              this.saveAvatarUrlInPublicDetails(url);
            });
          }
        });
      },

      /**
       * Функция записывающая линк на аватар в таблицу с публичными данными пользователя.
       * Эта же функция используется при удалеении аватара
       * Влад. 12/05/20
       */
      saveAvatarUrlInPublicDetails(url = null) {
        Firestore.doc(`${Constants.FIRE_S_USERS_PUB}/${this.user_details.account_id}`).update({
          avatar: url
        })
      },

      /**
       * Функция удаляющая аватар пользователя из базы данных, чтоб его ебло больше не фигурировало
       * у нас на сайте.
       * Влад. 11/05/20
       */
      deleteAvatar() {
        if (this.avatarPath) {
          this.preloading = true;
          this.avatarPath.delete().then(() => {
            this.contactDetails.avatar = null;
            this.saveDetailsInFirebase();
            this.saveAvatarUrlInPublicDetails();
          })
        }
      },

      /**
       * Функция сохраняющая контактные данные пользователя в фаербэйсе
       * Влад. 09/05/20
       */
      saveDetailsInFirebase() {
        this.contactDetPath.update({
          contact_details: this.contactDetails
        }).then(() => {
          this.updateUserDataInAppVuex();
          this.$bus.emit(Constants.BUS_RESET_DZONE);
          Notifications.showSuccess("", this.istrings.deetails_saved_ntf)
        }).catch(err => {
          Notifications.showError(this.istrings.error, this.istrings.saving_error)
        });
      },

      /**
       * Функция обновляющая данные в application store, после каждого изменения пользователем,
       * чтобы бе бужно было перезагружать страницу
       * Влад. 11/05/20
       */
      updateUserDataInAppVuex() {
        this.preloading = false;
        const clonedData = AppTools.clone(this.contactDetails);
        this.setVuexContactDetails(clonedData);
      },

      disableSaveButtonState(ctx) {
        const self = ctx || this;
        return self.user_details
          && self.user_details.contact_details
          && JSON.stringify(self.user_details.contact_details) === JSON.stringify(self.contactDetails)
          && !self.avatar.file;
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-profile-page
    position: relative
    box-sizing: border-box
    overflow: hidden
    +setGrid(null, null, 1fr, null, "rows")

    footer
      padding: 20px

    .vi-avatar-dz
      position: absolute


    .vi-dropzone-element.vi-avatar-dz
      display: flex
      align-items: flex-end
      justify-content: center

      .dz-message
        margin: 15px 0
        font-size: $small_font

    .vi-scrollable
      padding: 20px

    .vi-avatar-rail
      margin: 20px 0
      position: relative
      justify-content: flex-start
      +setGridAuto(auto, 15px, "rows")

  .vi-profile-inputs
    +setGridAuto(auto, 20px, "rows")


  @media all and (max-width: $smartphone_media)
    .vi-profile-page footer
      padding: 10px 20px 15px 20px
      +setGridAuto(1fr, 20px, "columns")


</style>
