<template>
  <svg height="30" :viewBox="viewbox ? viewbox : '0 140 500 400'" :width="width ? width : 30" :fill="fill ? fill : ''"
       xmlns="http://www.w3.org/2000/svg">
    <g>
      <rect width="512" height="40"/>
    </g>
    <g>
      <polygon points="256.08,83.795 152.938,185.778 181.062,214.222 236,159.901 236,512 276,512 276,160.285 329.857,214.142
			358.143,185.858 		"/>
    </g>
  </svg>
</template>

<script>
  export default {
    name: "arrow_up",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>
