<template>
  <svg height="17" :viewBox="viewbox ? viewbox : '0 15 500 400'" :width="width ? width : 17"
       :fill="fill ? fill : '#c70700'" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path d="M510.025,139.609l-85.333-102.4c-1.621-1.937-4.019-3.063-6.554-3.063H93.871c-2.534,0-4.932,1.118-6.554,3.063
			l-85.333,102.4c-2.125,2.543-2.586,6.084-1.178,9.079c1.408,2.995,4.42,4.915,7.731,4.915h494.933c3.311,0,6.323-1.92,7.731-4.915
			C512.602,145.702,512.15,142.16,510.025,139.609z M26.757,136.537l71.108-85.333h316.271l71.108,85.333H26.757z"/>
    </g>

    <g>
      <path d="M263.898,39.402c-1.323-3.191-4.437-5.265-7.885-5.265H93.88c-3.055,0-5.871,1.63-7.398,4.284s-1.519,5.905,0.026,8.55
			l59.733,102.4c1.331,2.278,3.644,3.823,6.272,4.164c0.367,0.043,0.734,0.068,1.092,0.068c2.253,0,4.429-0.887,6.042-2.5
			l102.4-102.4C264.487,46.263,265.221,42.593,263.898,39.402z M155.397,131.212l-46.669-80.008h126.677L155.397,131.212z"/>
    </g>

    <g>
      <path d="M511.109,141.281c-1.434-2.91-4.403-4.753-7.646-4.753H8.53c-3.243,0-6.204,1.843-7.646,4.753
			c-1.434,2.91-1.101,6.383,0.87,8.96l247.467,324.267c1.613,2.116,4.122,3.362,6.784,3.362s5.171-1.246,6.767-3.362
			l247.467-324.267C512.21,147.664,512.542,144.191,511.109,141.281z M256.005,455.274L25.784,153.604h460.442L256.005,455.274z"/>
    </g>

    <g>
      <path d="M264.146,466.76l-102.4-324.267c-1.126-3.55-4.412-5.965-8.141-5.965H8.538c-3.243,0-6.204,1.843-7.646,4.753
			c-1.434,2.91-1.101,6.383,0.87,8.96l247.467,324.267c1.655,2.176,4.19,3.362,6.784,3.362c1.331,0,2.679-0.307,3.925-0.973
			C263.617,474.995,265.391,470.711,264.146,466.76z M25.784,153.604H147.35l85.811,271.736L25.784,153.604z"/>
    </g>

    <g>
      <path d="M425.537,38.421c-1.519-2.654-4.343-4.284-7.398-4.284H256.005c-3.447,0-6.562,2.074-7.885,5.265
			c-1.323,3.191-0.589,6.861,1.852,9.301l102.4,102.4c1.604,1.613,3.78,2.5,6.033,2.5c0.367,0,0.734-0.026,1.101-0.068
			c2.62-0.341,4.941-1.877,6.272-4.164l59.733-102.4C427.047,44.326,427.056,41.075,425.537,38.421z M356.613,131.212
			l-80.009-80.008h126.677L356.613,131.212z"/>
    </g>

    <g>
      <path d="M511.126,141.299c-1.434-2.91-4.403-4.753-7.646-4.753H358.413c-3.729,0-7.023,2.415-8.141,5.965l-102.4,324.267
			c-1.246,3.942,0.529,8.226,4.207,10.138c1.246,0.648,2.594,0.956,3.925,0.956c2.586,0,5.12-1.186,6.784-3.345l247.467-324.267
			C512.227,147.681,512.559,144.208,511.126,141.299z M278.849,425.339l85.811-271.736h121.566L278.849,425.339z"/>
    </g>

  </svg>
</template>

<script>
  export default {
    name: "diamond_icon",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>
