<template>
  <svg height="17" :viewBox="viewbox ? viewbox : '0 15 500 400'" :width="width ? width : 17"
       :fill="fill ? fill : '#c70700'" xmlns="http://www.w3.org/2000/svg">
    <path d="m105.166 312.871-6.393 20.103c-2.165 6.809-8.462 11.155-15.244 11.155-10.786 0-18.54-10.511-15.252-20.853l6.393-20.103c2.678-8.421 11.679-13.077 20.097-10.399 8.42 2.679 13.077 11.676 10.399 20.097zm339.225 93.548h-160.748c-13.544 0-26.117-5.104-35.626-14.242-9.509 9.139-22.082 14.242-35.626 14.242h-160.748c-34.953 0-59.766-33.925-49.175-67.237l22.641-71.2c6.842-21.512 26.604-35.964 49.175-35.964h45.594c-4.596-11.08-5.167-23.419-1.409-35.237l22.641-71.2c6.842-21.512 26.604-35.964 49.175-35.964h115.467c22.571 0 42.333 14.452 49.174 35.964l22.642 71.2c3.758 11.818 3.187 24.157-1.409 35.237h45.594c22.571 0 42.333 14.452 49.174 35.964l22.642 71.2c10.588 33.309-14.222 67.237-49.178 67.237zm-276.748-174.402h160.748c13.277 0 22.703-12.887 18.679-25.54l-22.641-71.2c-2.599-8.171-10.104-13.661-18.679-13.661h-115.466c-8.574 0-16.08 5.49-18.68 13.661l-22.64 71.2c-4.023 12.653 5.402 25.54 18.679 25.54zm90.904 32h-21.061c1.081 2.643.566 1.223 10.531 32.557 9.78-30.755 9.437-29.884 10.53-32.557zm-26.542 90.488c-.078-4.006.999.453-23.575-76.826-2.599-8.171-10.104-13.661-18.679-13.661-11.186 0-101.717 0-115.467 0-8.574 0-16.08 5.49-18.68 13.661l-22.64 71.2c-4.024 12.652 5.401 25.54 18.679 25.54h160.748c10.511 0 19.507-8.216 19.614-19.914zm231.065-5.626-22.641-71.2c-2.599-8.171-10.104-13.661-18.679-13.661-13.299 0-104.494 0-115.467 0-8.574 0-16.08 5.49-18.68 13.661-24.367 76.634-23.594 73.053-23.576 76.986-.115 10.401 8.274 19.754 19.615 19.754h160.748c13.278 0 22.704-12.887 18.68-25.54zm-136.304-56.105c-8.417-2.678-17.419 1.979-20.097 10.399l-6.393 20.103c-3.295 10.363 4.483 20.853 15.252 20.853 6.782 0 13.079-4.347 15.244-11.155l6.393-20.103c2.679-8.421-1.978-17.418-10.399-20.097zm-127.237-91.047c6.782 0 13.079-4.347 15.244-11.155l6.393-20.103c2.678-8.421-1.979-17.418-10.399-20.097-8.42-2.675-17.418 1.979-20.097 10.399l-6.393 20.103c-3.295 10.363 4.483 20.853 15.252 20.853z"/>
  </svg>
</template>

<script>
  export default {
    name: "diamond_icon",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>
