<template>
  <svg  height="30" viewBox="-10 -20 700 500" width="30"
       xmlns="http://www.w3.org/2000/svg">
        <path :fill="fill ? fill : ''"
          d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z"/>
        <path :fill="fill ? fill : ''" d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z"/>
        <path :fill="fill ? fill : ''" d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20
			C512,404.954,503.046,396,492,396z"/>
  </svg>
</template>

<script>
  export default {
    name: "hamburger_icon",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>
