<template>
  <svg height="17" :viewBox="viewbox ? viewbox : '0 0 20 20'" :width="width ? width : 17" :fill="fill ? fill : '#c70700'" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.0003 0C5.22059 0 1.33203 3.73129 1.33203 8.31777C1.33203 14.5423 9.28531 19.675 9.6241 19.8904C9.73883 19.9636 9.86941 20 10.0003 20C10.1309 20 10.2617 19.9633 10.3764 19.8904C10.7152 19.675 18.6685 14.5423 18.6685 8.31777C18.6685 3.73129 14.7802 0 10.0003 0ZM10 18.4528C8.46055 17.3809 2.73391 13.0708 2.73391 8.31777C2.73391 4.50422 5.99348 1.40188 10.0003 1.40188C14.0071 1.40188 17.2666 4.50422 17.2666 8.31777C17.2666 13.0631 11.5388 17.3795 10 18.4528Z"/>
    <path d="M10.0003 3.80859C7.823 3.80859 6.05176 5.57984 6.05176 7.75718C6.05176 9.93429 7.823 11.7055 10.0003 11.7055C12.1777 11.7055 13.9489 9.93429 13.9489 7.75718C13.9489 5.58012 12.1777 3.80859 10.0003 3.80859ZM10.0003 10.3035C8.59613 10.3035 7.45363 9.16117 7.45363 7.75699C7.45363 6.35277 8.59617 5.21027 10.0003 5.21027C11.4046 5.21027 12.5471 6.35258 12.5471 7.75699C12.5471 9.16117 11.4046 10.3035 10.0003 10.3035Z"/>
  </svg>
</template>

<script>
  export default {
    name: "location_icon",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>
