<template>
  <svg height="17" :viewBox="viewbox ? viewbox : '0 0 403 403'" :width="width ? width : 17"
       :fill="fill ? fill : '#c70700'" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 403.777344h403.777344l-201.890625-403.777344zm185.886719-136.785156-119.855469 76.273437 119.855469-239.714844zm16 27.75 121.058593 77.035156h-242.113281zm16-27.75v-163.441407l119.855469 239.714844zm0 0"/>
  </svg>
</template>

<script>
  export default {
    name: "certificate_icon",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>
