<template>
  <svg style="transform: scale(-1, 1)" :viewBox="viewbox ? viewbox : '1900 -300 500 2500'" :height="height ? height : 30" :width="width ? width : 30" :fill="fill ? fill : ''" xmlns="http://www.w3.org/2000/svg">
    <path class="22cba494-b3d1-4bfa-9726-38b10a4ef23f"
          d="M4134.35,1768.86c-161.65-38.64-412.7-81.78-716.17-59.55-288.22,21.11-359.19,81.81-833.84,180-350.8,72.55-597.21,123.51-911.81,120-332.72-3.73-609.95-66.93-809.64-129.06C1175.8,2038.25,1448,2085.33,1620,2100.86c258.6,23.34,464.19-9,646.42-37.62,186.08-29.25,184.32-44,689.86-168C3411,1783.74,3543.84,1763.47,3687,1755A2478,2478,0,0,1,4134.35,1768.86Z"
          transform="translate(-232.39 -218.53)"/>
    <path class="22cba494-b3d1-4bfa-9726-38b10a4ef23f"
          d="M4814.07,2051c5.66-20.75-435.54-225.71-986-222.44-194.6,1.15-368,28.12-448.65,42.39-247.1,43.69-319.12,91-639.06,178.28-271.32,74-410.95,112.12-617.87,132-310.64,29.8-560.87-1.86-692.8-24.16-26.66-4.5-157.36-27.05-327-76.49A3124.72,3124.72,0,0,1,670,1918.86S258,1703.06,238,1681l20,22.1c222.4,181.46,674.22,495.67,1294.56,574.13,486.52,61.54,919.53-41.8,992.34-59.8,158.06-39.08,183.75-61.34,447.37-132.16,237-63.67,533.91-143.42,809.84-168C4391.59,1864.84,4808.54,2071.25,4814.07,2051Z"
          transform="translate(-232.39 -218.53)"/>
    <path class="22cba494-b3d1-4bfa-9726-38b10a4ef23f"
          d="M1923.66,1466.61S1387,1724.86,1877,1089.86s245.36-871.33,118-871.33-296.31,1.22-399.63,163.77c0,0-23.32,7.56-23.32,122.56s-164.3,387.43-249.65,521.21-285.89,472.42-317.72,514.87-89,156.21-8.33,167.57c0,0,35.52-70.17,103.11-106.91s280.52-302.25,346.55-392,447-570.74,401-484.74-244,346-314,450-188.74,273.63-142.37,473.81,129,273.44,132.66,285.82,449.79-.88,433.75-21.25-133.68-86.58-169.86-183.48c0,0,201.71,191,298.76,169.06s1204.5-300.23,1336.78-285.1C3422.71,1613.72,2860.32,1063.37,1923.66,1466.61ZM1776.25,403c-25.44,96-121.32,81.35-121.32,81.35.25-119.68,56.75-123.35,95.53-136.49S1776.25,403,1776.25,403Z"
          transform="translate(-232.39 -218.53)"/>
    <path class="22cba494-b3d1-4bfa-9726-38b10a4ef23f"
          d="M1681,434.06s60.11,9.2,76.06-51c0,0,8.15-42.81-16.17-34.57S1681.15,359,1681,434.06Z"
          transform="translate(-232.39 -218.53)"/>
  </svg>
</template>

<script>
  export default {
    name: "pelican-icon",
    props: ["fill", "width", "height", "viewbox"]
  }
</script>

<style scoped>

</style>
