<template>
  <span v-html="this[iconName]" :class="['vi-cab-link-icon', {'vi-phone-icon': !phone}]"></span>
</template>
<script>
  export default {
    name: "CabinetLinkIcons",
    props: ["iconName", "phone"],
    data() {
      return {
        profile: '<svg viewBox="-10 0 75 50" xmlns="http://www.w3.org/2000/svg">' +
          '<path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752\n' +
          '\tc0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348\n' +
          '\tc0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98\n' +
          '\tc0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033\n' +
          '\tc0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55\n' +
          '\tc0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287\n' +
          '\tc0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104\n' +
          '\tc0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1\n' +
          '\tc0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764\n' +
          '\tl-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5\n' +
          '\tc0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957\n' +
          '\tc0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545\n' +
          '\tc0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8\n' +
          '\ts-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545\n' +
          '\tc0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313\n' +
          '\tc-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735\n' +
          '\tc-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167\n' +
          '\tc-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552\n' +
          '\tc-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01\n' +
          '\tc-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53\n' +
          '\tc-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233\n' +
          '\tc-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04\n' +
          '\tc-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816\n' +
          '\tc-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279\n' +
          '\tc-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313\n' +
          '\tc1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221\n' +
          '\tc-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131\n' +
          '\tc-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466\n' +
          '\tc1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545\n' +
          '\tc0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949\n' +
          '\tl-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083\n' +
          '\tC42.677,47.979,42.567,48.054,42.459,48.132z"/>\n' +
          '</svg>',
        myPosts: '<svg viewBox="-120 -20 600 500" xmlns="http://www.w3.org/2000/svg"><path d="m204.636719 0h-3.378907c-13.730468 0-25.351562 11.054688-25.351562 24.785156v23.875l-72.027344-20.976562c-2.023437-.589844-4.199218-.347656-6.039062.675781-1.84375 1.027344-3.195313 2.746094-3.761719 4.777344l-93.714844 322.976562c-1.203125 4.253907 1.25 8.683594 5.496094 9.914063l322.988281 93.773437c4.226563 1.230469 8.65625-1.183593 9.917969-5.402343l10-34.398438h80.941406c4.476563-.03125 8.113281-3.625 8.199219-8.101562v-336.316407c0-4.417969-3.78125-7.582031-8.199219-7.582031h-188.175781l-11.625-3.898438v-39.316406c0-13.730468-11.539062-24.785156-25.269531-24.785156zm-12.730469 24.785156c0-4.90625 4.441406-8.785156 9.351562-8.785156h3.378907c4.910156 0 9.269531 3.878906 9.269531 8.785156v34.667969l-22-6.148437zm161.507812 379.214844 68.492188-235.332031v235.332031zm68.492188-320v35.890625l-125.265625-35.890625zm-6.78125 50.589844-89.402344 307.609375-307.660156-89.304688 89.46875-307.617187 106.375 30.835937v54.585938c0 4.972656-4.03125 9-9 9-4.972656 0-9-4.027344-9-9v-33.238281c0-4.417969-3.582031-8-8-8s-8 3.582031-8 8v33.238281c0 13.808593 11.191406 25 25 25 13.804688 0 25-11.191407 25-25v-49.9375zm0 0"/></svg>',
        createNew: '<svg height="40" viewBox="-120 -20 600 500" width="40" xmlns="http://www.w3.org/2000/svg"><g>\n' +
          '\t\t<path d="M426.19,115.25c-0.036-0.525-0.131-1.032-0.304-1.533c-0.072-0.191-0.119-0.376-0.197-0.561\n' +
          '\t\t\tc-0.292-0.632-0.656-1.235-1.169-1.748L314.86,1.748c-0.513-0.507-1.116-0.877-1.748-1.164c-0.185-0.09-0.376-0.137-0.561-0.203\n' +
          '\t\t\tc-0.501-0.167-1.014-0.269-1.539-0.304C310.886,0.072,310.767,0,310.635,0H136.486c-3.294,0-5.967,2.673-5.967,5.967v91.854\n' +
          '\t\t\tH49.406c-3.294,0-5.967,2.673-5.967,5.967v359.951c0,3.3,2.673,5.967,5.967,5.967H333.22c3.294,0,5.967-2.667,5.967-5.967v-91.854\n' +
          '\t\t\tH420.3c3.294,0,5.967-2.667,5.967-5.967V115.626C426.267,115.495,426.202,115.375,426.19,115.25z M405.896,109.659h-89.288V20.371\n' +
          '\t\t\tL405.896,109.659z M327.253,457.766H55.373V109.755h81.114h81.108v103.692c0,3.294,2.673,5.967,5.967,5.967h103.692v146.505\n' +
          '\t\t\tV457.766z M229.528,118.192l89.288,89.288h-89.288V118.192z M339.187,359.951V213.447c0-0.131-0.066-0.251-0.078-0.376\n' +
          '\t\t\tc-0.036-0.525-0.131-1.032-0.304-1.533c-0.072-0.191-0.119-0.376-0.197-0.561c-0.292-0.632-0.656-1.235-1.169-1.748\n' +
          '\t\t\tL227.779,99.569c-0.513-0.513-1.116-0.877-1.748-1.17c-0.185-0.084-0.37-0.131-0.561-0.197c-0.501-0.173-1.008-0.274-1.539-0.304\n' +
          '\t\t\tc-0.125-0.006-0.245-0.078-0.376-0.078h-81.102V11.934h162.221v103.692c0,3.294,2.667,5.967,5.967,5.967h103.692v238.359H339.187z\n' +
          '\t\t\t"/>\n' +
          '\t\t<polygon points="197.283,235.28 185.349,235.28 185.349,277.794 142.835,277.794 142.835,289.727 \n' +
          '\t\t\t185.349,289.727 185.349,332.241 197.283,332.241 197.283,289.727 239.797,289.727 239.797,277.794 197.283,277.794 \t\t"/>\n' +
          '\t</g></svg>',
        rules: '<svg viewBox="-120 -20 700 500" xmlns="http://www.w3.org/2000/svg"><path d="M472.395,64.448l-213.333-64c-2.005-0.597-4.117-0.597-6.123,0l-213.333,64c-4.501,1.344-7.595,5.504-7.595,10.219\n' +
          '\t\t\t\tv234.667c0,94.336,143.829,178.219,220.843,202.197c1.003,0.32,2.091,0.469,3.157,0.469s2.155-0.149,3.136-0.469\n' +
          '\t\t\t\tc77.013-23.979,220.843-107.861,220.843-202.197V74.667C479.989,69.952,476.917,65.792,472.395,64.448z M458.677,309.333\n' +
          '\t\t\t\tc0,74.901-118.677,153.664-202.667,180.821c-83.989-27.157-202.667-105.92-202.667-180.821V167.936l202.667-60.8l202.667,60.8\n' +
          '\t\t\t\tV309.333z M458.677,145.664L259.083,85.781c-2.005-0.597-4.117-0.597-6.123,0L53.344,145.664V82.603l202.667-60.8l202.667,60.8\n' +
          '\t\t\t\tV145.664z"/>\n' +
          '\t\t\t<path d="M246.155,198.699l-19.115,47.765l-58.091,9.685c-3.947,0.64-7.189,3.456-8.427,7.253\n' +
          '\t\t\t\tc-1.216,3.797-0.213,7.979,2.624,10.795l38.784,38.784l-9.771,58.603c-0.683,4.096,1.088,8.235,4.523,10.56\n' +
          '\t\t\t\tc3.435,2.368,7.915,2.496,11.477,0.341l47.851-28.715l47.851,28.715c1.685,1.024,3.584,1.515,5.483,1.515\n' +
          '\t\t\t\tc2.112,0,4.181-0.619,6.08-1.856c3.435-2.325,5.205-6.464,4.523-10.56l-9.771-58.603l38.784-38.784\n' +
          '\t\t\t\tc2.837-2.816,3.84-6.976,2.624-10.795c-1.237-3.797-4.48-6.592-8.427-7.253l-58.091-9.685l-19.115-47.765\n' +
          '\t\t\t\tC262.731,190.592,249.355,190.592,246.155,198.699z M267.467,259.947c1.387,3.456,4.459,5.952,8.149,6.571l43.541,7.253\n' +
          '\t\t\t\tl-28.011,28.011c-2.453,2.453-3.541,5.909-2.987,9.301l6.869,41.216l-33.536-20.117c-1.685-1.003-3.584-1.515-5.483-1.515\n' +
          '\t\t\t\ts-3.797,0.512-5.44,1.515l-33.536,20.117l6.869-41.216c0.555-3.413-0.555-6.869-2.987-9.301l-28.011-28.011l43.541-7.253\n' +
          '\t\t\t\tc3.691-0.619,6.784-3.115,8.149-6.571l11.435-28.565L267.467,259.947z"/></svg>',
        contactUs: '<svg viewBox="-120 -20 750 500" xmlns="http://www.w3.org/2000/svg"><path d="m512 346.5c0-74.628906-50.285156-139.832031-121.195312-159.480469-4.457032-103.878906-90.347657-187.019531-195.304688-187.019531-107.800781 0-195.5 87.699219-195.5 195.5 0 35.132812 9.351562 69.339844 27.109375 99.371094l-26.390625 95.40625 95.410156-26.386719c27.605469 16.324219 58.746094 25.519531 90.886719 26.90625 19.644531 70.914063 84.851563 121.203125 159.484375 121.203125 29.789062 0 58.757812-7.933594 84.210938-23.007812l80.566406 22.285156-22.285156-80.566406c15.074218-25.453126 23.007812-54.421876 23.007812-84.210938zm-411.136719-15.046875-57.117187 15.800781 15.800781-57.117187-3.601563-5.632813c-16.972656-26.554687-25.945312-57.332031-25.945312-89.003906 0-91.257812 74.242188-165.5 165.5-165.5s165.5 74.242188 165.5 165.5-74.242188 165.5-165.5 165.5c-31.671875 0-62.445312-8.972656-89.003906-25.945312zm367.390625 136.800781-42.382812-11.726562-5.660156 3.683594c-21.941407 14.253906-47.433594 21.789062-73.710938 21.789062-58.65625 0-110.199219-37.925781-128.460938-92.308594 89.820313-10.355468 161.296876-81.832031 171.65625-171.65625 54.378907 18.265625 92.304688 69.808594 92.304688 128.464844 0 26.277344-7.535156 51.769531-21.789062 73.710938l-3.683594 5.660156zm0 0"/><path d="m180.5 271h30v30h-30zm0 0"/><path d="m180.5 90h30v151h-30zm0 0"/></svg>'
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-cab-link-icon
    svg
      fill: $c_brown
      width: 40px
      height: 40px
    &.vi-phone-icon svg
      width: 27px
      height: 27px
</style>
