<template>
  <span v-html="this[iconName]"></span>
</template>
<script>
  export default {
    name: "user-public-icons",
    props: ["iconName"],
    data() {
      return {
        feedback: '<svg fill="#6E4810" height="40" viewBox="-120 -20 650 500" width="50" xmlns="http://www.w3.org/2000/svg"><g>\n' +
          '        <path d="M496,120H16a8,8,0,0,0-8,8V320a8,8,0,0,0,8,8H218.12l30.77,59.67a8,8,0,0,0,14.22,0L293.88,328H496a8,8,0,0,0,8-8V128A8,8,0,0,0,496,120Zm-8,192H289a8,8,0,0,0-7.11,4.33L256,366.54l-25.89-50.21A8,8,0,0,0,223,312H24V136H488Z"/>\n' +
          '        <path d="M215.047,240.834,208.176,280.9a8,8,0,0,0,11.607,8.434l35.979-18.915L291.74,289.33a8,8,0,0,0,11.608-8.434l-6.871-40.062,29.107-28.373a8,8,0,0,0-4.434-13.646l-40.225-5.844-17.989-36.45a8,8,0,0,0-14.348,0L230.6,192.971l-40.225,5.844a8,8,0,0,0-4.434,13.646ZM237.062,208.2a8,8,0,0,0,6.023-4.376l12.677-25.686,12.676,25.686a8,8,0,0,0,6.024,4.376l28.347,4.118L282.3,232.312a8,8,0,0,0-2.3,7.082l4.842,28.231L259.484,254.3a8,8,0,0,0-7.445,0l-25.353,13.329,4.841-28.231a8,8,0,0,0-2.3-7.082l-20.511-19.994Z"/>\n' +
          '        <path d="M63.047,240.834,56.176,280.9a8,8,0,0,0,11.607,8.434l35.979-18.915L139.74,289.33a8,8,0,0,0,11.608-8.434l-6.871-40.062,29.107-28.373a8,8,0,0,0-4.434-13.646l-40.225-5.844-17.989-36.45a8,8,0,0,0-14.348,0L78.6,192.971l-40.225,5.844a8,8,0,0,0-4.434,13.646ZM85.062,208.2a8,8,0,0,0,6.023-4.376l12.677-25.686,12.676,25.686a8,8,0,0,0,6.024,4.376l28.347,4.118L130.3,232.312a8,8,0,0,0-2.3,7.082l4.842,28.231L107.484,254.3a8,8,0,0,0-7.445,0L74.686,267.625l4.841-28.231a8,8,0,0,0-2.3-7.082L56.716,212.318Z"/>\n' +
          '        <path d="M367.047,240.834,360.176,280.9a8,8,0,0,0,11.607,8.434l35.979-18.915L443.74,289.33a8,8,0,0,0,11.608-8.434l-6.871-40.062,29.107-28.373a8,8,0,0,0-4.434-13.646l-40.225-5.844-17.989-36.45a8,8,0,0,0-14.348,0L382.6,192.971l-40.225,5.844a8,8,0,0,0-4.434,13.646ZM389.062,208.2a8,8,0,0,0,6.023-4.376l12.677-25.686,12.676,25.686a8,8,0,0,0,6.024,4.376l28.347,4.118L434.3,232.312a8,8,0,0,0-2.3,7.082l4.842,28.231L411.484,254.3a8,8,0,0,0-7.445,0l-25.353,13.329,4.841-28.231a8,8,0,0,0-2.3-7.082l-20.511-19.994Z"/>\n' +
          '    </g></svg>',
        complaint: '<svg fill="#6E4810" height="40" viewBox="-120 -20 650 500" width="35" xmlns="http://www.w3.org/2000/svg"><g>\n' +
          '\t\t<path d="M416,0H74.667C33.493,0,0,33.493,0,74.667v234.667C0,350.507,33.493,384,74.667,384h230.251l103.531,103.552\n' +
          '\t\t\tc2.048,2.027,4.779,3.115,7.552,3.115c1.365,0,2.752-0.277,4.075-0.811c3.989-1.643,6.592-5.547,6.592-9.856v-96.747\n' +
          '\t\t\tc36.139-5.205,64-36.373,64-73.92V74.667C490.667,33.493,457.173,0,416,0z M469.333,309.333c0,29.419-23.936,53.333-53.333,53.333\n' +
          '\t\t\tc-5.888,0-10.667,4.779-10.667,10.667v80.917l-88.448-88.469c-2.005-1.984-4.715-3.115-7.552-3.115H74.667\n' +
          '\t\t\tc-29.397,0-53.333-23.915-53.333-53.333V74.667c0-29.419,23.936-53.333,53.333-53.333H416c29.397,0,53.333,23.915,53.333,53.333\n' +
          '\t\t\tV309.333z"/>\n' +
          '\t</g>\n' +
          '\n' +
          '\t<g>\n' +
          '\t\t<path d="M245.333,256c-17.643,0-32,14.357-32,32c0,17.643,14.357,32,32,32c17.643,0,32-14.357,32-32\n' +
          '\t\t\tC277.333,270.357,262.976,256,245.333,256z M245.333,298.667c-5.888,0-10.667-4.8-10.667-10.667\n' +
          '\t\t\tc0-5.867,4.779-10.667,10.667-10.667S256,282.133,256,288C256,293.867,251.221,298.667,245.333,298.667z"/>\n' +
          '\t</g>\n' +
          '\n' +
          '\t<g>\n' +
          '\t\t<path d="M279.424,74.197C273.387,67.712,264.853,64,256,64h-21.333c-8.853,0-17.365,3.712-23.403,10.197\n' +
          '\t\t\tc-6.037,6.464-9.131,15.232-8.512,24.235l9.024,105.109c1.237,17.451,15.915,31.125,33.557,31.125\n' +
          '\t\t\tc17.493,0,32.171-13.675,33.387-30.955l9.195-105.429C288.555,89.451,285.461,80.683,279.424,74.197z M266.667,96.597\n' +
          '\t\t\tl-9.216,105.451c-0.448,6.336-5.781,11.285-12.288,11.285c-6.357,0-11.669-4.949-12.139-11.456l-9.003-105.109\n' +
          '\t\t\tc-0.213-3.008,0.789-5.867,2.837-8.043c2.048-2.176,4.821-3.392,7.808-3.392H256c2.987,0,5.76,1.216,7.808,3.392\n' +
          '\t\t\tC265.856,90.901,266.859,93.76,266.667,96.597z"/>\n' +
          '\t</g></svg>'
      }
    }
  }
</script>
