<template>
  <CommonPostView :post-group="group"></CommonPostView>
</template>

<script>
  import CommonPostView from "../../components/main_view/CommonPostViewStructure"
  import {Constants} from "../../assets/scripts/Constants";
  import postRouterGuard from "../../assets/mixins/postViewRouterGuardMixin";

  export default {
    name: "stone",
    mixins: [postRouterGuard],
    components: {
      CommonPostView
    },
    data() {
      return {
        group: Constants.ITEM_GROUP_STONE
      }
    }
  }
</script>

