<template>
  <div class="vi-carousel-frame" id="vi-post-view-carousel">
    <vg ref="vg" :images="images" :index="index" @close="index = null" :options="galleryOptions"></vg>
    <div class="vi-carousel-grid">
        <div class="vi-gallery-image"
             v-for="(image, imageIndex) in images"
             :key="imageIndex"
             @click="index = imageIndex"
             itemprop="image"
             :style="{ backgroundImage: 'url(' + image + ')', width: '150', height: '150px' }">
        </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import {Constants} from "../assets/scripts/Constants";
  import VueGallery from 'vue-gallery';
  import AppTools from "../assets/scripts/CommonTools";

  export default {
    name: "CarouselGallery",
    props: ["images"],
    components: {
      vg: VueGallery
    },
    data() {
      return {
        index: null,
        onIphone: AppTools.isIos(),
        galleryOptions: {
          displayTransition: false,
          onopened: () => {
            // TODO проверить нужна ли эта хуйня в будущем (проверить в январе 2021)
            if (this.onIphone) {
              this.$bus.emit(Constants.BUS_GALLERY_OPEN, true);
            }
          },
          onclose: () => {
            this.index = null;
            // TODO проверить нужна ли эта хуйня в будущем (проверить в январе 2021)
            if (this.onIphone) {
              this.$bus.emit(Constants.BUS_GALLERY_OPEN, false);
            }
          }
        }
      }
    },
    computed: {
      ...mapState([
        "astrings"
      ])
    },
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"

  .blueimp-gallery .close
    font-size: 50px

  .vi-carousel-grid
    padding: 0 0 0 2px
    justify-content: flex-start
    +setGrid(repeat(auto-fill, minmax(130px, 1fr)), 10px, auto, 10px, "both")

  .vi-gallery-image
    border-radius: 5px
    overflow: hidden
    display: flex
    cursor: pointer
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

</style>
