<template>
  <section class="vi-new-post-btn-frame">
    <button class="vi-create-post-btn" @click="onCreatePostPressed()">{{astrings.publish}}</button>
  </section>
</template>

<script>
  import {mapState} from "vuex";
  import Navigator from "../assets/scripts/Navigator";
  import LoginDialogOpener from "../assets/mixins/LoginDialogOpener";

  export default {
    name: "CreatePostButton",
    mixins: [LoginDialogOpener],
    data() {
      return {
        nav: new Navigator(this.$router)
      }
    },
    computed: {
      ...mapState(["astrings", "user_details"])
    },
    methods: {
      onCreatePostPressed() {
        if (this.user_details && this.user_details.account_id) {
          this.nav.goToCreatePost();
        } else {
          this.openLoginDialog();
        }
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  .vi-new-post-btn-frame
    display: flex
    justify-content: center

  .vi-create-post-btn
    width: 200px
    color: white
    background: $dark_orange
    height: 50px
</style>
