<template>
  <v-popover offset="6" placement="top">
    <button class="vi-simple-btn" @click.prevent="">{{istrings.delete_avatar}}</button>
    <template slot="popover">
      <div class="vi-delete-post-tooltip vi-simple-tooltip">
        <span class="vi-tooltip-text-simple">{{istrings.confirm_post_delete}}</span>
        <button class="vi-simple-btn" v-close-popover @click="deleteAvatar()">{{istrings.confirm}}</button>
      </div>
    </template>
  </v-popover>
</template>

<script>import {mapState} from "vuex";

  export default {
    name: "DeleteAvatarButton",
    props: ["deleteAvatar"],
    computed: {
      ...mapState(["istrings"])
    }
  }
</script>
