<template>
  <v-popover offset="6" placement="top">
    <button class="vi-red-btn" @click.prevent="">
      <Recycle width="20" viewbox="-10 -20 530 550" fill="#c70700"></Recycle>
    </button>
    <template slot="popover">
      <div class="vi-delete-post-tooltip vi-simple-tooltip">
        <span class="vi-tooltip-text-simple">{{istrings.confirm_post_delete}}</span>
        <button class="vi-red-btn" v-close-popover @click="deleteMethod()">{{istrings.confirm}}</button>
      </div>
    </template>
  </v-popover>
</template>

<script>
    import {mapState} from "vuex";
    import Recycle from "./icons/recycle_icon";
    export default {
        name: "DeletePostButton",
        props: ["deleteMethod"],
        components: {Recycle},
        computed: {
            ...mapState(["istrings"])
        }
    }
</script>

<style lang="sass">
  @import "../assets/styles/variables.sass"
  .vi-delete-post-tooltip
    width: 200px
    +setGridAuto(auto, 10px, "rows")
</style>
