<template>
  <div :class="setFrameClass">
    <i :class="iconClass" v-if="iconClass"></i>
    <h4 v-html="message"></h4>
  </div>
</template>

<script>
  export default {
    name: "empty-list",
    props: ["message", "frameClass", "iconClass"],
    computed: {
      setFrameClass() {
        return `vi-empty-list-frame ${this.frameClass ? this.frameClass : ""}`;
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"

  .vi-empty-list-frame
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    width: 100%
    height: 100%

    h4
      font-size: $medium_font
      font-weight: bold
      color: $dark_grey
      text-align: center
      line-height: 30px

    i
      width: 50px
      height: 50px
      display: flex
      background-size: contain
      margin: 0 0 15px 0

    .vi-sad-face-i
      opacity: .2

  .vi-tile-placeholder
    height: 190px
    position: initial
</style>
