<template>
  <v-popover offset="6" placement="top-center">
    <button class="vi-simple-btn" @click.prevent="">
      <Time width="25" viewbox="-40 -20 560 500" fill="#6E4810"></Time>
    </button>
    <template slot="popover">
      <section class="vi-extend-tooltip vi-simple-tooltip">
        <p class="vi-tooltip-text-simple">{{extensionAllowed ? getMessageString() : getForbiddenString()}}</p>
        <button class="vi-simple-btn" @click="extendLife()" v-close-popover v-if="extensionAllowed">
          {{istrings.extend}}
        </button>
      </section>
    </template>
  </v-popover>
</template>

<script>
  import {mapState} from "vuex";
  import {Constants} from "../assets/scripts/Constants";
  import Time from "@/components/icons/time_icon";
  import AppTools from "../assets/scripts/CommonTools";

  export default {
    name: "ExtendPostLifeButton",
    props: ["post", "extendLife"],
    components: {
      Time
    },
    computed: {
      ...mapState(["istrings"]),
      extensionAllowed: (ctx) => {
        const daysLeft = AppTools.getTimeDiff(ctx.$moment, ctx.post.expires_at_ts);
        return daysLeft <= Constants.POST_LIFE_RED_LINE;
      }
    },
    methods: {
      getForbiddenString() {
        if (this.istrings.extension_forbidden) {
          return this.istrings.extension_forbidden.replace("{param}", Constants.POST_LIFE_RED_LINE);
        }
      },
      getMessageString() {
        if (this.istrings.extend_post_life) {
          return this.istrings.extend_post_life.replace("{param}", Constants.POST_LIFE_EXTEND);
        }
      },
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables.sass"
  .vi-extend-tooltip
    width: 200px
</style>
