<template>
  <footer class="vi-main-footer">
    <div>
      <nuxt-link :to="link.route" v-for="link in astrings.main_links" :key="link.route">{{link.name}}</nuxt-link>
    </div>
  </footer>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "Footer",
    computed: {
      ...mapState(["astrings"])
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  .vi-main-footer
    padding: 0 $main_padding

    & > div
      border-top: solid 1px rgba(156, 103, 24, 0.4)
      align-items: center
      height: 40px
      +setGridAuto(auto, 10px, "columns")

    a
      color: $c_dark_brown

  @media all and (max-width: $tablet_media)
    .vi-main-footer
      padding: 0 70px

</style>
