<template>
  <header>
    <div class="vi-nav-trigger" v-if="is_phone">
      <button @click="openNavDialog()">
        <MenuIcon class="vi-hamburger-icon" fill="#6E4810"></MenuIcon>
      </button>
    </div>
    <div class="vi-logo-frame">
      <i @click="goToMain()">
        <Pelican width="90" height="45" fill="#6E4810"></Pelican>
      </i>
    </div>
    <Tabs v-if="!is_phone"></Tabs>
    <Login></Login>
  </header>
</template>

<script>
  import {mapState} from "vuex";
  import Login from "./widgets/LoginWidget";
  import MenuIcon from "@/components/icons/hamburger_icon";
  import NavDialog from "../components/dialogs/NavDialog";
  import Pelican from "../components/icons/pelican_logo";
  import Navigator from "../assets/scripts/Navigator";
  import Tabs from "@/components/main_view/PostsViewTabs";

  export default {
    name: "Header",
    components: {
      Login,
      MenuIcon,
      Pelican,
      Tabs
    },
    data() {
      return {
        nav: new Navigator(this.$router)
      }
    },
    computed: {
      ...mapState(["astrings", "is_phone"])
    },
    methods: {
      openNavDialog() {
        this.$modal.show(NavDialog, null, {
          width: "70%",
          height: "auto"
        })
      },
      goToMain() {
        this.nav.goToMainView();
      }
    }
  }
</script>

<style lang="sass">
  @import '../assets/styles/_variables.sass'
  header
    padding: 0 10px
    align-items: flex-end
    height: $header_height
    +setGrid(auto 1fr auto, 20px, null, null, "columns")

    button
      background: none
      padding: 0

  .vi-logo-frame i
    cursor: pointer


  @media all and (max-width: $smartphone_media)
    header
      grid-column-gap: 0
      align-items: center
    .vi-logo-frame
      justify-content: center
      display: flex

    .vi-login-widget, .vi-nav-trigger
      width: 70px

    .vi-hamburger-icon
      fill: white
      cursor: pointer


</style>
