<template>
  <div class="vi-phones-sections">
    <div class="vi-number-row-holder" v-for="(phone, i) in dataModel" v-bind:key="i">
      <phone-input :header="inputTitle"
                   :disabled="disabled"
                   :field-icon="fieldIcon"
                   :area-codes="istrings.area_codes"
                   v-model="dataModel[i]">
      </phone-input>
      <DeleteButton :method="deletePhone"
                    :uuid="phone.uuid"
                    :disabled="disabled"
                    btn-class="vi-medium-delete"
                    v-if="dataModel.length > 1">
      </DeleteButton>
    </div>
    <div class="vi-phones-sections-footer" v-if="!reachedMax && !disabled">
      <button class="vi-simple-btn"
              @click.prevent="addAnotherPhone()">{{istrings.add_number}}
      </button>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import DeleteButton from "@/components/inputs/delete-row-btn";
  import PhoneInput from "@/components/inputs/phone-input";
  import {Constants} from "@/assets/scripts/Constants";
  import {uuid} from 'vue-uuid';

  export default {
    name: "MultiplePhoneNumbers",
    props: ["inputTitle", "dataModel", "fieldIcon", "disabled"],
    components: {
      PhoneInput,
      DeleteButton
    },
    computed: {
      ...mapState(["astrings", "istrings"]),
      reachedMax: function () {
        return this.dataModel.length === Constants.MAX_ALLOWED_PHONES;
      }
    },
    methods: {
      /**
       * Данная функция вызывается кнопкой ДОБАВИТЬ/ADD
       * и добавляет еще одно телефонное поле в список
       * телефонов
       * Влад. 23/01/19
       */
      addAnotherPhone() {
        if (this.dataModel.length < Constants.MAX_ALLOWED_PHONES) {
          const phoneModel = {
            uuid: uuid.v1(),
            number: null
          };
          this.dataModel.push(phoneModel);
        }
      },
      /**
       * Данная функция вызывается кнопкой DELETE и стерает имеющийся в списке номер телефона
       * @param uuid - идентификационный номер объекта с номером телефона который нужно стереть нахуй
       * Влад. 23/01/19
       */
      deletePhone(uuid) {
        const index = this.dataModel.findIndex((obj) => obj.uuid === uuid);
        if (index !== null && index > -1) {
          this.dataModel.splice(index, 1);
        }
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"

  .vi-number-row-holder
    position: relative
    display: flex
    align-items: flex-end

    .vi-input-component
      flex-grow: 1

    .vi-medium-delete
      margin: 0 0 0 10px

  .vi-phones-sections
    +setGridAuto(auto, 15px, "rows")

  .vi-phones-sections-footer
    display: flex
    justify-content: flex-end
    padding: 0 0 4px 0

</style>
