<template>
  <form :class="['vi-post-form', {'vi-iphone-mode': this.iphoneGallery}]">
    <div class="vi-alert vi-alert-info" v-if="!existingData && this.postGroup">{{ getProductWarn }}</div>
    <h2 class="vi-view-section-title">{{ astrings.post_form.post_details }}</h2>
    <div class="vi-auto-grid">
      <vi-picker-groups v-if="!existingData"
                        key-name="key"
                        value-name="text"
                        key="product-picker"
                        :disabled="formDisabled"
                        :header="astrings.post_form.what_we_sell"
                        :collection="astrings.post_form"
                        :methods="[getPostGroup, onStonePickerChanged]"
                        field-icon="vi-required-i"
                        name="product-type"
                        validate-options="required"
                        :class="{'vi-invalid-picker' : errors.has('product-type')}"
                        v-model="postData.product">
      </vi-picker-groups>
      <vi-label v-if="existingData" :header="astrings.post_form.what_we_sell" :text="getProductString"></vi-label>
      <vi-brands-auto :header="astrings.post_form.brand"
                      v-model="postData.jewel_brand"
                      :value="postData.jewel_brand"
                      :disabled="formDisabled"
                      v-if="this.isJewl"></vi-brands-auto>
      <vi-picker key-name="key"
                 value-name="text"
                 key="jewel-material"
                 v-if="this.isJewl"
                 :method="onMetalChanged"
                 :disabled="formDisabled"
                 :header="astrings.post_form.material"
                 :pdata="astrings.post_form.material_opts"
                 v-model="postData.material">
      </vi-picker>
      <vi-picker key-name="key"
                 value-name="text"
                 v-if="this.isJewl"
                 value-type="int"
                 :disabled="formDisabled"
                 :header="astrings.post_form.m_content"
                 :pdata="this.getMetalContent"
                 v-model="postData.metal_content">
      </vi-picker>
      <vi-picker key-name="key"
                 value-name="text"
                 v-if="postData.product === 'ring' || postData.product === 'persten'"
                 value-type="int"
                 :disabled="formDisabled"
                 :header="astrings.post_form.size"
                 :pdata="astrings.post_form.ring_size_opts"
                 v-model="postData.size">
      </vi-picker>
      <vi-picker key-name="key"
                 value-name="text"
                 v-if="this.isWatch"
                 :disabled="formDisabled"
                 :header="astrings.gender"
                 :pdata="astrings.post_form.watch_gender_opts"
                 v-model="postData.gender">
      </vi-picker>
      <vi-picker key-name="key"
                 value-name="text"
                 v-if="this.isJewl"
                 key="central-stone"
                 :method="onStonePickerChanged"
                 :disabled="formDisabled"
                 :header="astrings.post_form.central_stone"
                 :pdata="astrings.post_form.post_stones"
                 v-model="postData.stone">
      </vi-picker>
      <vi-picker key-name="key"
                 value-name="text"
                 v-if="this.isJewl || this.isStone"
                 :disabled="formDisabled"
                 :header="astrings.post_form.shape"
                 :pdata="astrings.post_form.shape_opts"
                 v-model="postData.stone_shape">
      </vi-picker>
      <vi-input v-if="this.isJewl"
                key="central-weight"
                :disabled="formDisabled"
                :header="astrings.post_form.central_weight"
                :placeholder="istrings.stone_weight_format"
                name="central"
                validate-options="decimal:3"
                :error-tooltip="istrings.tooltip_wrong_weight"
                v-model="postData.central_weight">
      </vi-input>
      <vi-input v-if="this.isStone"
                key="stone-weight"
                :disabled="formDisabled"
                :header="astrings.post_form.stone_weight"
                :placeholder="istrings.stone_weight_format"
                name="stone"
                validate-options="decimal:3"
                :error-tooltip="istrings.tooltip_wrong_weight"
                v-model="postData.stone_weight">
      </vi-input>
      <vi-picker v-if="this.isJewl || this.isStone"
                 key-name="text"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.color"
                 :pdata="getStonesColorScale"
                 v-model="postData.stone_color">
      </vi-picker>
      <vi-picker v-if="(this.isJewl || this.isStone) && showClarityPicker"
                 key-name="text"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.clarity"
                 :pdata="astrings.post_form.diamond_clarity"
                 v-model="postData.stone_clarity">
      </vi-picker>
      <vi-input v-if="this.isJewl"
                key="total-stones"
                :disabled="formDisabled"
                :header="astrings.post_form.total_stones_weight"
                :placeholder="istrings.stone_weight_format"
                name="total-weight"
                validate-options="decimal:3"
                :error-tooltip="istrings.tooltip_wrong_weight"
                v-model="postData.total_stones_weight">
      </vi-input>
      <vi-picker v-if="this.isJewl || this.isStone"
                 key-name="text"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.certificate"
                 :pdata="astrings.post_form.certificate_opts"
                 v-model="postData.certificate">
      </vi-picker>
      <vi-picker v-if="this.isGem"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.gem_origin"
                 :pdata="getGemOriginOptions"
                 v-model="postData.stone_origin">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.item_condition"
                 :pdata="astrings.post_form.condition_opts"
                 v-model="postData.condition">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="text"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.brand"
                 :pdata="iwatch_brands"
                 field-icon="vi-required-i"
                 name="watch-brand"
                 validate-options="required"
                 :class="{'vi-invalid-picker' : errors.has('product-type')}"
                 v-model="postData.watch_brand">
      </vi-picker>
      <vi-input v-if="this.isWatch" :header="astrings.post_form.model" v-model="postData.watch_model"
                :disabled="formDisabled"></vi-input>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.watch_mech"
                 :pdata="astrings.post_form.watch_mech_opts"
                 v-model="postData.watch_mechanism">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.watch_shape"
                 :pdata="astrings.post_form.watch_shape_opts"
                 v-model="postData.watch_shape">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 value-type="int"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.watch_diameter"
                 :pdata="astrings.post_form.watch_diam_opts"
                 v-model="postData.watch_diameter">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.watch_material"
                 :pdata="astrings.post_form.watch_metal_opts"
                 v-model="postData.watch_material">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :disabled="formDisabled"
                 :header="astrings.post_form.watch_strap"
                 :pdata="astrings.post_form.watch_strap_opts"
                 v-model="postData.watch_strap">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.box"
                 :pdata="astrings.post_form.watch_box_opts"
                 :disabled="formDisabled"
                 v-model="postData.box">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.documents"
                 :pdata="astrings.post_form.watch_box_opts"
                 :disabled="formDisabled"
                 v-model="postData.watch_document">
      </vi-picker>
      <vi-digits-input :header="astrings.post_form.price"
                       v-model="postData.price"
                       name="item-price"
                       input-icon="vi-usd-i"
                       validate-options="required"
                       :disabled="formDisabled"
                       field-icon="vi-required-i">
      </vi-digits-input>
      <vi-input :header="istrings.rur_indicator"
                input-icon="vi-rub-i"
                :disabled="true"
                :value="this.getRubPrice">
      </vi-input>
    </div>
    <vi-textarea add-class="vi-product-desc"
                 :header="astrings.details"
                 v-model="postData.description"
                 :maxlength="1000"
                 :disabled="formDisabled">
    </vi-textarea>

    <h2 class="vi-view-section-title">{{ astrings.post_form.product_images }}</h2>
    <div class="vi-photo-frame" v-if="!existingData">
      <ul>
        <li>
          <span>1.</span>
          <span>{{ maxFileSizeGuide }}</span>
        </li>
        <li>
          <span>2.</span>
          <span>{{ maxFilesAmountGuide }}</span>
        </li>
        <li>
          <span>3.</span>
          <span>{{ istrings.add_photo_guide_type }}</span>
        </li>
        <li>
          <span>4.</span>
          <span>{{ istrings.add_photo_guide_required }}</span>
        </li>
      </ul>
      <div class="vi-alert vi-alert-info">{{ istrings.post_photos_important_msg }}</div>
      <DropZ :zone-instance="dropZoneInstance" :thumbnail="thumbnail"></DropZ>
    </div>

    <Carousel class="vi-post-gallery" :images="existingData.images" v-if="existingData"></Carousel>

    <h2 class="vi-view-section-title">{{ astrings.post_form.seller_details }}</h2>
    <div class="vi-alert vi-alert-info" v-if="!existingData">{{ istrings.contact_details_warn }}</div>
    <div class="vi-use-cdt-frame" v-if="showUseDetailsButton">
      <button type="button" class="vi-simple-btn" @click="updateContactDetails()">{{ istrings.use_profile_details }}
      </button>
    </div>
    <div class="vi-auto-grid">
      <vi-input :header="astrings.name"
                v-model="postData.contact_name"
                field-icon="vi-required-i"
                name="v_contact_name"
                :disabled="formDisabled"
                validate-options="required">
      </vi-input>
      <vi-picker :header="astrings.city"
                 :pdata="icities"
                 v-model="postData.city"
                 name="city"
                 validate-options="required"
                 :class="{'vi-invalid-picker' : errors.has('city')}"
                 field-icon="vi-required-i"
                 key-name="val"
                 :disabled="formDisabled"
                 value-name="val">
      </vi-picker>
      <vi-input :header="astrings.email"
                v-model="postData.email"
                :disabled="formDisabled"
                type="email"
                validate-options="email"
                name="email">
      </vi-input>
      <vi-input header="Skype" v-model="postData.skype" :disabled="formDisabled"></vi-input>
    </div>
    <div class="vi-auto-grid">
      <MultiPhones :input-title="astrings.phone_number"
                   :data-model="postData.phone"
                   :disabled="formDisabled"
                   field-icon="vi-phone-i">
      </MultiPhones>
      <MultiPhones input-title="WhatsApp"
                   :data-model="postData.whatsapp"
                   :disabled="formDisabled"
                   field-icon="vi-whatsapp-i">
      </MultiPhones>
      <MultiPhones input-title="Telegram"
                   :data-model="postData.telegram"
                   :disabled="formDisabled"
                   field-icon="vi-telegram-i">
      </MultiPhones>
      <MultiPhones input-title="Viber"
                   :data-model="postData.viber"
                   :disabled="formDisabled"
                   field-icon="vi-viber-i">
      </MultiPhones>
    </div>

    <Preloader v-if="form_request_sent"
               :show-progress="show_preloader_progress"
               :percents="progress"
               :message="preloaderText">
    </Preloader>
  </form>
</template>

<script>
import Authentication from '@/assets/firestore/authentication';
import {Firestore, Firebase} from "@/assets/firestore/firebaseConf";
import {mapState, mapMutations} from "vuex";
import MultiPhones from "@/components/MultiplePhoneNumbers";
import {Constants} from "@/assets/scripts/Constants";
import Notifications from '@/assets/scripts/Notifications';
import {uuid} from 'vue-uuid';
import AppTools from "@/assets/scripts/CommonTools";
import Preloader from "@/components/Preloader";
import DropZ from "@/components/ImagesDropZone";
import Carousel from "@/components/CarouselGallery";
import PostTypeMixins from "@/assets/mixins/PostTypeMixin";
import RublePriceMixin from "@/assets/mixins/RublePriceMixin";
import StoneTypeMixin from "@/assets/mixins/StoneTypeMixin";
import IphoneGalleryModeMixin from "@/assets/mixins/IphoneGalleryModeMixin";
import NbLabelComponent from "./inputs/label-component";

export default {
  name: "PostForm",
  components: {NbLabelComponent, MultiPhones, Preloader, DropZ, Carousel},
  props: ["existingData", "editingPost", "formDisabled", "dialogInstance"],
  mixins: [PostTypeMixins, IphoneGalleryModeMixin, StoneTypeMixin, RublePriceMixin("postData")],
  data() {
    return {
      item: null,
      postGroup: null,
      dropZoneInstance: {
        zone: null
      },
      thumbnail: {
        file: null
      },
      show_preloader_progress: false,
      progress: 0,
      existing_contact_checkbox: false,
      postData: AppTools.clone(Constants.POST_SCHEME),
      rubles: null,
      post_details_changed: false
    }
  },
  created() {
    Authentication.auth().onAuthStateChanged(user => {
      if (user) {
        // Запускается в случае если компонент получил существующие данные для заполнения полей
        // формы.
        if (this.existingData) {
          this.populateFormWithExistingData();
          this.getPostGroup();
        }
      }
    });

    this.$bus.off(Constants.BUS_SAVE_POST);
    this.$bus.on(Constants.BUS_SAVE_POST, this.publishPost);
  },
  watch: {
    /**
     * Вочер следяий за изменениями в модели postData
     * для того чтобы изменить булеанное значение указывающее на то
     * что объявление было отредактировано.
     * Влад. 20/8/20
     */
    postData: {
      handler: function (v) {
        if (this.editingPost) {
          this.post_details_changed = true;
        }
      },
      deep: true
    }
  },
  computed: {
    ...mapState([
      "astrings",
      "istrings",
      "user_details",
      "cached_personal_details",
      "form_request_sent",
      "currency",
      "icities",
      "iwatch_brands",
      "jewel_brands"
    ]),
    /**
     * Данная функция возвращает актуальный массив цветов драгоценного камне в зависимости
     * от выбранного камня в пикере типа товара или в пикере центрального камння.
     * Влад. 22/07/19
     */
    getStonesColorScale: function () {
      if (this.postGroup === Constants.ITEM_GROUP_STONE) {
        // this.postData.stone = "diamond";
        return this.astrings.post_form[`${this.postData.product}_color_opts`];
      } else if (this.postGroup === Constants.ITEM_GROUP_JEWL) {
        return this.astrings.post_form[`${this.postData.stone}_color_opts`];
      }
    },

    /**
     * Функция заполняющая пикеер месторождения камня согласно выбрнному типу камня.
     * Влад 26/02/20
     */
    getGemOriginOptions: function () {
      return this.astrings.post_form[`${this.postData.product}_origin_opts`];
    },

    /**
     * Данная функция возвращает масив с пробами метала в зависимости от выбранного метала изделия.
     * Влад. 27/12/19
     */
    getMetalContent: function () {
      return this.postGroup === Constants.ITEM_GROUP_JEWL ? this.astrings.post_form[`content_${this.postData.material}`] : null;
    },

    /** §
     * Данная функция позволяет пикеру чистоты камня появляться на экране только в том случае
     * если выбран бриллиант.
     * Влад. 22/07/19
     */
    showClarityPicker: function () {
      return this.postData.product === "diamond" || (this.postGroup === Constants.ITEM_GROUP_JEWL && this.postData.stone === "diamond");
    },

    /**
     * Данное вычисляемое решает какой текст прилоадера нужно захуярить,
     * если сохраняются данные уже существующего объявления то текст прилоадера
     * будет отличаться от того когда публикуется абсолютно девственное объявление.
     * Влад. 26/03/19
     */
    preloaderText: function () {
      return this.existingData ? this.istrings.saving : this.istrings.publishing;
    },

    /**
     * Данная функция конструирует текст для информационной строки в разделе ФОТОГРАФИИ.
     * информирующая о максимально разрешенном размере файла для загрузки.
     * Влад. 16/04/19
     */
    maxFileSizeGuide: ((comp) => {
      if (comp.istrings && comp.istrings.add_photo_guide_max_size) {
        return comp.istrings.add_photo_guide_max_size.replace("{param}", Constants.MAX_FILE_IMAGE_SIZE);
      }
    }),

    /**
     * Данная функция конструирует текст для информационной строки в разделе ФОТОГРАФИИ.
     * информирующая о максимально разрешенном количестве фотографий для загрузки, чтобы пользователь
     * не слишком охуевал и не загружал бесконечное кол-во фоток бесплатно.
     * Влад. 16/04/19
     */
    maxFilesAmountGuide: ((comp) => {
      if (comp.istrings && comp.istrings.add_photo_max_amount) {
        return comp.istrings.add_photo_max_amount.replace("{param}", Constants.MAX_ALLOWED_IMAGES);
      }
    }),
    getProductString: (ctx) => {
      return AppTools.getProductString(ctx.postData, true);
    },

    getProductWarn: (ctx) => {
      return ctx.postGroup === "watch" ? ctx.istrings.original_watch_warn : ctx.istrings.natural_stones_warn;
    },

    /**
     * Функция проверяющая должна ли быть показана кнопка автозаполнения контактных данных
     * Влад. 11/05/20
     */
    showUseDetailsButton: (ctx) => {
      if (ctx.user_details.contact_details) {
        const contactFields = ["contact_name", "skype", "email", "city"].concat(Constants.CONTACT_FIELDS);
        const details = ctx.user_details.contact_details;
        const atLeasOneContact = contactFields.some(field => {
          if (Constants.CONTACT_FIELDS.includes(field)) {
            return details[field].number.length;
          } else {
            return details[field] ? details[field].length : false;
          }
        });
        return !ctx.existingData && atLeasOneContact;
      } else {
        return false;
      }
    }
  },
  methods: {
    ...mapMutations(["setVuexCacheForPersonalDetails", "setVuexFormRequestState"]),
    /**
     * Данная функция указывает какая группа продуктов выбрана при изменении пользователем
     * пикера "Что продаем?"
     * Влад. 20/07/19
     */
    getPostGroup() {
      this.postGroup = AppTools.getPostGroup(this.postData);
    },

    /**
     * Данная функция запускается при каждом изменении типа товара либо при изменении
     * типа камня и очищает поля которые должны быть обнуленны после изменения типа
     * камня
     * Влад. 13/01/20
     */
    onStonePickerChanged: function () {
      this.postData.color = null;
      this.postData.stone_clarity = null;
      this.postData.stone_weight = null;
      this.postData.central_weight = null;
      this.postData.total_stones_weight = null;
    },

    /**
     * Данная функция обнуляет значение пробы метала каждый раз когда пользователь
     * меняет тип метала изделия
     * Влад. 13/01/20
     */
    onMetalChanged: function () {
      this.postData.metal_content = null;
    },

    /**
     * Данная функция обнуляет все данные прелоадер и прогрес бара после того как
     * процесс пуликации объявления завершен.
     * Влад. 15/04/19
     */
    resetPreloader() {
      this.setVuexFormRequestState(false);
      this.show_preloader_progress = false;
      this.progress = 0;
    },

    /**
     * Функция очищает все заполненные поля формы и приводит ее в исходный режим.
     * Влад. 12/03/19
     */
    resetFilledForm() {
      this.existing_contact_checkbox = false;
      this.postData = AppTools.clone(Constants.POST_SCHEME);
    },

    /**
     * Данная функция заполняет пустой исходный объект формы объявления имеющиемся данными
     * существующего объявления. Используется когда пользователь нажимает на строку объявления
     * в рубрике МОИ ОБЪЯВЛЕНИЯ и открывается попап с плными деталями объявления.
     * Влад. 23/03/19
     */
    populateFormWithExistingData() {
      Object.keys(this.existingData).forEach(key => {
        this.postData[key] = this.existingData[key];
      });
    },

    /**
     * Функция автозаполняющая поля с контактными данными при создании нового объявлеения
     * Влад. 11/05/20
     */
    updateContactDetails() {
      const det = this.user_details.contact_details;
      Object.keys(det).forEach(key => {
        if (Constants.CONTACT_FIELDS.includes(key)) {
          this.postData[key][0].number = det[key].number;
        } else {
          this.postData[key] = det[key];
        }
      });
    },
    /**
     * Функция проверяющая что все заполненные поля объевления кошерны и запускающае процесс
     * публикации объявления.
     * Влад. 05/08/19
     */
    publishPost() {
      this.$validator.validate().then((isValid) => {
        if (isValid) {
          if (AppTools.hasContactDetails(this.postData)) {
            if (!this.existingData) {
              const images = this.dropZoneInstance.zone.getAcceptedFiles();
              if (images.length) {
                const postDate = new Date().getTime();
                this.postData.account_id = this.user_details.account_id;
                this.postData.id = uuid.v4();
                this.postData.created_at_ts = postDate;
                this.postData.renewed_at_ts = postDate;
                this.postData.expires_at_ts = postDate + Constants.POST_LIFE_SPAN * 24 * 60 * 60 * 1000;
                this.uploadImages();
              } else {
                Notifications.showWarning(this.astrings.attention, this.istrings.add_photo_guide_required);
              }
            } else if (this.post_details_changed) {
              this.setVuexFormRequestState(true);
              this.prepareDataAndPublish();
            }
          } else {
            Notifications.showWarning(this.astrings.attention, this.istrings.one_cont_det_required);
          }
        } else {
          Notifications.showWarning(this.astrings.attention, this.astrings.notifications.fill_required);
        }
      });
    },


    /**
     * Функция которая оптимизирует фотографии товара и захуяривает их на сервер перед
     * публикацией объявления.
     * Влад. 05/08/19
     */
    uploadImages() {
      // this.prepareDataAndPublish();

      this.setVuexFormRequestState(true);
      this.show_preloader_progress = true;
      let addedFiles = null;
      if (!this.existingData) {
        addedFiles = this.dropZoneInstance.zone.getAcceptedFiles();
      }

      if (addedFiles && addedFiles.length) {
        const allImagesPromises = [];
        const ref = Firebase.storage().ref();
        const folder = ref.child("gallery").child(this.postData.account_id).child(this.postData.id);
        const step = Math.floor(80 / addedFiles.length);

        // СОЗДАЕМ THUMBNAIL ДЛЯ ПОКАЗА В СПИСКЕ ОБЪЯВЛЕНИЙ
        if (this.thumbnail.file) {
          const fireThumb = folder.child("thumbnail.png");
          const thumbPost = new Promise(resolve => {
            fireThumb.put(this.thumbnail.file).then((snap) => {
              if (snap) {
                fireThumb.getDownloadURL().then((url) => {
                  this.postData.thumbnail = url;
                  resolve();
                });
              }
            });
          });

          allImagesPromises.push(thumbPost);
        }


        addedFiles.map(file => {
          const fl = folder.child(uuid.v1() + ".png");
          const isLoading = new Promise((resolve) => {
            fl.put(file).then((snap) => {
              if (snap) {
                fl.getDownloadURL().then((url) => {
                  this.postData.images.push(url);
                  this.progress = this.progress + step;
                  resolve();
                });
              }
            });
          });
          allImagesPromises.push(isLoading);
        });

        Promise.all(allImagesPromises).then(() => {
          this.prepareDataAndPublish();
        });
      }
    },


    /**
     * Данная функция вызывается после закачки фотографий на сервер либо при сохранении
     * отредактированного объявления.
     * Функция собирает все нужные данные в объект и отправляет их в базу данных.
     * Влад. 05/08/19
     */
    prepareDataAndPublish() {
      if (this.existingData) {
        this.postData.approved = false;
      }
      const defaultPostFields = ["id", "account_id", "product", "description", "price", "contact_name", "city", "email", "skype",
        "phone", "whatsapp", "telegram", "viber", "approved", "created_at_ts", "renewed_at_ts", "expires_at_ts", "images", "thumbnail", "rejected"];
      const slimPostFields = ["id", "account_id", "product", "price", "city", "approved", "renewed_at_ts", "thumbnail"];
      const dataToSave = {};
      const slimDataToSave = {};


      defaultPostFields.forEach((field) => {
        dataToSave[field] = this.postData[field];
      });


      slimPostFields.forEach(field => {
        slimDataToSave[field] = this.postData[field];
      });


      switch (this.postGroup) {
        case Constants.ITEM_GROUP_STONE:
          const stoneFields = [
            "stone_shape",
            "stone_weight",
            "stone_color",
            "stone_clarity",
            "stone_origin",
            "certificate"
          ];
          this.postData.stone_weight = this.postData.stone_weight ? parseFloat(this.postData.stone_weight) : null;
          slimDataToSave.weight_category = AppTools.getStoneWeightCategory(this.postData.stone_weight);
          stoneFields.forEach((field) => {
            dataToSave[field] = this.postData[field];
            slimDataToSave[field] = this.postData[field];
          });
          break;
        case Constants.ITEM_GROUP_JEWL:
          const rings = ["ring", "persten"];
          const slimFields = [
            "material",
            "metal_content",
            "stone",
            "central_weight",
            "certificate",
            "jewel_brand"
          ];
          const jewlFields = [
            "material",
            "metal_content",
            "stone",
            "central_weight",
            "stone_shape",
            "stone_color",
            "stone_clarity",
            "total_stones_weight",
            "certificate",
            "jewel_brand"
          ];

          this.postData.central_weight = this.postData.central_weight ? parseFloat(this.postData.central_weight) : null;
          this.postData.total_stones_weight = this.postData.total_stones_weight ? parseFloat(this.postData.total_stones_weight) : null;
          if (rings.includes(this.postData.product)) {
            jewlFields.push("size");
          }

          slimFields.forEach(field => {
            slimDataToSave[field] = this.postData[field];
          });

          jewlFields.forEach((field) => {
            dataToSave[field] = this.postData[field];
          });
          break;
        case Constants.ITEM_GROUP_WATCH:
          const watchFields = [
            "watch_brand",
            "watch_material",
            "watch_model",
            "box",
            "gender",
            "condition",
            "watch_strap",
            "watch_mechanism",
            "watch_document",
            "watch_diameter",
            "watch_shape"
          ];
          watchFields.forEach((field) => {
            dataToSave[field] = this.postData[field];
            slimDataToSave[field] = this.postData[field];
          });
          break;
      }

      const validDetailsToSave = AppTools.validatePersonalDataBeforeSave(dataToSave);
      const postRefs = AppTools.getAllPostDbReferences(this.postData);

      const slim = new Promise((resolve) => {
        Firestore.doc(postRefs.postSlimPath).set(slimDataToSave, {merge: !!this.existingData}).then(() => {
          resolve();
        });
      });

      const full = new Promise((resolve) => {
        Firestore.doc(postRefs.postFullPath).set(validDetailsToSave, {merge: !!this.existingData}).then(() => {
          resolve();
        });
      });

      const user = new Promise((resolve) => {
        Firestore.doc(postRefs.postsPerUserPath).set(validDetailsToSave, {merge: !!this.existingData}).then(() => {
          resolve();
        });
      });

      Promise.all([slim, full, user]).then(() => {
        if (this.dialogInstance) {
          this.resetPreloader();
          this.dialogInstance.$emit('close');
        } else {
          this.progress = 100;
          setTimeout(() => {
            this.resetPreloader();
            this.resetFilledForm();
            this.$bus.emit(Constants.BUS_RESET_DZONE);
            Notifications.showSuccess(this.istrings.congrats, this.istrings.post_published, 5000);
          }, 300);
        }
      });
    }
  }
}
</script>

<style lang="sass">
@import "../assets/styles/variables"
.vi-post-form
  max-height: 100%
  overflow-y: auto
  padding: 0 15px
  +setGridAuto(auto, 25px, "rows")

  &.vi-iphone-mode
    overflow-y: visible

.vi-product-desc
  height: 150px !important

.vi-photo-frame
  +setGridAuto(auto, 20px, "rows")

  ul
    +setGridAuto(auto, 10px, "rows")

  li
    +setGrid(auto 1fr, 5px, null, null, "columns")
    font-size: $regular_font
    color: $very_dark_grey


.vi-use-cdt-frame
  display: flex
  padding: 10px 0


@media all and (max-width: $smartphone_media)
  .vi-post-form
    padding: 0 20px 0 5px

    .vi-auto-grid:last-child
      margin: 0 0 10px 0

</style>
