<template>
  <section class="vi-views-chart-sec">
    <h4>{{str.views_chart_ttl}}</h4>
    <div class="vi-my-post-chart">
      <VueApexCharts width="100%" height="100%" :type="type" :options="options" :series="series"></VueApexCharts>
    </div>
  </section>
</template>

<script>
  import VueApexCharts from 'vue-apexcharts';
  import AppTools from "../assets/scripts/CommonTools";

  export default {
    name: "ChartComponent",
    props: ["type", "id", "data", "str"],
    components: {
      VueApexCharts
    },
    data() {
      return {
        options: {
          chart: {
            id: this.id,
            toolbar: {
              show: false
            },
            dropShadow: {
              enabled: true,
              top: 3,
              left: 3,
              blur: 1,
              opacity: 0.15
            }
          },
          xaxis: {
            categories: this.data.categories,
            labels: {
              style: {
                colors: this.data.categories.map(() => "#818181")
              }
            }
          },
          yaxis: {
            title: {
              text: `${this.str.views}`
            }
          },
          plotOptions: {
            bar: {
              endingShape: 'flat',
              columnWidth: this.data.categories.length > 6 ? '55%' : "25px",
              distributed: true,
            }
          },
          legend: {
            show: false
          },
          grid: {
            show: true,
            borderColor: this.getGridColor()
          },
        },
        series: [{
          name: `${this.str.views}`,
          data: this.data.series[0].data,
          options: {
            colors: ["white"],
          }
        }],
      }
    },
    methods: {
      getGridColor: () => {
        return AppTools.isDarkMode() ? "#282828" : "#dadada";
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables.sass"
  .vi-views-chart-sec
    +setGrid(null, null, auto 1fr, 10px, "rows")

    h4
      color: $c_dark_brown

  .vi-my-post-chart
    height: 300px
    margin: 0 20px 0 0
    border: solid 1px $c_brown
    position: relative
    padding: 0 0 0 10px
</style>
