<template>
  <div class="vi-main-app-preloader" v-bind:class="containerClass">
    <div class="vi-main-app-preloader-content">
      <div class="vi-loader-cube">
        <moon-loader :class="cls" :size="40" color="#9C6718"></moon-loader>
      </div>
      <div class="vi-main-app-preloader-msg" v-if="message">{{message}}</div>
      <div class="vi-preloader-progress" v-show="showProgress">
        <div class="vi-progress-bar-frame">
          <div class="vi-progress-line" :style="lineWidth"></div>
        </div>
        <h5>{{percents}}%</h5>
      </div>
    </div>
  </div>
</template>

<script>
  import {MoonLoader} from "@saeris/vue-spinners";
  import {mapState} from "vuex";

  export default {
    name: "Preloader",
    props: ['message', 'cls', 'containerClass', 'percents', 'showProgress'],
    components: {
      MoonLoader
    },
    computed: {
      ...mapState(["astrings"]),
      /**
       * Данная хуета обновляет счирину линии прогресс бара в соответствии
       * с процентным продвижением загрузки.
       * Влад. 15/04/19
       */
      lineWidth: (component) => {
        return `width: ${component.percents}%`;
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"

  .vi-main-app-preloader
    position: absolute
    background: white
    display: flex
    align-items: center
    justify-content: center
    z-index: 100
    top: 0
    bottom: 0
    left: 0
    right: 0

    &.vi-preloader-transparent
      background: rgba(255, 255, 255, 0.8)

    &.vi-preloader-posts-list
      background: none
      .vi-loader-cube
        width: 100px
        height: 100px
        background-color: white
        border-radius: $main_bord_rad
        display: flex
        align-items: center
        justify-content: center
        +shadowGenerator(0px 10px 14px 0px rgba(0,0,0,0.43))


    &.vi-lower-z-index
      z-index: 21


  .vi-main-app-preloader-content
    +setGridAuto(auto, 20px, "rows")
    justify-items: center
    color: $c_dark_brown

  .vi-main-app-preloader-msg
    font-size: $small_font

  .vi-progress-bar-frame
    display: flex
    width: 100%
    border: solid 1px $c_dark_brown

  .vi-preloader-progress
    +setGridAuto(auto, 10px, "rows")
    width: 100%

    h5
      display: flex
      justify-content: center

  .vi-progress-line
    display: flex
    justify-content: flex-start
    height: 3px
    background: $c_dark_brown


  /*@media (prefers-color-scheme: dark)*/
  /*  .vi-main-app-preloader*/
  /*    background: #161616*/
</style>
