<template>
  <v-popover offset="6" placement="top">
    <button class="vi-simple-btn" @click.prevent="">
      <ArrowUp width="20" viewbox="-10 -20 530 550" fill="#6E4810"></ArrowUp>
    </button>
    <template slot="popover">
      <section class="vi-extend-tooltip vi-simple-tooltip">
        <p class="vi-tooltip-text-simple">{{pushUpAllowed ? istrings.push_post_up : istrings.push_post_up_not_avl}}</p>
        <button class="vi-simple-btn" @click="pushUp()" v-close-popover v-if="pushUpAllowed">
          {{astrings.yes}}
        </button>
      </section>
    </template>
  </v-popover>
</template>


<script>
  import ArrowUp from "./icons/arrow_up";
  import {mapState} from "vuex";
  import AppTools from "../assets/scripts/CommonTools";
  export default {
    name: "PushPostToTopBtn",
    props: ["time", "pushUp"],
    components: {
      ArrowUp
    },
    computed: {
      ...mapState(["istrings", "astrings"]),
      pushUpAllowed: (ctx) => {
        const timePassed = AppTools.getTimePassed(ctx.$moment, ctx.time);
        return timePassed > 0
      }
    },
  }
</script>

<style lang="sass">

</style>
push_post_up
