<template>
  <nav class="vi-user-pub-nav">
    <nuxt-link v-for="link in astrings.user_public_links" :to="`${link.route}?mid=${userId}`" :key="link.name" v-gtag>
      {{!is_phone ? link.name : ""}}
      <nav-icons :icon-name="link.icon" v-if="is_phone"></nav-icons>
    </nuxt-link>
  </nav>
</template>

<script>
  import {mapState} from "vuex";
  import NavIcons from "./icons/user-public-icons";
  export default {
    name: "UserPublicNavBar",
    props: ["userId"],
    components: {
      NavIcons
    },
    computed: {
      ...mapState(["astrings", "is_phone"])
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  @media all and (max-width: $smartphone_media)
    .vi-user-pub-nav
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
</style>
