<template>
  <form class="vi-user-complaint-view">
    <h3 class="vi-view-section-title" v-if="is_phone">{{getName}}</h3>
    <vi-input :header="astrings.name"
              v-model="form.name"
              field-icon="vi-required-i"
              name="comp-name"
              validate-options="required"
              :class="{'vi-invalid-picker' : errors.has('product-type')}">
    </vi-input>
    <vi-input :header="astrings.email"
              v-model="form.email"
              field-icon="vi-required-i"
              name="comp-email"
              :validate-options="{ email: true, required: true }"
              :class="{'vi-invalid-picker' : errors.has('product-type')}">
    </vi-input>
    <vi-textarea :header="astrings.complaint_txt"
                 :maxlength="500"
                 v-model="form.complaint"
                 field-icon="vi-required-i"
                 name="comp-text"
                 validate-options="required"
                 :class="{'vi-invalid-picker' : errors.has('product-type')}">
    </vi-textarea>
    <footer>
      <button type="button" class="vi-submit-btn" @click="sendComplaint()" :disabled="sendButtonDisabled">{{astrings.send}}</button>
    </footer>
    <preloader v-if="sending_complaint"></preloader>
  </form>
</template>

<script>
  import {mapState} from "vuex";
  import Preloader from "@/components/Preloader";
  import Notifications from "@/assets/scripts/Notifications";
  import {Firebase} from "@/assets/firestore/firebaseConf";
  import UserHeadNamesMixin from "../../assets/mixins/CabinetHeadNamesMixin";


  export default {
    name: "complaint",
    mixins: [UserHeadNamesMixin("complaint", "user_public_links")],
    components: {
      Preloader
    },
    data() {
      return {
        sending_complaint: false,
        form: {
          name: "",
          email: "",
          complaint: "",
          complaining_user_id: null,
          complained_user_id: this.$route.query.mid
        }
      }
    },
    created() {
      this.initComplainingUserDetails();
    },
    watch: {
      user_details() {
        this.initComplainingUserDetails();
      }
    },
    computed: {
      ...mapState(["astrings", "user_details", "is_phone"]),
      sendButtonDisabled: (ctx) => {
        return !ctx.form.name.length || !ctx.form.email.length || !ctx.form.complaint.length || ctx.errors.items.length > 0;
      }
    },
    methods: {
      /**
       * В случае когда жалобу пишет залогиненый пользователь
       * система автоматически заполняет поля автора жалобы.
       * Влад. 01/06/20
       */
      initComplainingUserDetails() {
        if (this.user_details.account_id) {
          this.form.name = this.user_details.account_name;
          this.form.email = this.user_details.account_email;
          this.form.complaining_user_id = this.user_details.account_id;
        }
      },

      /**
       * Функция отправляющая жалобу на сервер.
       * Влад. 01/06/20
       */
      sendComplaint() {
        this.$validator.validate().then((isValid) => {
          if (isValid) {
            this.sending_complaint = true;
            const sendComplaint = Firebase.functions().httpsCallable('userComplaint');
            sendComplaint(this.form).then((resp) => {
              this.sending_complaint = false;
              Notifications.showSuccess(this.astrings.thanks, this.astrings.notifications.complaint_received, 10000);
            }).catch(error => {
              this.sending_complaint = false;
              Notifications.showError(this.astrings.error);
            })
          } else {
            Notifications.showError(this.astrings.error, this.astrings.notifications.fill_required);
          }
        });
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-user-complaint-view
    padding: 30px 30px 20px 20px
    +setGrid(null, null, repeat(2, auto) 1fr auto, 20px, "rows")

  @media all and (max-width: $smartphone_media)
    .vi-user-complaint-view
      padding: 5px 20px 5px 20px
      grid-template-rows: repeat(3, auto) 1fr

</style>
