<template>
  <section class="vi-feedback-block">
    <h3 class="vi-view-section-title" v-if="is_phone">{{getName}}</h3>
    <div v-if="!feedbacks || !feedbacks.length" class="vi-no-fb-msg">{{astrings.no_feeds_yet}}</div>
    <ul class="vi-fb-list"
        v-infinite-scroll="fetchUserFeedbacks"
        infinite-scroll-disabled="busy"
        infinite-scroll-distance="10">
      <li v-for="feed in feedbacks">
        <div class="vi-fb-item-head">
          <h4>{{feed.author}}</h4>
          <time>{{$moment(feed.date_created).fromNow()}}</time>
        </div>
        <article>
          <star-rating :read-only="true" :rating="feed.rating" :show-rating="false" :star-size="17"></star-rating>
          <pre>{{feed.feedback}}</pre>
        </article>
      </li>
    </ul>
    <div>
      <button class="vi-submit-btn" @click="openNewFeedbackDialog()">
        {{astrings.add_comment}}
      </button>
    </div>
    <preloader v-if="fetching_feeds"></preloader>
  </section>
</template>

<script>
  import {mapState} from "vuex";
  import NewFeedbackDialog from "@/components/dialogs/NewFeedbackDialog";
  import LoginDialogOpener from "../../assets/mixins/LoginDialogOpener";
  import HeadNamesMixin from "../../assets/mixins/CabinetHeadNamesMixin";
  import infiniteScroll from 'vue-infinite-scroll'
  import CNC from "@/assets/firestore/CommonFirestoreCaller";
  import Preloader from "@/components/Preloader";

  export default {
    name: "feedback",
    mixins: [LoginDialogOpener, HeadNamesMixin("feedback", "user_public_links")],
    directives: {infiniteScroll},
    components: {
      Preloader
    },
    data() {
      return {
        feedbacks: null,
        hasAllFeedbacks: false,
        fetching_feeds: false
      }
    },
    computed: {
      ...mapState(["astrings", "user_details", "is_phone"])
    },
    methods: {
      /**
       * Функция запрашивающая фидбеки пользователя из базы.
       * Влад. 29/05/20
       */
      fetchUserFeedbacks() {
        if (!this.hasAllFeedbacks) {
          this.fetching_feeds = true;
          CNC.getUserFeedbacks(this.feedbacks, this.$route.query.mid, this.hasAllFeedbacks).then(result => {
            this.feedbacks = result.feedResults;
            this.hasAllFeedbacks = result.hasAllFeedbacks;
            this.fetching_feeds = false;
          });
        }
      },

      /**
       * Функция открывающая дайлог для создания нового отзыва.
       * Влад. 29/05/20
       */
      openNewFeedbackDialog() {
        if (this.user_details.account_id) {
          const ww = window.innerWidth;
          const dw = ww > 600 ? "600" : "95%";
          const dh = ww > 600 ? "400" : "95%";
          this.$modal.show(NewFeedbackDialog, {mid: this.$route.query.mid}, {
            width: dw,
            height: dh,
            clickToClose: false
          });
        } else {
          this.openLoginDialog();
        }
      },
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-feedback-block
    overflow: hidden
    position: relative
    padding: 20px 10px 20px 10px
    +setGrid(null, null, 1fr auto, 10px, "rows")

  .vi-fb-list
    padding: 0 10px 0 0
    overflow: auto
    align-content: flex-start
    +setGridAuto(auto, 10px, "rows")

    article
      padding: 10px
      box-sizing: border-box
      border: solid 1px $dark_grey
      border-top: none
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

    pre
      margin: 10px 0 0 0
      font-size: $regular_font
      font-family: Montserrat-Reg, sans-serif

  .vi-fb-item-head
    height: 40px
    align-items: center
    padding: 0 10px
    background: $light_grey
    border: solid 1px $dark_grey
    box-sizing: border-box
    font-size: $regular_font
    font-family: Montserrat-Medium, sans-serif
    +setGrid(1fr auto, 10px, null, null, "columns")

    time
      font-size: $small_font

  .vi-no-fb-msg
    color: $very_dark_grey
    top: 40px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    text-align: center

  @media all and (max-width: $smartphone_media)
    .vi-feedback-block
      grid-template-rows: auto 1fr
      padding: 3px 10px 3px 20px
      .vi-view-section-title
        margin: 0 10px 0 0


</style>
