.vi-alert
  padding: 20px
  font-size: $regular_font
  border-radius: $main_bord_rad
  line-height: 20px
  font-family: Montserrat-Medium, sans-serif
  +shadowGenerator(0px 2px 3px 0px rgba(0, 0, 0, 0.1))

.vi-small-label
  font-size: $regular_font
  height: 100%
  display: flex
  align-items: center
  padding: 1px 5px
  text-transform: uppercase
  box-sizing: border-box

.vi-alert-info
  background: $alert_yellow
  border: solid 1px $main_yellow
  color: $dark_orange

.vi-alert-error
  background: $alert_red
  border: solid 1px $light_red
  color: $light_red


@media (prefers-color-scheme: dark)
  .vi-alert-info
  //  background: $dm_alert_info
  //
  //.vi-alert-warn
  //  background: $dm_alert_warn
  //  border: solid 1px $dark_orange
  //
  //.vi-alert-error
  //  background: $dm_alert_error

