.vue-avatar--wrapper
  background-position: center !important
  background-size: cover !important
  border-radius: $main_bord_rad !important

.vi-avatar-rail
  display: flex
  justify-content: center
  position: relative

  &.vi-post-location
    margin: 15px 0 0 0
    .vi-avatar-widget
      cursor: pointer


