button
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  border: none
  padding: 0 10px
  height: 30px
  font-size: $btn_font_size
  -webkit-appearance: none
  &.vi-small-padding
    padding: 0 5px

.vi-create-post-btn, .vi-login-btn, .vi-simple-btn, .vi-submit-btn, .vi-red-btn
  border-radius: $main_bord_rad
  font-size: $regular_font
  font-family: Montserrat-Medium, sans-serif
  +shadowGenerator(0 1px 3px 0 rgba(0,0,0,0.3))
  +noUserSelect()
  &:active
    +shadowGenerator(inset 0 0 5px 0 rgba(0,0,0,0.75))
  &:disabled
    background: $dark_grey
    cursor: default
    pointer-events: none


.vi-simple-btn, .vi-submit-btn, .vi-red-btn
  border-radius: 5px
  height: 40px

.vi-simple-btn
  color: $c_brown
  border: solid 1px $c_brown

.vi-submit-btn
  background: $c_main_btn
  color: $c_dark_brown

.vi-red-btn
  color: $main_red
  border: solid 1px $main_red


@media (prefers-color-scheme: dark)
  .vi-cancel-btn
    //background: $dm_disabled_bgr
    //color: white
