
.vi-post-details-row
  span
    &:first-child
      color: $very_dark_grey
      font-size: $regular_font

    &:last-child
      font-size: $regular_font

.vi-post-full-view, .vi-public-user-view
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

.vi-legal-notes-view, .vi-about-page
  padding: 10px 80px
  overflow: hidden

  main
    position: relative
    padding: 20px 0 20px 20px
    width: 100%
    height: 100%
    box-sizing: border-box
    overflow-x: hidden
    overflow-y: auto
    align-content: flex-start
    +setGridAuto(auto, 10px, "rows")
    p
      font-size: $regular_font
      line-height: 25px

.vi-post-pending
  display: flex
  width: 10px
  height: 10px
  border-radius: 50%
  box-sizing: border-box
  background: #FFC90B
  +shadowGenerator(0 1px 3px -1px rgba(0, 0, 0, 0.51))

.vi-centralize
  display: flex
  align-items: center
  justify-content: center

.vi-simple-text
  font-size: $semi_reg_font

.vi-post-unavailable, .vi-not-found-user
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: $very_dark_grey
  padding: 0 20px 0 0
  height: 100%

  i
    display: flex
    width: 40px
    height: 40px
    background-size: contain
    opacity: 0.3
    margin: 0 0 10px 0

  p
    text-align: center

.vi-cabinet-side-bar, .vi-user-pub-nav
  overflow: hidden
  +setGridAuto(60px, null, "rows")

  a
    +setGrid(auto 1fr, 15px, null, null, "columns")
    padding: 10px
    align-items: center
    color: black

    &:hover
      background: $c_link_hover
      text-decoration: none

    &.nuxt-link-active
      background: $c_link_hover
      border-right: solid 3px $dark_orange

@media all and (max-width: $smartphone_media)
  .vi-legal-notes-view, .vi-about-page
    padding: 10px

  .vi-cabinet-side-bar
    grid-row: 2 / 3
  .vi-user-pub-nav
    grid-row: 3 / 4
  .vi-cabinet-side-bar, .vi-user-pub-nav

    grid-auto-flow: column

    &.vi-bordered-tile
      border-radius: 0

    a
      justify-content: center
      grid-template-columns: auto
      grid-column-gap: 0
      padding: 3px 0 0 0

      &.nuxt-link-active
        fill: white
        border-right: none
        border-top: solid 2px $dark_orange
        padding: 1px 0 0 0



