.v--modal
  border-radius: $main_bord_rad !important
.vi-app-dialog, .vi-app-dialog-main
  position: relative
  box-sizing: border-box

.vi-app-dialog-main
  height: 100%
  +setGrid(null, null, auto 1fr auto, 10px, "rows")

.vi-dialog-title
  color: $c_dark_text
  height: 50px
  display: flex
  align-items: center
  padding: 0 20px
  border-bottom: solid 1px $dark_grey

.vi-dialog-body
  z-index: 1

.vi-dialog-footer
  height: 40px
  align-items: center
  justify-content: center
  border-top: solid 1px $light_grey
  +setGridAuto(auto, 10px, "columns")

