.vi-input-component:not(.vi-slider)
  position: relative
  h4
    position: absolute
    background-color: white
    top: -8px
    left: 10px
    padding: 0 7px
    font-size: $small_font
    color: $c_brown
    border-radius: 5px
    z-index: 5
    max-width: 90%
    &.vi-required-i
      padding: 0 20px 0 7px
      background-position: right 5px center

  .vi-usd-i
    background-position: center right 5px

  &.vi-area-invalid
    h4
      color: $main_red
  input:not([type=radio]), select, textarea, .input-tel.is-disabled .input-tel__input
    width: 100%
    padding: 0 15px
    border: solid 1px $c_brown
    border-radius: 5px
    font-family: Montserrat-Reg, sans-serif
    &.vi-customized-input
      border-radius: $main_bord_rad
    .vi-select-frame
      display: flex
      height: 100%
    &:disabled
      background: $light_grey

  input:not([type=radio]), select
    height: $inputs_height

  textarea
    height: 100%
    padding: 15px 10px 10px 10px


.vi-invalid-input, .vi-invalid-picker select, .vi-invalid-component input,
.vi-invalid-component label, .vi-taken-name
  border-color: red !important
  background-color: $input_error !important

  &::-webkit-input-placeholder, textarea::-webkit-input-placeholder
    color: $main_red !important

  &:-moz-placeholder, textarea:-moz-placeholder
    color: $main_red !important

  &::-moz-placeholder, textarea::-moz-placeholder
    color: $main_red !important

  &:-ms-input-placeholder, textarea:-ms-input-placeholder
    color: $main_red !important


input[type=text], input[type=password], input[type=number], input[type=email], input[type=search], textarea,
.vi-form-label, .input-phone-number input
  -webkit-appearance: none
  -moz-appearance: textfield
  box-sizing: border-box

.vi-error-tooltip
  position: absolute
  bottom: 60px
  left: 0
  padding: 10px
  background: $alert_red
  border: solid 1px $main_red
  color: $main_red
  z-index: 10
  font-size: $small_font
  border-radius: 5px
  +shadowGenerator(0px 7px 5px 0px rgba(0,0,0,0.29))


//@media (prefers-color-scheme: dark)
//  .vi-input-component
//    h4
//      color: white
//
//  .vi-input-component, .vi-login-form, .input-phone-number
//    textarea, input:not([type=radio]), .vi-form-label, select
//      &:disabled
//        background-color: $dm_disabled_bgr !important
//        color: rgb(84, 84, 84)
//
//  input[type=text]:not(.vi-name-available), input[type=password], input[type=number], input[type=email], input[type=search], textarea,
//  .vi-form-label, .input-phone-number input
//    background-color: $dm_input_bgr
//    color: white
//    border-radius: 0
//
//
//  .vi-select-frame
//    background: $dm_input_bgr
//    select
//      color: white
//
