.vi-app-notifications
  .vue-notification
    margin: 5px
    font-size: $regular_font !important
    +setGrid(null, null, auto auto, 10px, "rows")

  .notification
    +setGrid(null, null, 15px 1fr, 5px, "rows")

  .notification-content
    line-height: 20px
