$very_small_font: 12px
$small_font: 13px
$regular_font: 14px
$semi_reg_font: 15px
$medium_font: 16px
$large_font: 18px
$very_large_font: 24px

$light_grey: #f5f5f5
$dark_grey: #dadada
$very_dark_grey: #acacac
$main_green: rgb(30, 234, 57)
$main_green_dark: rgb(36, 141, 3)
$input_green: rgb(143, 255, 171)
$main_yellow: rgb(255, 222, 0)
$main_orange: #ffd226
$dark_orange: #ffa100
$main_red: #c70700
$light_red: #ff5260

$alert_yellow: #fffab9
$alert_red: #ffd3d3
$input_error: rgba(255, 0, 0, .3)

$btn_font_size: $very_small_font
$input_title_font: $very_small_font
$default_border: solid 1px $dark_grey

$c_brown: #9C6718
$c_dark_brown: #6E4810
$c_main_btn: #E9BF86
$c_link_hover: #F6F1EA
$c_dark_text: #999999
$c_app_light_yellow: #FFFEFB
$c_app_darker_yellow: #FFF8DE

/** CONSTANT SIZES **/
$header_height: 60px
$inputs_height: 50px
$main_padding: 200px

$main_bord_rad: 10px

$desktop_small: 1300px
$tablet_media: 1000px
$smartphone_media: 700px
/** CONSTANT SIZES **/

/** DARK MODE COLORS **/
$dm_main_blue: #121e3d
$dm_blue_lighter: #0a4096
$dm_input_bgr: #282828
$dm_dark_bgr: #161616
$dm_disabled_bgr: #313131
$dm_alert_info: #273753
$dm_alert_warn: #7a6500
$dm_alert_error: #6e3437
/** DARK MODE COLORS **/

@function getGridMinMax($values)
  $result: ()
  @each $value in $values
    $result: append($result, minmax($value, 1fr))
  @return $result

=setGrid($columns, $columns-gap, $rows, $rows-gap, $type)
  display: grid
  @if ($type == 'columns')
    grid-template-columns: $columns
    grid-column-gap: $columns-gap
  @else if ($type == 'rows')
    grid-template-rows: $rows
    grid-row-gap: $rows-gap
  @else if ($type == 'both')
    grid-template-columns: $columns
    grid-column-gap: $columns-gap
    grid-template-rows: $rows
    grid-row-gap: $rows-gap

=setGridAuto($size, $gap, $type)
  display: grid
  @if ($type == "columns")
    grid-auto-columns: $size
    grid-template-columns: $size
    grid-column-gap: $gap
    grid-auto-flow: column
  @else if ($type == "rows")
    grid-auto-rows: $size
    grid-template-rows: $size
    grid-row-gap: $gap
    grid-auto-flow: row

=shadowGenerator($item)
  -webkit-box-shadow: $item
  -moz-box-shadow: $item
  box-shadow: $item

=noUserSelect()
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

=transition($attr, $time, $type:ease-out)
  will-change: $attr
  -webkit-transition: $attr $time $type
  -moz-transition: $attr $time $type
  -o-transition: $attr $time $type
  transition: $attr $time

=rotateElement($angle)
  -ms-transform: rotate($angle)
  -webkit-transform: rotate($angle)
  -moz-transform: rotate($angle)
  -o-transform: rotate($angle)
  transform: rotate($angle)

=svgBGIcon($url, $size:cover, $position: center)
  background-image: none
  -webkit-mask-image: url($url)
  mask-image: url($url)
  -webkit-mask-size: $size
  mask-size: $size
  -webkit-mask-position: $position
  mask-position: $position
  -webkit-mask-repeat: no-repeat
  mask-repeat: no-repeat

=ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=addGradient($val)
  background: -moz-linear-gradient(top, $val)
  background: -webkit-linear-gradient(top, $val)
  background: linear-gradient(to bottom, $val)

=setSticky()
  position: sticky
  position: -webkit-sticky
  top: 0

=appGradient()
  background-image: linear-gradient(135deg, $c_app_light_yellow, $c_app_darker_yellow)
