@import variables

$dz_border_radius: 5px
.vi-dropzone-element
  &.dropzone
    min-height: auto
    padding: 0
    .dz-preview
      margin: 10px
  &.vue-dropzone
    border-radius: $dz_border_radius
    margin: 0 0 20px 0
    &:hover
      background-color: $light_grey

  &.vi-avatar-dz
    background: none
    border: none
    margin: 0
    width: 150px
    height: 150px
    border-radius: $main_bord_rad
    .dz-image-preview
      margin: 0

    &:hover
      opacity: 0.6

    &.vue-dropzone>.dz-preview
      border: none


  .dz-progress
    display: none

  &.vue-dropzone>.dz-preview
    border: none
    box-sizing: border-box
    border-radius: $dz_border_radius
    overflow: hidden
    cursor: pointer
    +shadowGenerator(0px 4px 5px -1px rgba(0,0,0,0.3))
    &.dz-error
      border: solid 2px $main_red
    .dz-remove
      padding: 0 15px
      display: flex
      align-items: center
      justify-content: center
      left: 25%
      width: 50%
      margin: 0

      &:hover
        text-decoration: none

    .dz-details
      background-color: rgba(255,255,255,.7)

    .dz-remove
      color: $c_dark_brown
      border: solid 1px $c_dark_brown
      border-radius: $dz_border_radius


    .dz-error-message
      top: 10px
      left: 5%
      width: 90%
      padding: 3px 5px
      background: $main_red
      border-radius: $dz_border_radius

  .dz-filename
    display: none

  .dz-message
    color: $c_dark_brown

  .dz-error-mark svg g g
    fill: $main_red


