@import variables
@import alerts
@import buttons
@import dialogs
@import notifications
@import common
@import tooltip
@import cookie_law
@import avatar

@font-face
  font-family: "Montserrat-Reg"
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype"), url("./fonts/Montserrat-Regular.woff") format("woff")

@font-face
  font-family: "Montserrat-Medium"
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype"), url("./fonts/Montserrat-Medium.woff") format("woff")

@font-face
  font-family: "Montserrat-Bold"
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype"), url("./fonts/Montserrat-Bold.woff") format("woff")

html, body, .vi-main-frame
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden
  color: black
  font-family: Montserrat-Reg ,sans-serif
  margin: 0
  padding: 0
  +appGradient()
  .v--modal-overlay
    background: rgba(156, 103, 24, .5)


#__nuxt, #__layout
  width: 100%
  height: 100%
  overflow: hidden

h1, h2, h3, h4, h5, h6, pre
  margin: 0
  padding: 0
  font-weight: normal

pre
  display: flex
  font-family: Montserrat, sans-serif
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

ul, p
  list-style: none
  margin: 0
  padding: 0

a
  cursor: pointer
  text-decoration: none
  font-size: $small_font
  &:focus, &:hover
    text-decoration: none !important

fieldset
  border: none
  padding: 0

input, textarea, select
  resize: none
  outline: none
  background: white
  box-sizing: border-box

button
  background: none
  &:disabled
    opacity: .3

select
  border: none
  -moz-appearance: none
  -webkit-appearance: none
  font-size: $small_font
  cursor: pointer
  background: transparent

  &:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000

::-webkit-scrollbar
  width: 4px
  background-color: #F5F5F5

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: #cdcdcd

::-webkit-scrollbar-track
  border-radius: 10px
  background-color: #f5f5f5
  background-clip: content-box


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none

input[type=number]
  -moz-appearance: textfield


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .no-country-selector::-webkit-input-placeholder
  color: $very_dark_grey !important

input:-moz-placeholder, textarea:-moz-placeholder, .no-country-selector:-moz-placeholder
  color: $very_dark_grey !important

input::-moz-placeholder, textarea::-moz-placeholder, .no-country-selector::-moz-placeholder
  color: $very_dark_grey !important

input:-ms-input-placeholder, textarea:-ms-input-placeholder, .no-country-selector:-ms-input-placeholder
  color: $very_dark_grey !important

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, .no-country-selector:focus::-webkit-input-placeholder
  color: transparent !important

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder, .no-country-selector:focus:-moz-placeholder
  color: transparent !important

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder, .no-country-selector:focus::-moz-placeholder
  color: transparent !important

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, .no-country-selector:focus:-ms-input-placeholder
  color: transparent !important

a, .vi-input-component h4, .vi-view-section-title, .vi-photo-frame, .vi-posts-list-tabs, .vi-posts-list-grid li,
.vi-posts-list-rows li, .vi-my-posts-frame ul, .vi-post-full-details span:first-child, .vi-post-header,
.vi-email-not-verified, .vi-extend-tooltip, .vti__dropdown, .vi-post-full-price, .vi-filters-content,
.vi-dialog-logout, .vi-post-unavailable, .vi-name-is-taken, .Cookie__content, .vi-clues-list, .vi-use-cdt-frame,
.vi-contact-item i, .vi-logged-in-menu, .dz-message
  +noUserSelect()

.vi-post-contact-rows h5, .vi-post-contact-rows span, .vi-my-post-cell span, .vi-my-post-cell h5,
.vi-my-posts-frame h4, nav a, .vi-post-det-foot span:first-child, .vi-dialog-login-modes a, .vti__dropdown-item strong,
.vi-post-details-row span:last-child, .vi-post-created, .vi-post-status-widget label, .vi-post-details-row h4,
.vi-seller-main a, .vi-fb-item-head h4, .vi-input-component h4, .vi-city-block span
  +ellipsis()

.vi-scrollable
  overflow: auto

.vi-post-form, .vi-posts-list-grid, .vi-posts-list-rows, .vi-post-scrollable, .vi-filters-content, .vi-scrollable,
.vi-fb-list
  overflow: auto
  -webkit-overflow-scrolling: touch

.vi-visible-part
  height: 100%
  overflow: hidden
  +setGrid(null, null, auto 1fr auto, 0, "rows")

.vi-default-shadow, .v-autocomplete-list
  +shadowGenerator(0px 2px 3px 0px rgba(0, 0, 0, 0.1))

.vi-bordered-tile, .vi-posts-list-grid li, .vi-posts-list-rows li
  background: white
  +shadowGenerator(0px 0px 4px 0px rgba(0, 0, 0, 0.3))

.vi-bordered-tile
  border-radius: 7px

.vi-view-section-title
  font-size: $medium_font
  line-height: 30px
  height: 30px
  color: $c_dark_text
  z-index: 2
  font-family: Montserrat-Medium, sans-serif
  border-top-left-radius: $main_bord_rad
  border-top-right-radius: $main_bord_rad

.vi-separator
  height: 1px
  background: $dark_grey
  width: 100%

.vi-auto-grid
  align-items: flex-start
  align-content: flex-start
  +setGrid(repeat(auto-fit, minmax(220px, 1fr)), 20px, auto, 25px, "both")

.vi-auto-grid-wide
  align-items: flex-start
  +setGrid(repeat(auto-fit, minmax(300px, 1fr)), 20px, auto, 20px, "both")

.vi-quatro-grid
  +setGrid(repeat(4, 1fr), 20px, null, null, "columns")

.vi-double-grid
  +setGrid(repeat(2, 1fr), 20px, null, null, "columns")

.vi-blurred
  filter: blur(8px)
  -webkit-filter: blur(8px)


@media all and (max-width: $smartphone_media)

  .vi-visible-part
    grid-template-rows: auto 1fr

@import input_components
