<template>
  <CommonListStructure :open-filters="openFilters" :group="group" list-class="vi-jewels-list"></CommonListStructure>
</template>

<script>
  import CommonListStructure from "../../components/main_view/CommonListViewStructure";
  import {Constants} from "../../assets/scripts/Constants";
  import infiniteScroll from 'vue-infinite-scroll'

  export default {
    name: "jewls-posts",
    props: ["openFilters"],
    directives: {infiniteScroll},
    components: {
      CommonListStructure
    },
    head() {
      return {
        meta: [
          {
            hid: "keywords",
            name: 'keywords',
            content: 'продать кольцо, продать серьги, продать браслет, продать ювелирное изделие, продать изделие с драгоценными камнями,' +
              'продать серьги с бриллиантами, продать кольцо с бриллиантом, церьги с сапфирами, кольцо с сапфиром, браслет с рубинами,' +
              'кольцо срубином, купить кольцо с бриллиантом, купить серьги из золота, купить браслет из платины, кулон с сапфиром, кулон с бриллиантом,' +
              'кулон с рубином'
          },
          {hid: 'description', name: 'description', content: 'Бесплатная платформа для продажи ювелирных изделий'}
        ],
        link: [
          {rel: 'canonical', href: 'https://saknay.ru/posts/jeweleries-posts'}
        ]
      }
    },
    data() {
      return {
        group: Constants.ITEM_GROUP_JEWL
      }
    }
  }
</script>
