<template>
  <CommonListStructure :open-filters="openFilters" :group="group" list-class="vi-stones-list"></CommonListStructure>
</template>

<script>
  import CommonListStructure from "../../components/main_view/CommonListViewStructure";
  import {Constants} from "../../assets/scripts/Constants";
  import infiniteScroll from 'vue-infinite-scroll'

  export default {
    name: "stones-posts",
    props: ["openFilters"],
    directives: {infiniteScroll},
    components: {
      CommonListStructure
    },
    head() {
      return {
        meta: [
          {
            hid: "keywords",
            name: 'keywords',
            content: 'купить бриллиант, продать бриллиант, купить рубин, продать рубин, купить сапфир, продать сапфир, ' +
              'продать изумруд, купить изумруд, продажа драгоценных камней, не дорого'
          },
          {hid: 'description', name: 'description', content: 'Бесплатная платформа для продажи драгоценных камней'}
        ],
        link: [
          {rel: 'canonical', href: 'https://saknay.ru/posts/stones-posts'}
        ]
      }
    },
    data() {
      return {
        group: Constants.ITEM_GROUP_STONE
      }
    }
  }
</script>
