<template>
  <CommonListStructure :open-filters="openFilters" :group="group" list-class="vi-watches-list"></CommonListStructure>
</template>

<script>
  import CommonListStructure from "../../components/main_view/CommonListViewStructure";
  import {Constants} from "../../assets/scripts/Constants";

  export default {
    name: "watches-posts",
    props: ["openFilters"],
    components: {
      CommonListStructure
    },
    head() {
      return {
        meta: [
          {
            hid: "keywords",
            name: 'keywords',
            content: 'продажа часов, покупка часов, часы купить, часы продать, швейцарские часы, элитные бренды чассов, б/у часы, Patek Philippe, Zenith, Vacheron Constantin, Breitling, Rolex, Breguet, Panerai, Raymond Weil, Frederique Constant, Maurice Lacroix, Cartier, Ulysse Nardin, Longines, IWC, Tag Heuer, Omega, Oris, Rado, Jaeger-LeCoultre'
          },
          {hid: 'description', name: 'description', content: 'Бесплатная платформа для продажи швейцарских часов'}
        ],
        link: [
          {rel: 'canonical', href: 'https://saknay.ru/posts/watches-posts'}
        ]
      }
    },
    data() {
      return {
        group: Constants.ITEM_GROUP_WATCH
      }
    }
  }
</script>
