<template>
  <div class="vi-main-frame">
    <div class="vi-visible-part">
      <Header></Header>
      <nuxt/>
      <Footer v-if="!is_phone"></Footer>
    </div>
    <modals-container/>
    <notifications class="vi-app-notifications" :max="3" group="app-default" position="top left"></notifications>
    <Preloader :message="astrings.loading" v-if="show_app_loader"></Preloader>
    <cookie-law theme="dark-lime" :button-text="astrings.close">
      <div slot="message" v-once>
        {{astrings.cookie_txt}}
        <router-link to="/legal-notes" class="vi-cookie-link">{{astrings.cookie_more_btn}}</router-link>
      </div>
    </cookie-law>
  </div>
</template>

<script>
  import Header from "../components/Header";
  import Footer from "../components/Footer";
  import Preloader from "@/components/Preloader";
  import {mapState, mapMutations} from "vuex";
  import AppConfig from "../assets/scripts/AppConfig";
  import GateKeeper from "../assets/scripts/GateKeeper";
  import CFC from "../assets/firestore/CommonFirestoreCaller";
  import CookieLaw from 'vue-cookie-law';
  import {Constants} from "../assets/scripts/Constants";
  import Directives from "@/assets/directives/Directives";

  export default {
    components: {
      Header,
      Footer,
      Preloader,
      CookieLaw
    },
    created() {
      // AppConfig.disableMobileScaling();
      AppConfig.initViewportResizeWatcher(this.setVuexIsPhone);
      this.getStringsCollectionsFromDB();
      this.checkCurrencyData();
    },
    data() {
      return {
        today: this.$moment().format('L')
      }
    },
    methods: {
      ...mapMutations([
        "setVuexIsPhone",
        "setVuexCurrencyData",
        "setVuexImportedCities",
        "setVuexWatchBrands"
      ]),
      /**
       * Функция запрашивает курс иностранной валюты в том случае если на текущий день
       * курс еще не был обновлен. Если  курс был обновлен то функция извлекает курс
       * из локальных данных и захуяривает его во Вьюкс
       * @returns {Promise<*>}
       * Влад. 26/12/19
       */
      checkCurrencyData() {
        const updatedCurrency = localStorage.getItem("currency_updated_at");
        if (!updatedCurrency || updatedCurrency !== this.today) {
          GateKeeper.getCurrencies().then(resp => {
            if (resp.quotes && resp.quotes.USDRUB) {
              const rub = resp.quotes.USDRUB.toFixed(4);
              localStorage.setItem("currency_updated_at", this.today);
              localStorage.setItem("rub_currency", rub);
              this.setVuexCurrencyData({rub: rub});
            }
          });
        } else {
          this.setVuexCurrencyData({rub: localStorage.getItem("rub_currency")});
        }
      },


      /**
       * Запрашиваем нужные стринги как только приложение поднимается и запоминаем его в стейт и в
       * локал сторедж чтоб не перезапрашивать лишний раз
       * Влад. 19/01/20
       */
      getStringsCollectionsFromDB() {
        const updatedCities = localStorage.getItem("app_updated_at");
        if (!updatedCities || updatedCities !== this.today) {
          CFC.updateUserLastVisited();
          CFC.getStringsDataFromFirebase("rus_cities").then(cities => {
            localStorage.setItem("app_updated_at", this.today);
            localStorage.setItem("icities", JSON.stringify(cities));
            this.setVuexImportedCities(cities);
          });
          CFC.getStringsDataFromFirebase("watch_brands").then(brands => {
            const encrypted = this.CryptoJS.AES.encrypt(JSON.stringify(brands), Constants.SK).toString();
            localStorage.setItem("iwatch_brands", encrypted);
            this.setVuexWatchBrands(brands);
          });
          CFC.getStringsDataFromFirebase("jewel_brands").then(brands => {
            if (brands && brands.length) {
              const encrypted = this.CryptoJS.AES.encrypt(JSON.stringify(brands), Constants.SK);
              localStorage.setItem("jb", encrypted);
            }
          });
        } else {
          this.setVuexImportedCities(JSON.parse(localStorage.getItem("icities")));
          const decWatchBrands = this.CryptoJS.AES.decrypt(localStorage.getItem("iwatch_brands"), Constants.SK).toString(this.CryptoJS.enc.Utf8);
          this.setVuexWatchBrands(JSON.parse(decWatchBrands));
        }
      }
    },
    computed: {
      ...mapState(["astrings", "show_app_loader", "is_phone"])
    }
  }
</script>
