<template>
  <section class="vi-error-page">
    <div class="vi-error-content vi-posts-list-tabs">
      <h2>Ошибка {{error.statusCode}}</h2>
      <h3 v-if="error.statusCode === 404">Страница не найдена</h3>
      <nuxt-link to="/" class="vi-login-btn">Вернуться на главную</nuxt-link>
    </div>
  </section>
</template>

<script>
  import Navigator from "../assets/scripts/Navigator";

  export default {
    name: "error",
    props: ["error"],
    data() {
      return {
        nav: new Navigator(this.$router)
      }
    }
  }
</script>

<style scoped lang="sass">
  @import "../assets/styles/variables.sass"
  .vi-error-page
    display: flex
    justify-content: center
    align-items: center
    height: 100%
  .vi-error-content
    align-items: center
    justify-content: center
    +setGridAuto(60px, 10px, "rows")
    .vi-login-btn
      width: 100%
    h2
      font-size: 50px
    h2, h3, a
      text-align: center
    h3, h2
      color: $c_dark_brown
</style>
