<template>
  <div class="vi-cabinet-view">
    <div class="vi-cabinet-side-bar vi-bordered-tile" v-if="user && user.emailVerified">
      <nuxt-link v-for="link in astrings.cabinet_links" :to="link.route" :key="link.route" v-gtag>
        <LinkIcons :phone="is_phone" :icon-name="link.icon"/>
        <span>{{!is_phone ? link.name : ""}}</span>
      </nuxt-link>
    </div>
    <nuxt-child v-if="user && user.emailVerified" class="vi-cabinet-pages vi-bordered-tile"/>
    <div class="vi-email-not-verified" v-if="user && !user.emailVerified"><label>{{astrings.email_not_verified}}</label>
    </div>
  </div>
</template>

<script>
  import Navigator from "@/assets/scripts/Navigator";
  import {mapState, mapMutations} from "vuex";
  import {Firebase} from "@/assets/firestore/firebaseConf"
  import {Constants} from "@/assets/scripts/Constants";
  import AppTools from "@/assets/scripts/CommonTools";
  import Authentication from "@/assets/firestore/authentication";
  import LinkIcons from "@/components/icons/posts_icon";

  export default {
    name: "cabinet",
    components: {
      LinkIcons
    },
    beforeRouteEnter (to, from, next) {
      const forbidden = ["/cabinet", "/cabinet/"];
      if (forbidden.includes(to.path)) {
        next(false);
      } else {
        next();
      }
    },
    data() {
      return {
        user: null,
        nav: new Navigator(this.$router)
      }
    },
    computed: {
      ...mapState(["astrings", "istrings", "is_phone"])
    },
    created() {
      Authentication.auth().onAuthStateChanged(user => {
        if (user) {
          this.user = user;
          if (AppTools.isEmptyObj(this.istrings)) {
            this.setVuexAppLoader(true);
            Firebase.database().ref(`${Constants.FIRE_S_STRINGS}/ru`).once("value").then(snapshot => {
              if (snapshot.val()) {
                this.setVuexAppLoader(false);
                this.setVuexImportedStrings(snapshot.val());
              }
            });
          }
        } else {
          this.nav.goToMainView();
        }
      });
    },
    methods: {
      ...mapMutations(["setVuexImportedStrings", "setVuexAppLoader", "setVuexIsPhone"]),
    },
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  .vi-cabinet-view
    padding: 15px 15px 10px 15px
    overflow: hidden
    position: relative
    +setGrid(270px 1fr, 15px, null, null, "columns")

  .vi-email-not-verified
    left: 0
    right: 0
    top: 0
    bottom: 0
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    padding: 0 50px
    color: $very_dark_grey
    text-align: center

    label
      padding: 60px 0 0 0
      line-height: 25px

  @media all and (max-width: $smartphone_media)
    .vi-cabinet-view
      padding: 0
      grid-template-columns: 1fr
      grid-template-rows: 1fr auto
      grid-row-gap: 10px
      width: 100%
      box-sizing: border-box

    .vi-cabinet-pages
      margin: 3px 10px 0 10px

    .vi-cab-mobile-ttl
      height: 40px
      display: flex
      flex-shrink: 0
      align-items: center
      padding: 0 15px
      background: $light_grey

    .vi-email-not-verified label
      padding: 90px 0 0 0


</style>
