<template>
  <section class="vi-main-page">
    <Tabs v-if="is_phone"></Tabs>
    <main>
      <div class="vi-title-part">
        <h1 class="vi-description-part">
          <b>{{astrings.free_plat}}</b>
          <br/>
          <span>{{astrings.free_desc}}</span>
        </h1>
        <PostButton></PostButton>
      </div>
      <div class="vi-main-image" :style="setViewImage()"></div>
    </main>
  </section>
</template>

<script>
  import {mapState} from "vuex";
  import PostButton from "../components/CreatePostButton";
  import Tabs from "@/components/main_view/PostsViewTabs";

  export default {
    components: {
      PostButton,
      Tabs
    },
    computed: {
      ...mapState(["astrings", "is_phone"])
    },
    methods: {
      setViewImage() {
        const imageID = Math.floor(Math.random() * 15) + 1;
        return `background: url("images/${imageID}.png") center no-repeat; background-size: contain`;
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  .vi-main-page
    display: flex
    align-items: center
    main
      padding: 0 $main_padding
      align-items: center
      +setGrid(1fr 1fr, 10px, null, null, "columns")

  .vi-description-part
    color: white
    font-size: $large_font
    text-align: center


  .vi-main-image
    min-height: 300px

  .vi-title-part
    justify-items: flex-start
    +setGridAuto(auto, 20px, "rows")
    h1
      text-align: left
      color: $c_brown
      b
        display: inline-block
        margin: 0 0 15px 0
        font-size: $very_large_font
        font-family: Montserrat-Bold, sans-serif

  @media all and (max-width: $tablet_media)
    .vi-main-page main
      padding: 0 70px

  @media all and (max-width: $smartphone_media)
    .vi-main-page
      align-items: flex-start
      +setGrid(null, null, auto 1fr, 10px, "rows")

      main
        height: 100%
        padding: 0 20px
        align-content: flex-start
        grid-template-columns: none
        grid-column-gap: 0
        grid-template-rows: 1fr 1fr
        grid-row-gap: 0

      .vi-main-image
        min-height: 220px
        margin: 10px 0 0 0
        grid-row: 1/2

      .vi-title-part
        justify-content: flex-start
        justify-items: center

        h1
          text-align: center
        b
          font-size: 20px
        span
          font-size: $medium_font

  @media all and (max-width: 330px)
    .vi-main-image
      min-height: 250px

</style>
