<template>
  <section class="vi-legal-notes-view">
    <main class="vi-bordered-tile">
      <span class="vi-view-section-title">{{strings.title}}</span>
      <p v-if="strings.text">{{strings.text.replace('{name}', astrings.app_name)}}</p>
      <p>{{strings.if_not_agree}}</p>
      <Preloader :message="astrings.loading" v-if="fetching"></Preloader>
    </main>
  </section>
</template>

<script>
  import {mapState} from "vuex";
  import StringsFetchMixin from "@/assets/mixins/StringsFetchMixin";

  export default {
    name: "legal-notes",
    mixins: [StringsFetchMixin("legal_notes")],
    computed: {
      ...mapState(["astrings"])
    }
  }
</script>
