<template>
  <section class="vi-posts-view">
    <nuxt-child class="vi-posts-list" :open-filters="openFiltersDialog"/>
  </section>
</template>

<script>
  import {mapState} from "vuex";
  import {Constants} from "../assets/scripts/Constants";
  import FiltersDialog from "@/components/dialogs/ListFiltersDialog";

  export default {
    components: {
      FiltersDialog
    },
    computed: {
      ...mapState(["astrings"])
    },
    methods: {
      openFiltersDialog() {
        this.$modal.show(FiltersDialog, null, {
          width: window.innerWidth < Constants.PHONE_WIDTH ? "95%" : "450",
          height: window.innerWidth < Constants.PHONE_WIDTH ? "97%" : "650",
          clickToClose: false
        })
      },
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  $stone_cell_height: 340px
  $jewls_cell_height: 340px
  $watch_cell_height: 315px

  .vi-posts-view
    position: relative
    overflow: hidden
    +setGrid(null, null, 1fr, 10px, "rows")

  .vi-posts-list
    position: relative
    overflow: hidden

  .vi-posts
    +setGrid(null, null, 50px 1fr, 10px, "rows")

  .vi-posts-list-wrapper
    overflow: hidden
    position: relative

  .vi-posts-list-grid,
  .vi-posts-list-rows
    overflow-x: hidden
    overflow-y: auto
    box-sizing: border-box
    position: relative
    width: 100%
    height: 100%

    li
      overflow: hidden

      img
        max-height: 100%
        max-width: 100%
        display: flex

  .vi-posts-list-grid
    justify-content: flex-start

    &.vi-stones-list
      +setGrid(repeat(auto-fill, minmax(200px, 1fr)), 25px, repeat(auto-fit, minmax($stone_cell_height, $stone_cell_height)), 25px, "both")

      li
        height: $stone_cell_height

    &.vi-jewels-list
      +setGrid(repeat(auto-fill, minmax(200px, 1fr)), 25px, repeat(auto-fit, minmax($jewls_cell_height, $jewls_cell_height)), 25px, "both")

      li
        height: $jewls_cell_height

    &.vi-watches-list
      +setGrid(repeat(auto-fill, minmax(200px, 1fr)), 25px, repeat(auto-fit, minmax($watch_cell_height, $watch_cell_height)), 25px, "both")

      li
        height: $watch_cell_height

    li
      position: relative
      width: 100%
      padding: 15px
      align-content: flex-start
      +setGrid(null, null, auto auto, 10px, "rows")

      &:last-child
        margin: 0 0 10px 0


  .vi-posts-list-rows
    padding: 3px 0 5px 0
    +setGridAuto(140px, 15px, "rows")

    li
      height: 100%
      padding: 0 10px
      +setGrid(auto 1fr auto, 15px, null, null, "columns")

      &:last-child
        margin: 0 3px 10px 3px


  .vi-post-list-toolbar
    padding: 0 300px

  .vi-posts-list-grid, .vi-posts-list-rows
    padding: 3px 300px 5px 300px

    li
      box-sizing: border-box
      cursor: pointer
      border-radius: 5px


  @media all and (max-width: $desktop_small)
    .vi-posts-list-grid, .vi-posts-list-rows, .vi-post-list-toolbar
      padding: 3px 200px

  @media all and (max-width: $tablet_media)
    .vi-posts-list-grid, .vi-posts-list-rows, .vi-post-list-toolbar
      padding: 3px 70px

  @media all and (max-width: $smartphone_media)
    .vi-post-list-toolbar
      padding: 0 15px
    .vi-posts-list
      padding: 0

    .vi-posts-list-grid, .vi-posts-list-rows
      padding: 3px 10px 10px 10px

    .vi-posts-list-grid
      &.vi-stones-list, &.vi-jewels-list, &.vi-watches-list
        grid-row-gap: 15px
        grid-column-gap: 15px
      &.vi-stones-list
        +setGrid(repeat(auto-fit, minmax(150px, 1fr)), 15px, repeat(auto-fit, minmax($stone_cell_height, $stone_cell_height)), 15px, "both")

      &.vi-jewels-list
        +setGrid(repeat(auto-fit, minmax(150px, 1fr)), 15px, repeat(auto-fit, minmax($jewls_cell_height, $jewls_cell_height)), 15px, "both")

      &.vi-watches-list
        +setGrid(repeat(auto-fit, minmax(150px, 1fr)), 15px, repeat(auto-fit, minmax($watch_cell_height, $watch_cell_height)), 15px, "both")

    .vi-posts-list-rows

      li
        margin: 0

        h3
          font-weight: 600

        .vi-post-det-foot
          padding: 0
</style>
