<template>
  <section class="vi-public-user-view">
    <div class="vi-bordered-tile vi-user-view-content">
      <aside v-if="!user_not_found">
        <div class="vi-user-details-head">
          <AvatarWidget :size="is_phone ? 50 : 70" :avatar="avatar" :username="username"></AvatarWidget>
          <div class="vi-public-user-rating">
            <star-rating inactive-color="#e2e2e2" :read-only="true" :show-rating="false" :star-size="20" :rating="rating"></star-rating>
          </div>
        </div>
        <user-public-nav-bar v-if="!is_phone && !user_not_found" :user-id="user_id"></user-public-nav-bar>
      </aside>
      <nuxt-child class="vi-public-user-router" v-if="!user_not_found" />
      <user-public-nav-bar v-if="is_phone && !user_not_found" :user-id="user_id"></user-public-nav-bar>
      <div class="vi-not-found-user" v-if="user_not_found">
        <i class="vi-sad-face-i"></i>
        <p>{{astrings.user_derails_error}}</p>
      </div>
      <preloader v-if="fetching_user"></preloader>
    </div>
  </section>
</template>

<script>
  import {Firestore} from "@/assets/firestore/firebaseConf";
  import {Constants} from "../assets/scripts/Constants";
  import AvatarWidget from "../components/widgets/AvatarWidget";
  import {mapState} from "vuex";
  import Preloader from "../components/Preloader";
  import UserPublicNavBar from "../components/UserPublicNavBar";

  export default {
    name: "user",
    components: {
      Preloader,
      AvatarWidget,
      UserPublicNavBar
    },
    beforeRouteEnter (to, from, next) {
      const forbidden = ["/user", "/user/"];
      if (forbidden.includes(to.path) || !to.query.mid) {
        next(false);
      } else {
        next();
      }
    },
    data() {
      return {
        avatar: null,
        username: "",
        user_id: this.$route.query.mid,
        rating: 0,
        user_not_found: false,
        fetching_user: false
      }
    },
    created() {
      this.getPublicUserData();
    },
    computed: {
      ...mapState(["astrings", "is_phone"])
    },
    methods: {
      /**
       * Функция запрашивающая публичннные данные пользователя в момент воспроизведения
       * данного экрана
       * Влад. 25/05/20
       */
      getPublicUserData() {
        this.fetching_user = true;
        Firestore.doc(`${Constants.FIRE_S_USERS_PUB}/${this.user_id}`).get().then(user => {
          if (user.exists) {
            this.username = user.data().account_name;
            this.avatar = user.data().avatar;
            this.rating = user.data().rating ? user.data().rating : 0;
          } else {
            this.user_not_found = true;
          }
          setTimeout(() => {
            this.fetching_user = false;
          }, 100);
        })
      }
    }
  }
</script>

<style lang="sass">
  @import "../assets/styles/variables"
  .vi-user-view-content
    position: relative
    width: 900px
    height: 95%
    box-sizing: border-box
    +setGrid(250px 1fr, 10px, null, null, "columns")

    aside
      +shadowGenerator(3px 0px 7px -2px rgba(0,0,0,0.3))
      +setGridAuto(auto, 10px, "rows")
      align-content: flex-start

  .vi-user-details-head
    padding: 15px
    align-items: flex-start
    +setGrid(auto 1fr, 15px, null, null, "columns")

  .vi-public-user-rating
    +setGridAuto(auto, 5px, "rows")

  .vi-not-found-user
    position: absolute
    width: 100%
    height: 100%


  @media all and (max-width: $tablet_media)
    .vi-public-user-view
      padding: 10px
    .vi-user-view-content
      width: 100%
      height: 100%

  @media all and (max-width: $smartphone_media)
    .vi-user-view-content
      padding: 0
      grid-template-columns: none
      +setGrid(null, null, auto 1fr auto, 10px, "rows")
      aside
        align-items: center
        justify-content: space-between
        +setGrid(auto auto, 10px, null, null, "both")

      .vi-public-user-rating
        border-top: none
        justify-content: flex-start

      .vi-simple-text
        display: none

</style>
