<template>
  <div class="vi-post-full-view">
    <div class="vi-post-full-content vi-bordered-tile" itemscope itemtype="https://schema.org/Product">
      <section class="vi-post-full-price">
        <div v-if="post.price" class="vi-bordered-tile vi-post-price-lbl">
          <h4 v-format-price="post.price" itemprop="aggregateRating" v-once></h4>
          <h5>{{this.getRubPrice}}</h5>
        </div>
      </section>
      <div :class="['vi-post-scrollable', {'vi-iphone-mode': this.iphoneGallery}]" v-if="post.approved">
        <div class="vi-post-full-details">
          <span class="vi-post-full-title" v-once>{{astrings.product_det}}</span>
          <div class="vi-post-rows">
            <h4 class="vi-post-full-product" :itemprop="this.getNameItemProp">{{getProductString}}</h4>
            <div class="vi-post-details-row" v-if="this.isJewl ">
              <span v-once>{{astrings.post_form.brand}}:</span>
              <span itemprop="brand">{{post.jewel_brand && post.jewel_brand.length ? post.jewel_brand : "---"}}</span>
            </div>
            <div class="vi-post-details-row" v-if="this.isJewl">
              <span v-once>{{astrings.post_form.material}}:</span>
              <span itemprop="material">{{getProductMaterial}}</span>
              <label class="vi-m-probe">{{getMetalContentString}}</label>
            </div>
            <div class="vi-post-details-row" v-if="post.product === 'ring' || post.product === 'persten'">
              <span v-once>{{astrings.post_form.size}}:</span>
              <span>{{getRelevantString('ring_size_opts', 'size')}}</span>
            </div>
            <div class="vi-separator" v-if="isJewl"></div>
            <div class="vi-post-details-row" v-if="isJewl">
              <span v-once>{{astrings.post_form.central_stone}}:</span>
              <span>{{getStoneString}}</span>
            </div>
            <div class="vi-post-details-row" v-if="!isWatch">
              <span v-once>{{astrings.shape}}:</span>
              <span>{{getStoneShape}}</span>
            </div>
            <div class="vi-post-details-row" v-if="this.isStone || this.isJewl">
              <span v-once>{{astrings.weight}}:</span>
              <span
                v-weight-format="{post: post, field: postGroup === con.ITEM_GROUP_STONE ? 'stone_weight' : 'central_weight'}"
                itemprop="weight"></span>
            </div>
            <div class="vi-post-details-row" v-if="!isWatch">
              <span v-once>{{astrings.post_form.color}}:</span>
              <span itemprop="color">{{post.stone_color ? post.stone_color : "---"}}</span>
            </div>
            <div class="vi-post-details-row" v-if="!isWatch">
              <span v-once>{{astrings.post_form.clarity}}:</span>
              <span>{{post.stone_clarity ? post.stone_clarity : "---"}}</span>
            </div>
            <div class="vi-separator" v-if="isJewl"></div>
            <div class="vi-post-details-row" v-if="isJewl">
              <span v-once>{{astrings.post_form.total_stones_wgt}}:</span>
              <span v-weight-format="{post: post, field: 'total_stones_weight'}"></span>
            </div>
            <div class="vi-post-details-row" v-if="this.isGem">
              <span v-once>{{astrings.post_form.gem_origin}}:</span>
              <span>{{getRelevantString(`${post.product}_origin_opts`, 'stone_origin')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="!isWatch">
              <span v-once>{{astrings.post_form.certificate}}:</span>
              <span itemprop="award">{{post.certificate ? post.certificate : "---"}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.model}}:</span>
              <span itemprop="model">{{post.watch_model ? post.watch_model : "---"}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.watch_mech}}:</span>
              <span>{{getRelevantString('watch_mech_opts', 'watch_mechanism')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.watch_diameter}}:</span>
              <span itemprop="width">{{getRelevantString('watch_diam_opts', 'watch_diameter')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.watch_material}}:</span>
              <span itemprop="material">{{getProductMaterial}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.watch_strap}}:</span>
              <span>{{getRelevantString('watch_strap_opts', 'watch_strap')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.box}}:</span>
              <span>{{getRelevantString('watch_box_opts', 'box')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.documents}}:</span>
              <span>{{getRelevantString('watch_box_opts', 'watch_document')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.post_form.item_condition}}:</span>
              <span itemprop="itemCondition">{{getRelevantString('condition_opts', 'condition')}}</span>
            </div>
            <div class="vi-post-details-row" v-if="isWatch">
              <span v-once>{{astrings.gender}}:</span>
              <span>{{getRelevantString('watch_gender_opts', 'gender')}}</span>
            </div>
          </div>
        </div>
        <div class="vi-post-full-contacts">
          <span class="vi-post-full-title">{{astrings.seller}}</span>
          <AvatarWidget :size="60" :username="username" :avatar="avatar" rail-class="vi-post-location"
                        :method="goToPublicUser"></AvatarWidget>
          <div class="vi-post-rows">
            <nuxt-link :to="{path: '/user/feedback', query: {mid: this.post.account_id}}" class="vi-seller-name">
              {{post.contact_name}}
            </nuxt-link>
            <span class="vi-post-full-city">{{post.city}}</span>
            <div class="vi-post-stars-frame">
              <button @click="goToPublicUser()" class="vi-post-stars-button">
                <star-rating inactive-color="#e2e2e2" :star-size="17" :show-rating="false" :read-only="true" :rating="rating"></star-rating>
              </button>
            </div>
            <span class="vi-separator"></span>
            <button class="vi-simple-btn" v-if="!show_phones" @click="showPhones()">
              {{astrings.show_contacts}}
            </button>
            <ul class="vi-contact-phones-list" v-if="show_phones">
              <button v-send-email="post" v-if="post.email" class="vi-simple-btn">
                {{astrings.send_email}}
              </button>
              <li class="vi-contact-item" v-if="post.skype">
                <i>Skype</i>
                <a :title="post.skype" class="vi-skype-i" :href="`skype:${post.skype}?chat`">{{post.skype}}</a>
              </li>
              <li class="vi-contact-item" v-for="phone in grouped_phones" :key="phone.uuid">
                <i>{{phone.appName}}</i>
                <a class="vi-contact-num" v-if="isMobile" :href="phone.link">{{phone.number}}</a>
                <span class="vi-contact-num" v-if="!isMobile">{{phone.number}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="vi-post-match-parent vi-description-frame" v-show="post.description && post.description.length">
          <span class="vi-post-full-title">{{astrings.details}}</span>
          <pre class="vi-post-description" itemprop="description">{{post.description}}</pre>
        </div>
        <Carousel class="vi-post-gallery vi-post-match-parent" :images="post.images"></Carousel>
<!--        <div class="vi-post-published vi-post-details-row">-->
<!--          <span>{{astrings.published}}:</span>-->
<!--          <time itemprop="releaseDate">{{$moment(post.created_at_ts).fromNow()}}</time>-->
<!--        </div>-->
      </div>
      <div class="vi-post-unavailable" v-if="!post.approved">
        <i class="vi-sad-face-i"></i>
        <p>{{astrings.post_unavailable}}</p>
      </div>
      <preloader v-if="loading"></preloader>
    </div>
  </div>
</template>

<script>
  import {Firestore, Firebase} from "@/assets/firestore/firebaseConf";
  import {Constants} from "@/assets/scripts/Constants";
  import {mapState} from "vuex";
  import AppTools from "@/assets/scripts/CommonTools";
  import Carousel from "@/components/CarouselGallery";
  import Preloader from "../../components/Preloader";
  import PostTypeMixins from "@/assets/mixins/PostTypeMixin";
  import RublePriceMixin from "@/assets/mixins/RublePriceMixin";
  import StoneTypeMixin from "@/assets/mixins/StoneTypeMixin";
  import SchemaPropsMixins from "@/assets/mixins/SchemaPropsMixins";
  import IphoneGalleryModeMixin from "@/assets/mixins/IphoneGalleryModeMixin";
  import AvatarWidget from "@/components/widgets/AvatarWidget";


  export default {
    name: "CommonPostViewStructure",
    props: ["postGroup"],
    mixins: [SchemaPropsMixins, PostTypeMixins, IphoneGalleryModeMixin, StoneTypeMixin, RublePriceMixin("post", true)],
    components: {
      Preloader,
      Carousel,
      AvatarWidget
    },
    head() {
      return {
        title: `${this.getProductDescription}`,
        meta: [
          {
            hid: "keywords",
            name: 'keywords',
            content: `${this.getProductDescription}`
          },
          {hid: 'description', name: 'description', content: `${this.post.description}`},
          {hid: 'og:type', name: 'og:type', content: 'website'},
          {hid: 'og:title', name: 'og:title', content: this.getProductDescription},
          {hid: 'og:image', name: 'og:image', content: this.getProductFirstImage},
          {hid: 'og:locale', name: 'og:locale', content: 'ru_RU'},
          {hid: 'og:description', name: 'og:description', content: this.post.description},
          {hid: 'og:url', name: 'og:url', content: `https://saknay.ru${this.$route.fullPath}`},
        ],
        link: [
          {rel: 'canonical', href: this.getCanonicalUrl}
        ]
      }
    },
    data() {
      return {
        isMobile: AppTools.isMobile(),
        loading: true,
        params: this.$route.params,
        grouped_phones: [],
        post: {},
        show_phones: false,
        con: Constants,
        username: "",
        avatar: null,
        rating: 0
      }
    },
    created() {
      this.fetchFullPostDetails();
    },
    computed: {
      ...mapState(["astrings", "user_city", "currency"]),
      getStoneShape: (ctx) => {
        return AppTools.getStoneShape(ctx);
      },
      getStoneString: (ctx) => {
        if (ctx.post && ctx.post.stone) {
          return ctx.postGroup === Constants.ITEM_GROUP_JEWL ? ctx.astrings.post_form.post_stones.find(stone => stone.key === ctx.post.stone).text : null;
        }
      },
      getProductMaterial: (ctx) => {
        return AppTools.getProductMaterial(ctx);
      },
      getMetalContentString: (ctx) => {
        return ctx.post.metal_content ? `(${ctx.astrings.post_form.met_content}: ${ctx.post.metal_content})` : null;
      },
      getProductString: (ctx) => {
        return AppTools.getProductString(ctx.post);
      },
      /**
       * Вычисляемое которое создает кастомные мета теги для данной страницы
       * в зависимости от того какой продукт представлен в данном окне.
       * Влад. 08/02/20
       */
      getProductDescription: (ctx) => {
        if (ctx.post.id) {
          const product = `${AppTools.getProductString(ctx.post, true)}`;
          const price = `цена: ${AppTools.formatPrice(ctx.post.price, "$")}`;
          switch (ctx.postGroup) {
            case Constants.ITEM_GROUP_WATCH:
              return `${product} ${ctx.post.watch_brand} ${ctx.post.watch_model}, ${price}`;
            case Constants.ITEM_GROUP_JEWL:
              return `${product}, ${price}`;
            case Constants.ITEM_GROUP_STONE:
              return `${product} ${ctx.post.stone_weight ? `${ctx.post.stone_weight.toFixed(2)}ct.` : ""}, ${price}`;
          }
        } else {
          return ""
        }
      },

      getCanonicalUrl: (ctx) => {
        return ctx.post.id ? `https://saknay.ru/post-view/${ctx.postGroup}/?id=${ctx.post.id}` : null;
      },

      getProductFirstImage: (ctx) => {
        return ctx.post.images ? ctx.post.images[0] : null;
      }
    },
    methods: {
      getAvatarData() {
        Firestore.doc(`${Constants.FIRE_S_USERS_PUB}/${this.post.account_id}`).get().then(details => {
          if (details.exists) {
            this.username = details.data().account_name;
            this.avatar = details.data().avatar;
            this.rating = details.data().rating ? details.data().rating : 0;
          }
        })
      },
      /**
       * Функция запрашивает полные данние объявления при открытии данного окна.
       * Влад. 12/05/20
       */
      fetchFullPostDetails() {
        const id = window.$nuxt._route.query.id;
        if (id) {
          Firestore.doc(`${Constants.FIRE_S_POSTS_RUS}/full/${this.postGroup}/${id}`).get().then(post => {
            this.loading = false;
            if (post.exists) {
              this.grouped_phones = AppTools.joinPhoneNumbersArrays(post.data());
              this.post = post.data();
              this.incrementViewCounter();
              this.getAvatarData();
            }
          }).catch(() => {
            this.loading = false;
          })
        }
      },
      /**
       * Функция обновляет счетчик просмотров даннного объявления в базе данных.
       * Влад. 19/11/19
       */
      incrementViewCounter() {
        const updatePostViewed = Firebase.functions().httpsCallable('incrementPostViewCounter');
        updatePostViewed({
          id: this.post.id,
          account_id: this.post.account_id,
        });
      },

      /**
       * Функция получающая нужные параметры и возвращающая правильный стринг
       * согласно этим параметрам  для того чтобы отобразить его в подходящей
       * ячейке товара.
       * @param collection - название колекции в стриннгах в которой нужно искать подходящий стринг.
       * @param field - поле из которого нужно извлечь енумератор  для  поиска стринга.
       * @returns {String}
       * Влад. 07/01/20
       */
      getRelevantString(collection, field) {
        if (this.post) {
          const result = this.astrings.post_form[collection].find(opt => opt.key === this.post[field]);
          return result && result.text.length ? result.text : "---";
        }
      },

      /**
       * Функция вызываемая кнопкой ПОКАЗАТЬ КОНТАКТНЫЕ ДАННЫЕ
       * при нажатии меняет флаг который должен показать список номееров телефонов
       * продавца
       * Влад. 20/03/20
       */
      showPhones() {
        this.show_phones = true;
        this.$gtag.event("Открыты контактные данные", {
          event_category: "Просмотр данных продавца",
          event_label: `Просмотр данных продавца: ${this.post.account_id}, пост: ${this.post.id}`
        });
      },

      /**
       * Функция перекидывающая на экран с данными пользователя и отзывов о нем
       * Влад. 25/05/20
       */
      goToPublicUser() {
        this.$router.push({path: "/user/feedback", query: {mid: this.post.account_id}});
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-post-full-content
    box-sizing: border-box
    width: 800px
    height: 97%
    padding: 20px 10px 20px 20px
    +setGrid(null, null, auto 1fr, 20px, "rows")

  .vi-post-full-product
    color: $c_brown
    font-family: Montserrat-Medium, sans-serif
    font-weight: bold

  .vi-post-full-title
    display: block
    color: $very_dark_grey
    font-size: $medium_font
    border-bottom: solid 1px $dark_grey
    padding: 0 0 10px 0

  .vi-post-full-price
    display: flex
    align-items: center
    justify-content: center

  .vi-post-price-lbl
    align-items: center
    +setGridAuto(auto, 15px, "columns")
    padding: 5px 30px
    border-radius: $main_bord_rad

    h4
      color: $c_brown
      font-size: 20px
    h5
      color: $very_dark_grey

    h4, h5
      font-family: Montserrat-Medium, sans-serif

  .vi-post-scrollable
    padding: 0 10px 0 0
    align-content: flex-start
    +setGrid(1fr 250px, 30px, auto auto auto, 10px, "both")

    &.vi-iphone-mode
      overflow: visible

  .vi-m-probe
    font-size: $semi_reg_font
    margin: 0 0 0 5px


  .vi-post-rows
    margin: 10px 0 0 0
    +setGridAuto(auto, 10px, "rows")

    .vi-post-details-row
      display: flex
      align-items: center
      overflow: hidden

    span, a
      font-size: $regular_font

      &:first-child
        margin: 0 10px 0 0

    .vi-post-details-row span:first-child
      font-size: $regular_font

    .vi-seller-name, .vi-post-full-city
      margin: 0 !important
      text-align: center

    .vi-seller-name
      color: $c_brown
      font-weight: bold
      font-size: $semi_reg_font

    .vue-star-rating
      justify-content: center


  .vi-contact-phones-list
    +setGridAuto(auto, 15px, "rows")

    .vi-contact-item
      border: solid 1px $very_dark_grey
      padding: 10px
      border-radius: 5px
      position: relative
      i
        position: absolute
        font-size: $small_font
        background: white
        padding: 0 5px
        top: -10px
        color: $very_dark_grey
        text-transform: capitalize

      .vi-contact-num
        color: $c_brown


  .vi-post-match-parent
    grid-column: 1/3

  .vi-post-gallery
    padding: 20px 3px 10px 3px
    border-top: solid 1px $dark_grey

  .vi-description-frame
    position: relative
    margin: 15px 0 0 0

  .vi-post-description
    padding: 10px 0 0 0
    font-size: $regular_font
    white-space: pre-wrap
    line-height: 20px

  .vi-post-published
    height: 25px

  time
    font-size: $regular_font

  .vi-post-stars-frame
    display: flex
    justify-content: center

  .vi-post-stars-button
    width: 90px

  @media all and (max-width: $tablet_media)
    .vi-post-full-content
      width: 95%

  @media all and (max-width: $smartphone_media)
    .vi-post-full-content
      padding: 20px 0 10px 20px
      grid-row-gap: 10px

    .vi-post-scrollable
      padding: 0 20px 0 0
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, auto)
      row-gap: 30px

    .vi-post-match-parent
      grid-column: 1/1

</style>
