<template>
  <div class="vi-posts">
    <Toolbar :open-filters="openFilters"></Toolbar>
    <div :class="['vi-posts-list-wrapper', {'vi-blurred' : show_posts_loader}]">
      <vi-list-placeholder v-if="postResults && !postResults.length && !show_posts_loader"
                           :message="astrings.no_posts"
                           icon-class="vi-sad-face-i">
      </vi-list-placeholder>
      <ul :class="getListClass"
          v-infinite-scroll="fetchData"
          infinite-scroll-disabled="busy"
          infinite-scroll-distance="100">
        <StoneItem v-for="post in postResults" :post="post" :key="post.id" :group="group"
                   v-if="group === con.ITEM_GROUP_STONE"></StoneItem>
        <JewlsItem v-for="post in postResults" :post="post" :key="post.id" :group="group"
                   v-if="group === con.ITEM_GROUP_JEWL"></JewlsItem>
        <WatchItem v-for="post in postResults" :post="post" :key="post.id" :group="group"
                   v-if="group === con.ITEM_GROUP_WATCH"></WatchItem>
      </ul>
    </div>
    <Preloader container-class="vi-preloader-posts-list" v-if="show_posts_loader"></Preloader>
  </div>
</template>

<script>
  import {mapState, mapMutations} from "vuex";
  import StoneItem from "@/components/main_view/StoneListItem";
  import JewlsItem from "@/components/main_view/JewelListItem";
  import WatchItem from "@/components/main_view/WatchListItem";
  import Toolbar from "@/components/main_view/PostListToolbar";
  import Preloader from "@/components/Preloader";
  import infiniteScroll from 'vue-infinite-scroll'
  import AppTools from "../../assets/scripts/CommonTools";
  import CFC from "../../assets/firestore/CommonFirestoreCaller";
  import {Constants} from "../../assets/scripts/Constants";

  export default {
    name: "CommonListViewStructure",
    props: ["openFilters", "group", "listClass"],
    directives: {infiniteScroll},
    components: {
      StoneItem,
      JewlsItem,
      WatchItem,
      Preloader,
      Toolbar
    },
    data() {
      return {
        con: Constants,
        fetchingData: false,
        collectionPath: `${Constants.FIRE_S_POSTS_RUS}/slim/${this.group}`,
        postResults: null,
        hasAllData: false
      }
    },
    created() {
      this.setVuexPostResultsFilter(null);
    },
    watch: {
      posts_filters: function () {
        this.fetchFilteredData();
      }
    },
    computed: {
      ...mapState(["astrings", "list_mode", "posts_filters", "show_posts_loader", "is_phone"]),
      getListClass: (ctx) => {
        return AppTools.getListModeClass(ctx.list_mode, ctx.listClass);
      }
    },
    methods: {
      ...mapMutations(["setVuexPostResultsFilter", "setVuexPostsLoader"]),
      fetchFilteredData() {
        this.postResults = [];
        this.hasAllData = false;
        this.fetchData();
      },

      fetchData() {
        if (!this.hasAllData) {
          CFC.getPosts(this.collectionPath, this.posts_filters, this.postResults, this.setVuexPostsLoader, this.is_phone).then(response => {
            this.hasAllData = response.hasAllData;
            this.postResults = response.postResults;
          });
        }
      }
    }
  }
</script>
