<template>
  <li v-open-post="post">
    <clazy-load :src="post.thumbnail ? post.thumbnail : ''" class="vi-cell-image-frame"
                loadingClass="vi-image-loading">
      <img :src="post.thumbnail ? post.thumbnail : ''">
      <i slot="placeholder" :class="post.thumbnail ? 'vi-hourglass-i' : 'vi-image-i'"></i>
    </clazy-load>
    <h3 v-if="list_mode === 'grid'">{{getProductString}}</h3>
    <div class="vi-post-details">
      <h3 v-if="list_mode === 'list'">{{getProductString}}</h3>
      <div class="vi-post-details-row" :title="`${astrings.post_form.material}: ${getProductMaterial}`" v-if="this.isJewl">
        <GoldIcon></GoldIcon>
        <span>{{getProductMaterial}}</span>
      </div>
      <div class="vi-post-details-row" :title="`${astrings.post_form.central_stone}: ${getStoneString}`" v-if="this.isJewl">
        <DiamondIcon></DiamondIcon>
        <span>{{getStoneString}}</span>
      </div>
      <div class="vi-post-details-row" v-if="this.isStone">
        <h4 class="vi-post-stone-det">{{getStoneDetails}}</h4>
      </div>
      <div class="vi-post-details-row" v-if="this.isStone">
        <CertificateIcon></CertificateIcon>
        <span>{{post.certificate ? post.certificate : "---"}}</span>
      </div>
      <div class="vi-post-details-row" v-if="this.isWatch">
        <ModelIcon></ModelIcon>
        <span>{{post.watch_model ? post.watch_model : "---"}}</span>
      </div>
      <div class="vi-city-block" v-if="list_mode === 'list'">
        <LocationIcon></LocationIcon>
        <span>{{post.city}}</span>
      </div>
      <div class="vi-separator" style="margin: 10px 0 0 0;"></div>
    </div>
    <div class="vi-post-det-foot">
      <div class="vi-city-block" v-if="list_mode !== 'list'">
        <LocationIcon></LocationIcon>
        <span>{{post.city}}</span>
      </div>
      <span class="vi-cell-price">{{getPrice}}</span>
    </div>
  </li>
</template>


<script>
  import AppTools from "../../assets/scripts/CommonTools";
  import PostTypeMixins from "@/assets/mixins/PostTypeMixin";
  import SchemaPropsMixins from "@/assets/mixins/SchemaPropsMixins";
  import LocationIcon from "../icons/location_icon";
  import DiamondIcon from "../icons/diamond_icon";
  import GoldIcon from "../icons/gold_icon";
  import CertificateIcon from "../icons/certificate_icon";
  import ModelIcon from "../icons/model_icon";
  import {mapState} from "vuex";

  export default {
    name: "CommonListItemStructure",
    props: ["post", "postGroup"],
    mixins: [PostTypeMixins, SchemaPropsMixins],
    components: {
      LocationIcon,
      DiamondIcon,
      GoldIcon,
      CertificateIcon,
      ModelIcon
    },
    computed: {
      ...mapState(["astrings", "list_mode"]),
      getPrice(ctx) {
        if (ctx.post) {
          return AppTools.formatPrice(ctx.post.price);
        }
      },
      getStoneShape: (ctx) => {
        return AppTools.getStoneShape(ctx);
      },
      getProductString: (ctx) => {
        return AppTools.getProductString(ctx.post);
      },
      getStoneString: (ctx) => {
        const found = ctx.astrings.post_form.post_stones.find(stone => stone.key === ctx.post.stone);
        return found && found.key ? found.text : "---";
      },
      getProductMaterial: (ctx) => {
        return AppTools.getProductMaterial(ctx);
      },
      getStoneDetails: (ctx) => {
        const weight = AppTools.formatStoneWeight(ctx.post, "stone_weight");
        const color = ctx.post.stone_color ? ctx.post.stone_color.replace(/ *\([^)]*\) */g, "") : "---";
        const clarity = ctx.post.stone_clarity ? `/${ctx.post.stone_clarity.replace(/ *\([^)]*\) */g, "")}` : "/---";
        const assembled = `${weight} ${color}`;
        if (ctx.post.product === "diamond") {
          return `${assembled}${clarity}`
        } else {
          return `${assembled}`
        }
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-posts-list-grid,
  .vi-posts-list-rows
    h3
      font-family: Montserrat-Medium, sans-serif
      font-size: $medium_font
      align-self: center
      font-weight: normal
      +ellipsis()

  .vi-posts-list-grid
    .vi-cell-image-frame
      height: 150px
      width: 100%

    .vi-post-details
      +setGridAuto(auto, 10px, "rows")

  .vi-posts-list-rows
    &.vi-watches-list
      .vi-post-details
        +setGrid(1fr, null, auto, null, "both")

    .vi-cell-image-frame
      width: 110px
      height: 110px

      &.vi-image-loading
        width: 110px
        height: 110px

    .vi-post-details
      align-content: center
      justify-content: left
      +setGrid(auto, 40px, auto auto auto, 12px, "both")

    .vi-post-det-foot
      text-align: right
      align-items: center
      +setGridAuto(auto, 10px, "rows")

    .vi-separator
      display: none
  .vi-cell-image-frame
    display: flex
    flex-shrink: 0
    overflow: hidden
    align-items: center
    justify-content: center
    align-self: center

    img
      border-radius: 10px

    &.vi-image-loading
      .vi-hourglass-i, .vi-image-i
        width: 40px
        height: 40px
        background-size: contain
        display: flex
        opacity: .3

  .vi-post-details
    align-items: flex-start

  .vi-post-det-foot
    +setGrid(null, null, 1fr auto, 5px, "rows")

  .vi-cell-price
    font-size: $semi_reg_font !important
    color: $c_brown
    display: flex
    justify-content: flex-end
    font-family: Montserrat-Medium, sans-serif

  .vi-city-block
    font-size: $regular_font
    align-items: center
    justify-content: flex-start
    +setGridAuto(auto, 5px, "columns")


  .vi-post-details-row
    +setGrid(auto 1fr, 5px, null, null, "columns")

    h4
      display: inline-block

  .vi-post-stone-det
    font-family: Montserrat-Medium, sans-serif
    font-size: $regular_font

</style>
