<template>
  <CommonComponent :post="post" :post-group="group"></CommonComponent>
</template>

<script>
    import CommonComponent from "../../components/main_view/CommonListItemStructure";

    export default {
        name: "StoneListItem",
        props: ["post", "group"],
        components: {
          CommonComponent
        }
    }
</script>


