<template>
  <section class="vi-posts-list-tabs">
    <nuxt-link v-for="tab in astrings.post_option_groups" :key="tab.enumerator" :to="tab.route" v-gtag>{{tab.name}}</nuxt-link>
  </section>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "PostsViewTabs",
    computed: {
      ...mapState(["astrings"])
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-posts-list-tabs
    justify-content: center
    +setGridAuto(auto, null, "columns")
    a
      height: 40px
      color: $c_dark_brown
      background-color: rgba(156, 103, 24, 0.1)
      border: solid 1px rgba(156, 103, 24, 0.3)
      width: 140px
      display: flex
      align-items: center
      justify-content: center
      &:not(:last-child)
        border-right: none
      &:first-child
        border-top-left-radius: $main_bord_rad
        border-bottom-left-radius: $main_bord_rad
      &:last-child
        border-bottom-right-radius: $main_bord_rad
        border-top-right-radius: $main_bord_rad
      &.nuxt-link-active
        background-color: rgba(156, 103, 24, 0.4)

  @media all and (max-width: $smartphone_media)
    .vi-posts-list-tabs
      padding: 0 10px
      +setGridAuto(1fr, null, "columns")
      a
        width: auto
</style>
