<template>
  <section class="vi-post-list-toolbar">
    <button @click="openFilters()" :class="getFiltersAppliedClass">
      <i class="vi-filters-btn"></i>
    </button>
    <button @click="changeListMode()">
      <i :class="['vi-list-btn', getListTypeClass]"></i>
    </button>
  </section>
</template>

<script>
    import {mapState, mapMutations} from "vuex";

    export default {
        name: "PostListToolbar",
        props: ["openFilters", "totalItems"],
        computed: {
            ...mapState(["list_mode", "posts_filters"]),
            getListTypeClass: (ctx) => {
                return ctx.list_mode === "grid" ? "" : "vi-grid-btn";
            },
            getFiltersAppliedClass: (ctx) => {
                return ctx.posts_filters ? "vi-filters-applied" : "";
            }
        },
        methods: {
            ...mapMutations(["setVuexListMode"]),
            changeListMode() {
                const newMode = this.list_mode === "grid" ? "list" : "grid";
                this.setVuexListMode(newMode);
            },
        }
    }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-post-list-toolbar
    align-items: center
    justify-content: flex-end
    +setGridAuto(auto, 20px, "columns")

    button
      width: 40px
      height: 40px
      padding: 0
      background-color: white
      border-radius: $main_bord_rad
      +shadowGenerator(0 1px 3px 0 rgba(0, 0, 0, 0.35))

      &:active
        +shadowGenerator(inset 0px 0px 4px 0px rgba(156, 103, 24, 0.6))

    .vi-filters-btn, .vi-list-btn, .vi-grid-btn
      display: flex
      width: 20px
      height: 20px
      background-color: $c_brown

    .vi-filters-btn
      mask: url("../../assets/images/filter.svg") no-repeat
      mask-size: 20px
    .vi-filters-applied
      background-color: $main_orange

    .vi-list-btn
      mask: url("../../assets/images/list.svg") no-repeat
      mask-size: 20px

      &.vi-grid-btn
        mask: url("../../assets/images/menu.svg") no-repeat
        mask-size: 20px

  .vi-posts-paginator
    +setGridAuto(auto, 10px, "columns")
</style>
