<template>
  <div class="vi-input-component vi-autocomplete-comp">
    <h4 v-if="header">{{header}}</h4>
    <Autocomplete :items="found_brands"
                  :auto-select-one-item="false"
                  :get-label="getBrand"
                  :component-item='template'
                  :disabled="disabled"
                  :value="value"
                  @input="setPostModel"
                  @change="setPostModel"
                  @update-items="updateBrandsList">
    </Autocomplete>
  </div>
</template>

<script>
  import Autocomplete from 'v-autocomplete';
  import RowTemplate from "./brands-row-template";
  import {Constants} from "../../assets/scripts/Constants";

  export default {
    name: "brands-autocomplete",
    components: {Autocomplete},
    model: {
      event: "change"
    },
    props: [
      "header",
      "placeholder",
      "value",
      "addClass",
      "disabled"
    ],
    data() {
      return {
        template: RowTemplate,
        found_brands: [],
        allBrands: this.CryptoJS.AES.decrypt(localStorage.getItem("jb"), Constants.SK).toString(this.CryptoJS.enc.Utf8)
      }
    },
    methods: {
      getBrand(item) {
        return item;
      },
      updateBrandsList(text) {
        if (text && text.length) {
          this.found_brands = JSON.parse(this.allBrands).filter(item => item.toLowerCase().includes(text.toLowerCase()));
        } else {
          this.found_brands = [];
        }
      },
      setPostModel(data) {
        this.$emit("change", data);
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-autocomplete-comp
    position: relative
  .v-autocomplete-list
    position: absolute
    max-height: 200px
    background: white
    border: solid 1px $dark_grey
    border-top: none
    width: 100%
    z-index: 10
    box-sizing: border-box
    overflow: auto


  .v-autocomplete-list-item
    display: flex
    align-items: center
    padding: 0 10px
    font-size: $regular_font
    border-bottom: solid 1px $dark_grey
    height: 40px
    cursor: pointer
    &:last-child
      border-bottom: none
    &:hover
      background: $light_grey

</style>
