<template>
  <button class="vi-simple-btn vi-row-delete" v-bind:class="btnClass" v-bind:title="tooltip"
          @click.prevent="executeDelete()">
    <Recycle fill="#6E4810" viewbox="-180 10 900 500"></Recycle>
  </button>
</template>

<script>
  import Recycle from "../icons/recycle_icon";

  export default {
    name: "row-delete-btn",
    props: ["method", "tooltip", "uuid", "btnClass"],
    components: {
      Recycle
    },
    methods: {
      executeDelete() {
        if (this.method) {
          this.method(this.uuid);
        }
      }
    }
  }
</script>

<style scoped lang="sass">
  .vi-row-delete
    height: 30px
    width: 30px
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    z-index: 3
    background: white
    right: 10px
    top: 10px
</style>
