<template>
  <label :class="[`vi-input-component`, {'vi-area-invalid' : errors.has(name)}]">
    <h4 :class="fieldIcon" v-if="header">{{header}}</h4>
    <input v-bind:placeholder="cPlaceholder"
           type="number"
           v-bind:class="[inputIcon, {'vi-invalid-input' : errors.has(name)}]"
           v-bind:disabled="disabled"
           v-bind:value="value"
           v-bind:name="name"
           v-validate="validateOptions ? validateOptions : null"
           v-on:input="updateValue($event.target.value)"
           v-on:keypress="checkValidity($event)"/>
  </label>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "digits-component",
    props: [
      "header",
      "value",
      "max",
      "placeholder",
      "disabled",
      "fieldIcon",
      "inputIcon",
      "method",
      "name",
      "validateOptions"
    ],
    inject: {
      $validator: '$validator'
    },
    methods: {
      updateValue: function (value) {
        if (value && value.length) {
          this.$emit("input", !value.includes(".") ? parseInt(value) : parseFloat(value));
        } else {
          this.$emit("input", null);
        }
        if (this.method) {
          this.method();
        }
      },
      checkValidity: function (event) {
        event = (event) ? event : window.event;
        let charCode = event.which ? event.which : event.keyCode;
        if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
          event.preventDefault();
        } else {
          if ((!this.max || !this.value || (this.max && parseInt(this.max) > this.value.toString().length))) {
            return true;
          } else {
            event.preventDefault();
          }
        }
      }
    },
    computed: {
      ...mapState(["astrings"]),
      cPlaceholder: function () {
        return this.placeholder ? this.placeholder : this.astrings.digits_only;
      }
    }
  }
</script>
