<template>
  <label :class="[`vi-input-component`, {'vi-area-invalid' : errors.has(name)}]">
    <div class="vi-error-tooltip" :key="name" v-if="errors.has(name) && errorTooltip">{{errorTooltip}}</div>
    <h4 v-if="header" :class="fieldIcon">{{header}}</h4>
    <input :type="type ? type : 'text'"
           v-bind:disabled="disabled"
           v-bind:value="value"
           v-bind:class="[addClass, inputIcon, {'vi-invalid-input' : errors.has(name), inputIcon: !errors.has(name)}]"
           v-bind:placeholder="placeholder"
           v-bind:name="name"
           v-validate="validateOptions ? validateOptions : null"
           v-on:input="updateValue($event.target.value)"/>
  </label>
</template>

<script>
  export default {
    name: "vi-input-component",
    props: [
      "header",
      "placeholder",
      "value",
      "addClass",
      "toUppercase",
      "disabled",
      "rows",
      "type",
      "name",
      "validateOptions",
      "inputIcon",
      "fieldIcon",
      "errorTooltip"
    ],
    inject: {
      $validator: '$validator'
    },
    methods: {
      updateValue: function (value) {
        if (this.toUppercase) {
          this.$emit("input", value.toUpperCase());
        } else {
          this.$emit("input", value);
        }
      }
    }
  }
</script>
