<template>
  <label class="vi-input-component">
    <h4>{{header}}</h4>
    <input class="vi-form-label" :value="text" :placeholder="placeholder" type="text" disabled/>
  </label>
</template>

<script>
  export default {
    name: "nb-label-component",
    props: ["header", "text", "placeholder", "disabled"],
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-form-label
    line-height: 40px
    border: solid 1px $dark_grey
    background: $light_grey
    +ellipsis()
</style>
