<template>
  <div class="vi-input-component vi-phone-component">
    <h4 v-if="header">{{header}}</h4>
    <VuePhoneNumberInput v-model="value.number"
                         :no-country-selector="true"
                         default-country-code="RU"
                         :translations="translations"
                         :disabled="disabled"/>
  </div>

</template>

<script>
  import VuePhoneNumberInput from 'vue-phone-number-input';
  import 'vue-phone-number-input/dist/vue-phone-number-input.css';

  export default {
    name: "vi-phone-input",
    props: ["header", "value", "areaCodes", "disabled", "fieldIcon", "placeholder"],
    components: {
      VuePhoneNumberInput
    },
    data() {
      return {
        translations: {
          example: "",
          phoneNumberLabel: `+7 123 456789`
        }
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-phone-component
    padding: 0 0 0 1px

  .input-tel__label
    display: none
    color: red

  .input-tel
    height: auto !important

  .input-tel__input.no-country-selector
    padding-top: 0 !important

  .input-tel.is-focused .input-tel__input
    box-shadow: none !important

  .input-tel.is-valid .input-tel__input
    border: solid 1px $main_green
    background-color: lighten($input_green, 12%)
    box-shadow: none !important


</style>
