<template>
  <div class="vi-input-component">
    <h4 :class="fieldIcon">{{header}}</h4>
    <label class="vi-select-frame">
      <select v-bind:value="value"
              v-bind:disabled="disabled"
              v-bind:name="name"
              v-validate="validateOptions ? validateOptions : null"
              v-on:input="updateValue($event.target.value)"
              v-on:change="execOnChange()">
        <option v-for="option in collection.post_stones"
                v-bind:value="option[keyName]"
                v-bind:key="option[keyName]">{{option[valueName]}}
        </option>
        <option disabled>-------------</option>
        <option v-for="option in collection.post_jewls"
                v-bind:value="option[keyName]"
                v-bind:key="option[keyName]" v-if="!option.hidden">{{option[valueName]}}
        </option>
        <option disabled>-------------</option>
        <option v-for="option in collection.post_watches"
                v-bind:value="option[keyName]"
                v-bind:key="option[keyName]">{{option[valueName]}}
        </option>
      </select>
    </label>
  </div>
</template>

<script>
  export default {
    name: "vi-picker",
    props: [
      "header",
      "collection",
      "value",
      "keyName",
      "valueName",
      "methods",
      "disabled",
      "fieldIcon",
      "name",
      "validateOptions"
    ],
    inject: {
      $validator: '$validator'
    },
    watch: {
      pdata: function (values) {
        this.options = values;
      }
    },
    methods: {
      updateValue: function (value) {
        this.$emit("input", value);
      },
      execOnChange: function () {
        if (this.methods.length) {
          this.methods.forEach((met) => {
            met();
          });
        }
      }
    }
  }
</script>
