<template>
  <div :class="['vi-input-component', 'vi-picker-component', {'vi-area-invalid' : errors.has(name)}]">
    <h4 :class="fieldIcon" v-if="header">{{header}}</h4>
    <label class="vi-select-frame">
      <select v-bind:value="value"
              v-bind:disabled="disabled"
              v-bind:name="name"
              v-validate="validateOptions ? validateOptions : null"
              v-on:input="updateValue($event.target.value)"
              v-on:change="execOnChange($event.target.value)">
        <option value="" disabled selected v-if="placeholder">{{placeholder}}</option>
        <option v-for="option in pdata"
                v-bind:value="option[keyName]"
                v-bind:key="option[keyName]">{{option[valueName]}}
        </option>
      </select>
    </label>
  </div>
</template>

<script>
  export default {
    name: "vi-picker",
    props: [
      "header",
      "pdata",
      "value",
      "keyName",
      "valueName",
      "method",
      "disabled",
      "fieldIcon",
      "name",
      "validateOptions",
      "valueType",
      "placeholder"
    ],
    inject: {
      $validator: '$validator'
    },
    watch: {
      pdata: function (values) {
        this.options = values;
      }
    },
    methods: {
      updateValue: function (value) {
        if (value === "true" || value === "false") {
          value = value === "true";
        } else if (this.valueType === "int") {
          value = parseInt(value);
        }
        this.$emit("input", value);
      },
      execOnChange: function (val) {
        if (this.method) {
          this.method(val);
        }
      }
    }
  }
</script>
