<template>
  <fieldset class="vi-input-component vi-slider">
    <h4 v-if="header">{{header}}</h4>
    <vi-slider v-model="valueObj[field]"
               contained="true"
               dotSize="20"
               :disabled="disabled"
               :enableCross="false"
               :min="min"
               :max="max"
               :min-range="minRange"
               :max-range="maxRange"
               :marks="marks"
               :tooltip-formatter="getTooltipFormat()"
               :interval="interval">
    </vi-slider>
  </fieldset>
</template>

<script>
  import VueSlider from 'vue-slider-component';
  import AppTools from "@/assets/scripts/CommonTools";
  import {mapState} from "vuex";

  export default {
    name: "slider-component",
    props: [
      "header",
      "valueObj",
      "field",
      "type",
      "interval",
      "min",
      "max",
      "minRange",
      "maxRange",
      "marks",
      "scaleData",
      "disabled"
    ],
    components: {
      VueSlider
    },
    methods: {
      /**
       * Данная функция генерирует формат тултипов возвращая значения перемещаемого слайдера
       * с дополнительным указателем валюты, метров и тд.
       * @returns {function(*): string}
       * Влад. 15/05/19
       */
      getTooltipFormat() {
        switch (this.type) {
          case "price":
            return v => AppTools.formatPrice(v);
          case "size":
            return v => `${v} ct.`;
          case "mm":
            return v => `${v} mm`;
          case "diamond_clarity":
          case "diamond_color_opts":
          case "ruby_color_opts":
          case "emerald_color_opts":
          case "sapphire_color_opts":
            return v => `${this.astrings.post_form[this.type][v] ? this.astrings.post_form[this.type][v].text : ''}`;
        }
      }
    },
    computed: {
      ...mapState(["astrings"])
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  $themeColor: $c_brown
  @import '~vue-slider-component/lib/theme/default.scss'
  .vi-slider h4
    color: $c_brown
    font-size: $regular_font
    margin: 0 0 5px 0
  @media (prefers-color-scheme: dark)
    .vue-slider-mark-label
      //color: white
    .vue-slider-rail
      //background: $dm_disabled_bgr
</style>
