<template>
  <div class="vi-app-dialog vi-dialog-logout">
    <div class="vi-dialog-body" v-once>{{astrings.confirm_logout}}</div>
    <div class="vi-dialog-footer">
      <button class="vi-simple-btn" @click="$emit('close')" v-once>{{astrings.no}}</button>
      <button class="vi-submit-btn" @click="logout(), $emit('close')">{{astrings.yes}}</button>
    </div>
  </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "ConfirmLogout",
        data() {
            return {
                logout: this.$attrs.logout,
            }
        },
        computed: {
            ...mapState(["astrings"])
        }

    }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  $ellipse_height: 210px
  .vi-dialog-logout
    height: 100%
    +setGrid(null, null, 1fr auto, null, "rows")
    .vi-dialog-body
      align-items: center
      justify-content: center
      color: $c_dark_brown
      display: flex
      text-align: center
    .vi-dialog-footer
      height: 60px
    button
      min-width: 90px
</style>
