<template>
  <div class="vi-filter-dialog vi-app-dialog-main">
    <h3 class="vi-dialog-title" v-once>{{astrings.filter}}</h3>
    <div class="vi-filters-content">
      <vi-picker v-if="this.isJewl"
                 key-name="key"
                 value-name="text"
                 :header="astrings.product"
                 :pdata="astrings.post_form.post_jewls"
                 v-model="filtersObject.product">
      </vi-picker>
      <vi-brands-auto :header="astrings.post_form.brand"
                      v-model="filtersObject.jewel_brand"
                      :value="filtersObject.jewel_brand"
                      v-if="this.isJewl">
      </vi-brands-auto>
      <vi-picker v-if="this.isJewl"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.material"
                 :pdata="astrings.post_form.material_opts"
                 v-model="filtersObject.material">
      </vi-picker>
      <vi-picker v-if="this.isStone"
                 key-name="key"
                 value-name="text"
                 :method="onStoneChanged"
                 :header="astrings.stone_type"
                 :pdata="astrings.post_form.post_stones"
                 v-model="filtersObject.product">
      </vi-picker>
      <vi-picker v-if="this.isStone"
                 key-name="key"
                 value-name="text"
                 :header="astrings.weight_category"
                 :pdata="astrings.post_form.weight_category_opts"
                 v-model="filtersObject.weight_category">
      </vi-picker>
      <vi-picker v-if="this.isJewl"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.central_stone"
                 :pdata="astrings.post_form.post_stones"
                 v-model="filtersObject.stone">
      </vi-picker>
      <vi-picker v-if="this.isStone"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.shape"
                 :pdata="astrings.post_form.shape_opts"
                 v-model="filtersObject.stone_shape">
      </vi-picker>
      <section class="vi-slider-check-b" v-if="this.isStone && filtersObject.product">
        <vi-checkbox :header="astrings.count_color" v-model="filtersObject.count_color"></vi-checkbox>
        <Slider v-if="filtersObject.count_color"
                :header="astrings.post_form.color"
                :value-obj="filtersObject"
                field="stone_color"
                :type="getStoneColorPickerType"
                :min="1"
                :max="getStoneColorMarks.size"
                :min-range="0"
                :max-range="9"
                :interval="1"
                :marks="getStoneColorMarks.marks">
        </Slider>
      </section>
      <vi-picker v-if="this.isGem"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.gem_origin"
                 :pdata="getGemOriginOptions"
                 v-model="filtersObject.stone_origin">
      </vi-picker>
      <vi-picker v-if="this.isStone && filtersObject.product === 'diamond'"
                 key-name="text"
                 value-name="text"
                 :header="astrings.post_form.clarity"
                 :pdata="astrings.post_form.diamond_clarity"
                 v-model="filtersObject.stone_clarity">
      </vi-picker>
      <vi-picker v-if="!this.isWatch"
                 key-name="text"
                 value-name="text"
                 :header="astrings.post_form.certificate"
                 :pdata="astrings.post_form.certificate_opts"
                 v-model="filtersObject.certificate">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.gender"
                 :pdata="astrings.post_form.watch_gender_opts"
                 v-model="filtersObject.gender">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="text"
                 value-name="text"
                 :header="astrings.post_form.brand"
                 :pdata="iwatch_brands"
                 v-model="filtersObject.watch_brand">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.watch_mech"
                 :pdata="astrings.post_form.watch_mech_opts"
                 v-model="filtersObject.watch_mechanism">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.watch_material"
                 :pdata="astrings.post_form.watch_metal_opts"
                 v-model="filtersObject.watch_material">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.watch_strap"
                 :pdata="astrings.post_form.watch_strap_opts"
                 v-model="filtersObject.watch_strap">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.item_condition"
                 :pdata="astrings.post_form.condition_opts"
                 v-model="filtersObject.condition">
      </vi-picker>
      <vi-picker v-if="this.isWatch"
                 key-name="key"
                 value-name="text"
                 :header="astrings.post_form.watch_shape"
                 :pdata="astrings.post_form.watch_shape_opts"
                 v-model="filtersObject.watch_shape">
      </vi-picker>
      <vi-picker :header="astrings.city"
                 :pdata="icities"
                 v-model="filtersObject.city"
                 key-name="val"
                 value-name="val">
      </vi-picker>
      <section class="vi-slider-check-b" v-if="this.isWatch">
        <vi-checkbox :header="astrings.count_diam" v-model="filtersObject.count_diam"></vi-checkbox>
        <Slider :header="astrings.post_form.watch_diameter"
                :value-obj="filtersObject"
                field="watch_diameter"
                type="mm"
                :min="22"
                :max="56"
                :min-range="1"
                :max-range="9"
                :disabled="filtersObject.count_diam === false"
                :marks="watch_diameter_marks"
                :interval="1">
        </Slider>
      </section>
      <vi-checkbox :header="astrings.post_form.with_box" v-model="filtersObject.box" v-if="this.isWatch"></vi-checkbox>
      <vi-checkbox :header="astrings.post_form.with_doc" v-model="filtersObject.watch_document"
                   v-if="this.isWatch"></vi-checkbox>
    </div>
    <div class="vi-dialog-footer">
      <button class="vi-simple-btn" @click="$emit('close')" v-once>{{astrings.close}}</button>
      <button class="vi-simple-btn" @click="clearFilters()" v-once>{{is_phone ? astrings.clear : astrings.clear_flt}}
      </button>
      <button class="vi-submit-btn" @click="applyFilters()" v-once>{{astrings.apply}}</button>
    </div>
  </div>
</template>

<script>
  import {mapState, mapMutations} from "vuex";
  import AppTools from "../../assets/scripts/CommonTools";
  import {Constants} from "../../assets/scripts/Constants";
  import Slider from "@/components/inputs/slider-component";
  import PostTypeMixins from "@/assets/mixins/PostTypeMixin";
  import StoneTypeMixin from "@/assets/mixins/StoneTypeMixin";

  export default {
    name: "ListFiltersDialog",
    components: {
      Slider
    },
    mixins: [PostTypeMixins, StoneTypeMixin],
    data() {
      return {
        filtersObject: null,
        stone_size_interval: 1,
        stone_size_max: 100,
        watch_diameter_marks: [22, 30, 40, 50, 56],
        clarity_marks: {
          "1": "IF",
          "3": "VVS2",
          "5": "VS2",
          "7": "SI2",
          "9": "I1",
          "11": "I3"
        },
        diam_color_marks: {
          "1": "D",
          "2": "E",
          "3": "F",
          "4": "G",
          "5": "H",
          "6": "I",
          "7": "J",
          "8": "K",
          "9": "L",
          "10": "M",
          "11": {
            "label": "",
            "style": this.getColorRangeStyles("yellow")
          },
          "12": {
            "label": "",
            "style": this.getColorRangeStyles("green")
          },
          "13": {
            "label": "",
            "style": this.getColorRangeStyles("pink")
          },
          "14": {
            "label": "",
            "style": this.getColorRangeStyles("#3c9cff")
          },
          "15": {
            "label": "",
            "style": this.getColorRangeStyles("red")
          },
          "16": {
            "label": "",
            "style": this.getColorRangeStyles("brown")
          },
          "17": {
            "label": "",
            "style": this.getColorRangeStyles("black")
          }
        },

        ruby_color_marks: {
          "1": {
            "label": "",
            "style": this.getColorRangeStyles("#690005")
          },
          "2": {
            "label": "",
            "style": this.getColorRangeStyles("#ab0005")
          },
          "3": {
            "label": "",
            "style": this.getColorRangeStyles("#ee000e")
          },
          "4": {
            "label": "",
            "style": this.getColorRangeStyles("#ee251f")
          },
          "5": {
            "label": "",
            "style": this.getColorRangeStyles("#ee5055")
          },
          "6": {
            "label": "",
            "style": this.getColorRangeStyles("#e46598")
          },
          "7": {
            "label": "",
            "style": this.getColorRangeStyles("#d60093")
          },
        },

        emerald_color_marks: {
          "1": {
            "label": "",
            "style": this.getColorRangeStyles("#00b11e")
          },
          "2": {
            "label": "",
            "style": this.getColorRangeStyles("#008b1d")
          },
          "3": {
            "label": "",
            "style": this.getColorRangeStyles("#4dea61")
          }
        },

        sapphire_color_marks: {
          "1": {
            "label": "",
            "style": this.getColorRangeStyles("#241eba")
          },
          "2": {
            "label": "",
            "style": this.getColorRangeStyles("#0002f3")
          },
          "3": {
            "label": "",
            "style": this.getColorRangeStyles("#1c43f3")
          },
          "4": {
            "label": "",
            "style": this.getColorRangeStyles("#1f53ee")
          },
          "5": {
            "label": "",
            "style": this.getColorRangeStyles("#2b0cee")
          },
          "6": {
            "label": "",
            "style": this.getColorRangeStyles("#ee65dc")
          },
          "7": {
            "label": "",
            "style": this.getColorRangeStyles("#e419c4")
          },
          "8": {
            "label": "",
            "style": this.getColorRangeStyles("#af1ed6")
          },
          "9": {
            "label": "",
            "style": this.getColorRangeStyles("#d6a600")
          },
          "10": {
            "label": "",
            "style": this.getColorRangeStyles("#d6a43a")
          },
          "11": {
            "label": "",
            "style": this.getColorRangeStyles("#d66407")
          },
          "12": {
            "label": "",
            "style": this.getColorRangeStyles("#b1d608")
          },
          "13": {
            "label": "",
            "style": this.getColorRangeStyles("#12d69b")
          },
          "14": {
            "label": "",
            "style": this.getColorRangeStyles("#fafeff")
          },
          "15": {
            "label": "",
            "style": this.getColorRangeStyles("#fafeff", true)
          }
        }
      }
    },
    created() {
      this.initDialogData();
    },
    computed: {
      ...mapState(["astrings", "posts_filters", "is_phone", "icities", "iwatch_brands"]),

      /**
       * Дання хуйня проверяеет к какому типу относится слайдер цвета в фильтрах камней
       * и возвращает нужное значеение чтобы слайдер смог показывать адекватные тултипы над
       * ползунком слайдера
       * Влад. 10/02/20
       */
      getStoneColorPickerType() {
        if (this.filtersObject) {
          return AppTools.getStoneColorCollection(this.filtersObject.product);
        }
      },

      /**
       * Функция заполняющая пикеер месторождения камня согласно выбрнному типу камня.
       * Влад 26/02/20
       */
      getGemOriginOptions() {
        return this.astrings.post_form[`${this.filtersObject.product}_origin_opts`];
      },

      /**
       * Данная ебота возвтащает нужную разметку для слайдера цветов камня
       * @return {Object}
       */
      getStoneColorMarks() {
        if (this.filtersObject) {
          switch (this.filtersObject.product) {
            case "diamond":
              return {marks: this.diam_color_marks, size: 17};
            case "ruby":
              return {marks: this.ruby_color_marks, size: 7};
            case "emerald":
              return {marks: this.emerald_color_marks, size: 3};
            case "sapphire":
              return {marks: this.sapphire_color_marks, size: 15};
          }
        }
      },
    },
    methods: {
      ...mapMutations(["setVuexPostResultsFilter"]),
      initDialogData() {
        switch (this.$router.currentRoute.name) {
          case "posts-stones-posts":
            this.postGroup = Constants.ITEM_GROUP_STONE;
            this.filtersObject = this.posts_filters ? AppTools.clone(this.posts_filters) : AppTools.clone(Constants.STONES_FILTERS);
            break;
          case "posts-jeweleries-posts":
            this.postGroup = Constants.ITEM_GROUP_JEWL;
            this.filtersObject = this.posts_filters ? AppTools.clone(this.posts_filters) : AppTools.clone(Constants.JEWLS_FILTERS);
            break;
          case "posts-watches-posts":
            this.postGroup = Constants.ITEM_GROUP_WATCH;
            this.filtersObject = this.posts_filters ? AppTools.clone(this.posts_filters) : AppTools.clone(Constants.WATCHES_FILTERS);
            break;
        }
      },

      /**
       * Функция возвращающая объеект стиля для слайдера цветов бриллианта
       * Влад. 10/02/20
       */
      getColorRangeStyles(color, dual) {
        return {
          width: "15px",
          height: "15px",
          background: !dual ? color : 'linear-gradient(to right, black 51% , white 49%)',
          borderRadius: "50%",
          display: "flex",
          border: "solid 1px gray",
          transform: 'translate(-7px, -7px)'
        }
      },

      /**
       * Функция применяющая указанные пользователем филтры.
       * Влад.
       */
      applyFilters() {
        this.setVuexPostResultsFilter(this.filtersObject);
        this.$gtag.event("Применены фильтры", {
          event_category: this.postGroup,
          event_label: JSON.stringify(this.filtersObject),
          value: this.astrings.groups[this.postGroup]
        });
        this.$emit("close");
      },

      /**
       * Данная функция
       */
      onStoneChanged() {
        this.filtersObject.stone_color = [1, 3];
        this.filtersObject.count_color = false;
        this.filtersObject.stone_origin = null;
      },

      /**
       * Функция обнуляющая ранее установлеенные фильтры. Да бы пользователь не ебался и обнулял
       * филтры фручную по одному параметру.
       * Влад. 23/08/19
       */
      clearFilters() {
        this.setVuexPostResultsFilter(null);
        this.initDialogData();
        this.$emit("close");
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-filter-dialog
    .vi-dialog-footer, .vi-filters-content
      box-sizing: border-box

    .vi-filters-content
      padding: 15px 25px

    .vi-dialog-footer
      padding: 10px 25px 15px 25px
      height: 80px
      justify-content: flex-end

  .vi-filters-content
    overflow-x: hidden
    overflow-y: auto
    align-content: baseline
    +setGridAuto(auto, 25px, "rows")

    label:last-child
      padding: 0 0 20px 0

  .vi-slider-check-b
    border-top: $default_border
    border-bottom: $default_border
    padding: 10px 0 30px 0
    +setGridAuto(auto, 20px, "rows")
</style>
