<template>
  <div class="vi-app-dialog vi-dialog-login">
    <div class="vi-dialog-login-modes">
      <a @click="setDialogMode('login')" v-bind:class="{'is-active': dialogMode === 'login'}">{{astrings.login_dialog.sign_in}}</a>
      <a @click="setDialogMode('signup')" v-bind:class="{'is-active': dialogMode === 'signup'}">{{astrings.login_dialog.sign_up}}</a>
    </div>
    <form :class="['vi-login-form', {'vi-forgot-mode': dialogMode === 'forgot'}]">
      <aside>
        <vi-input :placeholder="astrings.email"
                  v-model="email"
                  type="email"
                  name="email"
                  add-class="vi-customized-input"
                  :validate-options="{ email: true, required: true }">
        </vi-input>
        <vi-input type="password"
                  :placeholder="astrings.login_dialog.pw_ph"
                  v-if="dialogMode !== 'forgot'"
                  v-model="password"
                  name="password"
                  add-class="vi-customized-input"
                  :validate-options="{ required: true, min: 6 }">
        </vi-input>
        <vi-input type="password"
                  name="repeat_pw"
                  v-model="repeat_pw"
                  add-class="vi-customized-input"
                  :placeholder="astrings.login_dialog.pw_repeat"
                  :validate-options="{ is: password, required: true }"
                  v-if="dialogMode === 'signup' && is_phone">
        </vi-input>
        <div class="vi-alert vi-alert-info" v-if="dialogMode === 'forgot'">{{astrings.login_dialog.forgot_msg}}</div>
        <button type="button" class="vi-login-btn" @click="send()">{{getMainBtnText}}</button>
        <button type="button" class="vi-forgot-pw" @click="setDialogMode('forgot')" v-if="dialogMode === 'login'">{{astrings.login_dialog.forgot_password}}</button>
      </aside>
      <aside class="vi-signup-part" v-if="dialogMode !== 'forgot'">
        <section class="vi-nickname-section vi-input-component" v-if="dialogMode === 'signup'">
          <input type="text"
                 v-bind:placeholder="astrings.name"
                 v-model="displayName"
                 name="dName"
                 v-debounce="checkNick"
                 @input="nickChecked = null"
                 :class="['vi-customized-input', {'vi-invalid-input' : errors.has('dName')}, {'vi-taken-name': nickChecked === false}, {'vi-name-available': nickChecked}]"
                 v-validate="{ required: dialogMode === 'signup' }"/>
          <label class="vi-name-is-taken" v-if="nickChecked === false" v-once>{{astrings.name_taken}}</label>
          <moon-loader class="vi-input-loader" :size="20" v-if="checkingName"></moon-loader>
        </section>
        <vi-input type="password"
                  name="repeat_pw"
                  v-model="repeat_pw"
                  add-class="vi-customized-input"
                  :placeholder="astrings.login_dialog.pw_repeat"
                  :validate-options="{ is: password, required: true }"
                  v-if="dialogMode === 'signup' && !is_phone">
        </vi-input>
        <img class="vi-login-image" src="../../assets/images/watch.png" v-if="dialogMode === 'login' && !is_phone">
      </aside>
    </form>
    <div class="vi-dialog-footer">
      <button @click="$emit('close')" v-once>{{astrings.cancel}}</button>
    </div>
    <Preloader v-bind:message="preloader_text" v-if="showLoginSpinner"></Preloader>
  </div>
</template>

<script>
  import Authentication from '@/assets/firestore/authentication';
  import Notifications from '@/assets/scripts/Notifications';
  import {Constants} from '@/assets/scripts/Constants';
  import {mapState} from 'vuex';
  import {Firestore} from "@/assets/firestore/firebaseConf";
  import Preloader from "@/components/Preloader";
  import Navigator from "@/assets/scripts/Navigator";
  import CFC from "@/assets/firestore/CommonFirestoreCaller";
  import {MoonLoader} from "@saeris/vue-spinners";
  import AppTools from "../../assets/scripts/CommonTools";

  export default {
    name: "LoginDialog",
    components: {
      Preloader,
      MoonLoader
    },
    data() {
      return {
        preloader_text: "",
        showLoginSpinner: false,
        displayName: "",
        email: "",
        password: "",
        repeat_pw: "",
        dialogMode: "login",
        nickChecked: null,
        checkingName: false,
        nav: new Navigator(this.$router)
      }
    },
    created() {
      this.preloader_text = this.astrings.login_dialog.action_text_login;
    },
    computed: {
      ...mapState([
        "astrings", "is_phone"
      ]),
      getMainBtnText: (ctx) => {
        switch (ctx.dialogMode) {
          case "login":
            return ctx.astrings.enter;
          case "signup":
            return ctx.astrings.create;
          case "forgot":
            return ctx.astrings.restore;
        }
      }
    },
    methods: {
      send() {
        this.$validator.validate().then((isValid) => {
          if (isValid) {
            switch (this.dialogMode) {
              case "login":
                this.login();
                break;
              case "signup":
                if (this.nickChecked) {
                  this.signUp();
                }
                break;
              case "forgot":
                this.resetPassword();
                break;
            }
          } else {
            Notifications.showWarning(this.astrings.attention, this.astrings.notifications.fill_required);
          }
        });
      },
      checkNick() {
        this.checkingName = true;
        this.displayName = this.displayName.trim();
        CFC.checkExistingNick(this.displayName).then(resp => {
          this.checkingName = false;
          this.nickChecked = resp;
        }).catch(() => {
          this.checkingName = false;
          this.nickChecked = null;
        });
      },
      signUp() {
        this.showLoginSpinner = true;
        Authentication.signup(this.email, this.password).then((signUpData) => {
          if (signUpData && signUpData.user) {
            this.sendNewUserDataToFirebase(signUpData);
            signUpData.user.updateProfile({
              displayName: this.displayName
            }).then((result) => {
              Authentication.sendUserEmailVerification();
              this.nav.goToCabinet();
            })
          }
        }, (error) => {
          this.showLoginSpinner = false;
          this.handleError(error);
        });
      },

      login() {
        this.showLoginSpinner = true;
        const component = this;
        Authentication.login(this.email, this.password).then(() => {
          this.nav.goToCabinet();
          component.$emit('close');
        }, (error) => {
          this.showLoginSpinner = false;
          this.handleError(error);
        });
      },

      resetPassword() {
        this.showLoginSpinner = true;
        const component = this;
        Authentication.sendResetPasswordRequest(this.email).then(() => {
          Notifications.showSuccess(null, this.astrings.login_dialog.reset_pw_sent);
          component.$emit('close');
        }, (error) => {
          this.showLoginSpinner = false;
          this.handleError(error);
        });
      },
      /**
       * Shows error notification, depending of language
       * @param error - error data object
       * Max, 20/01/2019
       */
      handleError(error) {
        switch (error.code) {
          case Constants.FIRE_ERR_NO_USER :
            Notifications.showError(this.astrings.attention, this.astrings.login_dialog.wrong_email);
            break;
          case Constants.FIRE_ERR_WRONG_PASS:
            Notifications.showError(this.astrings.attention, this.astrings.login_dialog.wrong_pass);
            break;
          case Constants.FIRE_ERR_EMAIL_IN_USE:
            Notifications.showError(this.astrings.attention, this.astrings.login_dialog.email_busy);
            break;
        }
      },

      setDialogMode(mode) {
        this.preloader_text = this.astrings.login_dialog["action_text_" + mode];
        this.dialogMode = mode;
      },
      /**
       * Sending basic user data to firebase after user creates his account
       * @param signUpData - signUp data object.
       * Vlad. 15/01/19
       */
      sendNewUserDataToFirebase(signUpData) {
        const component = this;
        Authentication.currentUser().then(function () {
          // creating user details object
          const createUser = new Promise(resolve => {
            Firestore.doc(`${Constants.FIRE_S_USERS}/${signUpData.user.uid}`)
              .set({
                account_id: signUpData.user.uid,
                account_email: signUpData.user.email,
                account_name: component.displayName,
                account_type: "regular",
                account_created_ts: new Date().getTime(),
                contact_details: AppTools.clone(Constants.USER_CONTACT_DET),
                is_blocked: false,
                license_type: "free",
                license_expires_at: null
              }).then(() => {
              resolve()
            });
          });

          const createPublic = new Promise(resolve => {
            Firestore.doc(`${Constants.FIRE_S_USERS_PUB}/${signUpData.user.uid}`).set({
              account_id: signUpData.user.uid,
              account_name: component.displayName,
              avatar: null
            }).then(() => {
              resolve()
            });
          });

          Promise.all([createUser, createPublic]).then(() => {
            component.$emit('close');
          });
        });
      }
    }
  };
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-dialog-login
    height: 100%
    width: 100%
    position: relative
    +setGrid(null, null, auto 1fr auto, null, "rows")

    .vi-dialog-footer button
      font-size: $regular_font

  .vi-dialog-login-modes
    height: 50px
    align-items: center
    justify-items: center
    border-bottom: solid 1px $light_grey
    +setGridAuto(1fr, 10px, "columns")
    a
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      box-sizing: content-box
      &.is-active
        border-bottom: solid 2px $c_brown

  .vi-login-form
    padding: 20px
    +setGrid(1fr 1fr, 20px, null, null, "columns")
    &.vi-forgot-mode
      grid-template-columns: 1fr
    aside
      align-content: flex-start
      +setGridAuto(auto, 20px, "rows")

  .vi-login-image
    max-width: 100%
    height: 100%
    margin: auto

  .vi-login-btn
    background-color: $c_brown
    height: $inputs_height
    width: 100%
    color: white

  .vi-nickname-section
    position: relative
    display: flex

    input
      width: 100%

  .vi-forgot-pw
    color: $c_brown
    font-size: $medium_font

  .vi-name-is-taken
    color: $main_red
    position: absolute
    z-index: 1
    right: 10px
    top: 15px
    font-size: $regular_font

  .vi-name-available
    background: $input_green
    color: $main_green_dark

  .vi-input-loader
    position: absolute
    right: 10px
    top: 13px

  @media all and (max-width: $smartphone_media)
    .vi-login-form
      align-content: flex-start
      grid-template-columns: none
      grid-template-rows: auto auto
      grid-row-gap: 20px

    .vi-signup-part
      grid-row: 1 / 2

    .vi-login-image
      max-height: 200px
      width: auto
      margin: auto

</style>
