<template>
  <div class="vi-app-dialog vi-my-post-full-view">
    <div class="vi-post-header">
      <span class="vi-post-created">{{!is_phone ? astrings.post_created_date : ""}} {{$moment(post.created_at_ts).fromNow()}}</span>
      <div class="vi-my-post-toolbar">
        <button @click="toggleChart()" :disabled="!chart_data.total_views">
          <ChartIcon :fill="show_chart ? 'rgb(30, 234, 57)' : '#9C6718'"/>
        </button>
        <ViewsWidget :amount="chart_data.total_views"/>
        <StatusWidget :post="post"/>
      </div>
    </div>
    <Chart type="bar" :data="chart_data" :str="istrings" v-if="chart_data.total_views && show_chart"/>
    <div class="vi-alert vi-alert-error vi-post-expires" v-if="extensionAllowed">
      <span>{{istrings.post_expiring_alert.replace("{days}", $moment(post.expires_at_ts).fromNow())}}</span>
        <Time width="25" viewbox="-40 -20 560 500" fill="#ff5260"></Time>
      <span>{{istrings.screen_bottom}}</span>
    </div>
    <div class="vi-alert vi-alert-error vi-post-rejected-msg" v-if="post.rejected && !post.approved">{{istrings.post_rejected_msg}}</div>
    <PostForm :existing-data="post" :editing-post="!formDisabled" :dialog-instance="this" :form-disabled="formDisabled"/>
    <div class="vi-dialog-footer vi-my-post-footer">
      <DeletePostButton :delete-method="deletePost"></DeletePostButton>
      <ExtendPostLife :post="this.post" :extend-life="extendPostLife"></ExtendPostLife>
      <PushPostToTopBtn
        :time="this.post.renewed_at_ts"
        :push-up="pushPostUp"
        v-if="this.basicLicenseValid"></PushPostToTopBtn>
      <button class="vi-simple-btn" @click="$emit('close')">
        <Close width="25" viewbox="-40 -20 550 500" fill="#6E4810"></Close>
      </button>
      <button class="vi-submit-btn" @click.prevent="saveOrEditPost()">
        <Edit viewbox="-60 -90 500 580" fill="#9C6718" v-if="formDisabled"></Edit>
        <Save viewbox="-90 0 650 500" fill="#9C6718" v-if="!formDisabled"></Save>
      </button>
    </div>
    <preloader v-if="form_request_sent"
               container-class="nb-preloader-transparent"
               :message="preloader_text">
    </preloader>
  </div>
</template>

<script>
  import ViewsWidget from "@/components/widgets/ViewsAmountWidget";
  import {Constants} from "@/assets/scripts/Constants";
  import {mapState, mapMutations} from "vuex";
  import AppTools from "@/assets/scripts/CommonTools";
  import PostForm from "../PostForm";
  import StatusWidget from "@/components/widgets/PostStatusWidget";
  import {Firestore, Firebase, Performance} from "@/assets/firestore/firebaseConf";
  import Preloader from "@/components/Preloader";
  import ExtendPostLife from "@/components/ExtendPostLifeButton";
  import Close from "../icons/close_icon";
  import Edit from "../icons/edit_icon";
  import Save from "../icons/v_icon";
  import Time from "../icons/time_icon";
  import DeletePostButton from "../DeletePostButton";
  import Chart from "../PostViewsChartComponent";
  import ChartIcon from "../icons/chart_icon";
  import CFC from "../../assets/firestore/CommonFirestoreCaller";
  import Notifications from "../../assets/scripts/Notifications";
  import PushPostToTopBtn from "../PushPostToTopBtn";
  import LicenseValidationMixin from "@/assets/mixins/LicenseValidationMixin";

  export default {
    name: "PostFullViewDialog",
    mixins: [LicenseValidationMixin],
    components: {
      PostForm,
      ViewsWidget,
      Preloader,
      StatusWidget,
      ExtendPostLife,
      Close,
      Edit,
      Save,
      Time,
      DeletePostButton,
      Chart,
      ChartIcon,
      PushPostToTopBtn
    },
    data() {
      return {
        post: this.$attrs.post,
        postRefs: AppTools.getAllPostDbReferences(this.$attrs.post),
        formDisabled: true,
        preloader_text: null,
        chart_data: {},
        show_chart: false,
        group: AppTools.getPostGroup(this.$attrs.post)
      }
    },
    created() {
      CFC.getPostViews(this.post.id, this.is_phone).then(chartData => {
        if (chartData) {
          this.chart_data = chartData;
        }
      });
    },
    computed: {
      ...mapState([
        "astrings",
        "istrings",
        "user_details",
        "async_request_sent",
        "form_request_sent",
        "is_phone"
      ]),
      extensionAllowed: (ctx) => {
        const daysLeft = AppTools.getTimeDiff(ctx.$moment, ctx.post.expires_at_ts);
        return daysLeft <= 9;
      }
    },
    methods: {
      ...mapMutations(["setVuexFormRequestState"]),
      /**
       * Данная функция выстреливает ивент в компонент формы объявления
       * чтобы сохранить изменения либо активировать режим редактирования объявления
       * Влад. 26/03/19
       */
      saveOrEditPost() {
        if (!this.formDisabled) {
          this.$bus.emit(Constants.BUS_SAVE_POST);
          this.formDisabled = !this.formDisabled;
        } else {
          this.formDisabled = !this.formDisabled;
        }
      },

      /**
       * Устанавливает статус прилоадера и его текст
       * Влад. 03/04/19
       */
      setPreloader(value, message) {
        this.setVuexFormRequestState(value);
        this.preloader_text = message;
      },

      /**
       * Дання функция показывает граф с аналитикой объявления
       * Влад. 23/01/20
       */
      toggleChart() {
        this.show_chart = !this.show_chart;
        if (this.show_chart) {
          this.$gtag.event("Открыта аналитика объявления", {
            event_category: this.group,
            event_label: this.post.id
          });
        }
      },

      /**
       * Данная функция увеличиват срок жизнни объявления.
       * Доступна только в случае если текущий срок жизни объявления 10 и менее дней
       * Влад 09/10/19
       */
      extendPostLife() {
        this.setPreloader(true, this.istrings.extending_life_span);
        const trace = Performance().trace("extendPostLife");
        const extendLife = Firebase.functions().httpsCallable('extendPostLife');
        trace.start();
        extendLife({
          account_id: this.post.account_id,
          id: this.post.id,
          group: this.group
        }).then((response) => {
          trace.stop();
          this.$bus.emit(Constants.BUS_UPD_POST_EXP, {post: this.post, newTimestamp: response.data});
          this.setPreloader(false, null);
          this.$gtag.event('Продлен срок деятельности', {
            event_category: this.group,
            event_label: `Польз: ${this.post.account_id}, Объ: ${this.post.id}`
          });
          this.$emit('close');
        }).catch(error => {
          trace.stop();
          this.setPreloader(false, null);
          if (error.message === "illegal") {
            Notifications.showError(this.istrings.error, this.istrings.post_is_young_ntf);
          }
        });
      },

      /**
       * Функция поднимающая объявление в топ списка
       * Влад. 23/03/20
       */
      pushPostUp() {
        const trace = Performance().trace("pushPostUp");
        const pushUp = Firebase.functions().httpsCallable('pushPostUp');
        this.setPreloader(true, "");
        trace.start();
        pushUp({
          account_id: this.post.account_id,
          id: this.post.id,
          group: this.group
        }).then(() => {
          trace.stop();
          this.setPreloader(false, null);
          this.$gtag.event("Объявление поднято наверх", {
            event_category: "Объявление поднято наверх",
            event_label: `Польз: ${this.post.account_id}, Объ: ${this.post.id}, группа: ${this.group}`
          });
          Notifications.showSuccess(this.istrings.pushed_up_post_msg);
          this.$emit('close');
        }).catch(error => {
          trace.stop();
          this.setPreloader(false, null);
          if (error.message === "illegal") {
            Notifications.showError(this.istrings.error, this.istrings.push_to_top_forbidden);
          }
        });
      },

      /**
       * This function removes current post from database
       * Vlad. 01/04/19
       */
      deletePost() {
        this.setPreloader(true, this.astrings.deleting_post);
        const uris = [this.postRefs.postSlimPath, this.postRefs.postFullPath, this.postRefs.postsPerUserPath, this.postRefs.postViewsPath];
        const trace = Performance().trace("deletePost");
        const allPromises = uris.map(uri => {
          return new Promise((resolve) => {
            Firestore.doc(uri).delete().then(() => {
              resolve();
            }).catch(() => {
              resolve();
            });
          });
        });
        // Данный промис реагирует когда объявления удалено во всех трех указанных таблицах.
        trace.start();
        Promise.all(allPromises).then(() => {
          trace.stop();
          this.setPreloader(false, null);
          this.$gtag.event("Объявление удалено", {
            event_category: this.group,
            event_label: `Польз: ${this.post.account_id}, Объ: ${this.post.id}`
          });
          this.$emit('close');
        });
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables.sass"
  .vi-app-dialog.vi-my-post-full-view
    padding: 15px 0 15px 15px

    .vi-dialog-footer
      height: auto
      padding: 15px 15px 0 0
      justify-content: flex-end

  .vi-post-expires, .vi-post-rejected-msg
    margin: 0 20px 0 0
    display: inline-flex
    align-items: center
    svg
      margin: 0 5px


  .vi-my-post-full-view
    +setGrid(null, null, auto 1fr auto, 20px, "rows")
    height: 100%

  .vi-post-header
    border-bottom: solid 1px $dark_grey
    align-items: center
    justify-content: space-between
    font-size: $small_font
    margin: 0 20px 0 0
    padding: 0 0 10px 0
    +setGridAuto(auto, null, "columns")

  .vi-my-post-footer button
    width: 80px

  .vi-my-post-toolbar
    +setGridAuto(auto, 15px, "columns")
    align-items: center

    button
      padding: 0

  @media all and (max-width: $smartphone_media)
    .vi-app-dialog.vi-my-post-full-view
      .vi-my-post-footer
        justify-content: stretch

        button, .trigger
          width: 100%

      .vi-post-expires
        flex-direction: column
        text-align: center

</style>
