<template>
  <section class="vi-nav-dialog">
    <nuxt-link v-for="link in astrings.main_links_mob"
               :to="link.route"
               :key="link.route"
               @click.native="closeDialog()" v-gtag>
      {{link.name}}
    </nuxt-link>
  </section>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "NavDialog",
    computed: {
      ...mapState(["astrings"])
    },
    methods: {
      closeDialog() {
        this.$emit('close');
      }
    }
  }
</script>

<style lang="sass">
  @import '../../assets/styles/_variables.sass'
  .vi-nav-dialog
    +setGridAuto(60px, 0, "rows")

    a
      padding: 0 10px
      border-bottom: solid 1px $dark_grey
      align-items: center
      display: flex
      color: $c_dark_brown
      font-size: $medium_font

      &:last-child
        border-bottom: none

      &:active
        background: $light_grey

  @media (prefers-color-scheme: dark)
    .vi-nav-dialog
     // background: $dm_dark_bgr
     // a
     //   border-bottom: solid 1px $dm_disabled_bgr
      //  &:active
      //    background: $dm_disabled_bgr

</style>
