<template>
  <section class="vi-add-feedback-dialog vi-app-dialog">
    <h3 class="vi-view-section-title">{{astrings.add_comment}}</h3>
    <div class="vi-feedback-dc">
      <div class="vi-citation-block">
        <span class="vi-required-i">{{astrings.citation}}</span>
        <star-rating border-width="2" border-color="#dadada" inactive-color="white" :star-size="20" :show-rating="false" v-model="rating"></star-rating>
      </div>
      <vi-textarea field-icon="vi-required-i"
                   :header="astrings.feedback"
                   :maxlength="500"
                   v-model="feedback"
                   name="new-feed"
                   validate-options="required"
                   :class="{'vi-invalid-picker' : errors.has('product-type')}"></vi-textarea>
    </div>
    <footer>
      <button class="vi-simple-btn" @click="$emit('close')">{{astrings.cancel}}</button>
      <button class="vi-submit-btn" @click="sendFeedback()" :disabled="sendButtonState">{{astrings.send}}</button>
    </footer>
    <preloader v-if="sending"></preloader>
  </section>
</template>

<script>
  import {uuid} from 'vue-uuid';
  import {mapState} from "vuex";
  import Notifications from "../../assets/scripts/Notifications";
  import {Firestore} from "@/assets/firestore/firebaseConf";
  import {Constants} from "../../assets/scripts/Constants";
  import Preloader from "../Preloader";

  export default {
    name: "NewFeedbackDialog",
    components: {Preloader},
    props: ["mid"],
    data() {
      return {
        rating: null,
        feedback: null,
        sending: false
      }
    },
    created() {
      this.$gtag.event("Окно создания отзыва", {
        event_category: "Окно нового отзтва",
        event_label: ``
      });
    },
    computed: {
      ...mapState(["astrings", "user_details"]),
      sendButtonState: (ctx) => {
        return !ctx.rating || !ctx.feedback || !ctx.feedback.length;
      }
    },
    methods: {
      sendFeedback() {
        if (this.user_details.account_id && this.rating && this.feedback) {
          this.sending = true;
          const feedbackObject = {
            rating: this.rating,
            feedback: this.feedback,
            author: this.user_details.account_name,
            date_created: new Date().getTime(),
            id: uuid.v1(),
            approved: false
          };
          Firestore.doc(`${Constants.FIRE_S_FEEDBACKS}/${this.mid}/feedbacks/${feedbackObject.id}`).set(feedbackObject).then(() => {
            this.resetForm();
            this.sending = false;
            Notifications.showSuccess(this.astrings.thanks, this.astrings.notifications.feedback_saved);
            this.$gtag.event("Написан новый отзыв", {
              event_category: "Новый отзыв",
              event_label: `На пользователя: ${this.mid}, rating: ${this.rating}`
            });
            this.$emit("close");
          }).catch(error => {
            this.sending = false;
            Notifications.showError(this.astrings.error, this.astrings.fb_errors[error.code]);
          })
        } else {
          Notifications.showError(this.astrings.error, this.astrings.notifications.fill_required)
        }
      },

      resetForm() {
        this.rating = null;
        this.feedback = null;
      }
    }
  }
</script>

<style lang="sass">
  @import "../../assets/styles/variables"
  .vi-add-feedback-dialog
    padding: 25px
    height: 100%
    box-sizing: border-box
    +setGrid(null, null, auto 1fr auto, 10px, "rows")

    footer
      +setGridAuto(auto, 10px, "columns")
      justify-content: flex-end

  .vi-citation-block
    +setGridAuto(auto, 10px, "rows")
    span
      display: flex
      font-size: $small_font
      background-position: center right
  .vi-feedback-dc
    +setGrid(null, null, auto 1fr, 30px, "rows")

</style>
